<a href="https://colab.research.google.com/github/seongkai102/-/blob/main/%EC%BD%94%EB%93%9C%EC%97%85_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = int(input())
b = sorted(list(map(int, input().split())), reverse = True)

while len(b) > 1:
    b[0] = b[0] + (b[1] / 2)
    del b[1]

print(b[0])

###############gpt

a = int(input())
b = sorted(list(map(int, input().split())), reverse=True)

for i in range(1, a):
    b[0] += b[i] / 2

print(b[0])

In [ ]:
#1298 tlqkf 개어렵네

def gcd(a, b):
    if b == 0:
        return a, 1, 0
    g, x1, y1 = gcd(b, a % b)
    x = y1
    y = x1 - (a // b) * y1
    return g, x, y

def find_solution(A, B, C):
    if A == 0 and B == 0:
        if C == 0:
            return (1, 1)
        else:
            return "Not Exist"

    if A == 0:
        if C % B == 0:
            x = 1
            y = C // B
            return (x, y)
        else:
            return "Not Exist"

    if B == 0:
        if C % A == 0:
            x = C // A
            y = 1
            return (x, y)
        else:
            return "Not Exist"

    g, x, y = gcd(A, B)

    if C % g != 0:
        return "Not Exist"

    x *= C // g
    y *= C // g
    return x, y

A, B, C = map(int, input().split())

result = find_solution(A, B, C)
if result == "Not Exist":
    print(result)
else:
    print(result[0], result[1])

In [ ]:
#1373

import sys
sys.setrecursionlimit(10000000)
def fact(num):
	if num > 1:
		return num * fact(num - 1)
	else :
		return 1

n, m, k, p = map(int, input().split())
d = 0
count = 0

n = abs(n)
m = abs(m)

if n > m:
	n, m = m, n

if k == 0:
	if n == 0:
		if m == 0:
			d = 4
			count = 8
		elif m == 1:
			d = 3
			count = 2
		else:
			d = m + 2
			count = ((m + 1) * m)
	elif n == 1:
		if m == 1:
			d = 4
			count = 4
		else:
			d = m + 1
			count = m - 1
	else:
		d = n + m
		count = fact(n + m) // (fact(n) * fact(m)) - 2
else:
	if n == 0:
		if m == 0:
			d = 6
			count = 24
		elif m == 1:
			d = 5
			count  =  10
		elif m == 2:
			d = 4
			count = 2
		elif m == 3:
			d = 5
			count = 10
		else:
			d = m + 2
			count = ((m + 1) * m)
	elif n == 1:
		if m == 1:
			d = 4
			count = 4
		elif m == 2:
			d = 5
			count = 8
		else:
			d = m + 1
			count = m - 1
	else:
		if m - n == 0:
			d = n + m
			count = fact(n + m) // (fact(n) * fact(m)) - 4
		elif m - n == 1:
			d = n + m
			count = fact(n + m) // (fact(n) * fact(m)) - 3
		else:
			d = n + m
			count  = fact(n + m) // (fact(n) * fact(m)) - 2

if p == 0:
	print(d, count)
else:
	print(d, int(count % p))

In [ ]:
matrix = []


for i in range(100):
  matrix.append([0 for j in range(100)])

N = int(input())
for k in range(N):
  x, y = map(int, input().split())
  for i in range(x, x + 10):
    for j in range(y, y + 10):
      matrix[i][j] = 1

myeonjuck = 0
for i in range(100):
  for j in range(100):
    if matrix[i][j] == 1:
      myeonjuck += 1
print(myeonjuck)

3
3 7
15 7
5 2
260

In [ ]:
a = int(input())
b = [input() for i in range(a)]

for i in range(a):
  if i+1 == a:
    print(b[i])
  else:
    print(f'{b[i]}\nAMOLED')

2
AMOLED
AMOLED
AMOLED
AMOLED
AMOLED

In [ ]:
a = int(input())

b = sorted([input() for _ in range(a)])
output_count = len(b) // a

for i in range(a):
    print(b[i])

2
def
avc
avc
def

In [ ]:
a = [input() for i in range(int(input()))]
b = 0
for i in a:
  if len(i) <= 3 or ('tap' in i or 'xocure' in i):
    b+=1
    print(i)

print("safe" if b <= 3 else ("warning" if b <= 6 else "danger"))

8
windows tap
hi
microsoft office 2013
xocure web player
xecure safe
goclean
alyac
von
windows tap
hi
xocure web player
von
warning

In [ ]:
w,h,n = map(int, input().split())

matr = [input() for i in range(n)]

new_m = ''
for i in matr:
  for j in range(h):
    for k in range(len(i)):
      a = i[k]*w
      new_m+=a
    new_m+='\n'

print(new_m)

3 3 5
**_**_**_**_**
_**_**_**_**_**
__**_**_**_**_**
___**_**_**_**_**
____**_**_**_**_**
******___******___******___******___******
******___******___******___******___******
******___******___******___******___******
___******___******___******___******___******
___******___******___******___******___******
___******___******___******___******___******
______******___******___******___******___******
______******___******___******___******___******
______******___******___******___******___******
_________******___******___******___******___******
_________******___******___******___******___******
_________******___******___******___******___******
____________******___******___******___******___******
____________******___******___******___******___******
____________******___******___******___******___******

In [ ]:
print(*(input().split(',')))

4,52,600,-5,0
4 52 600 -5 0

In [ ]:
a = input().split(';')

for i in a:
    b = i.split(',')
    for j in b:
        c = j.split()
        print(f'{c[0]}',end=' ')
    print()

In [ ]:
a, b = map(int, input().split())

print("tie" if a == b else "win" if (a == 0 and b == 1) or (a == 1 and b == 2) or (a == 2 and b == 0) else "lose")

In [ ]:
a,b = map(int, input().split())
c = a // b

if c > 9999:
  print('번호 초과 오류')
else:
  for i in range(1,c+1):
    print(f"F-{i:04}")

19 6
f-0001
f-0002
f-0003

In [ ]:
a,b,c = map(int, input().split())

for i in range(c, 0, -1):
  if a % i == 0 and b % i == 0 and c % i == 0 :
    print(i)
    break

10 20 30
10

In [ ]:
a = sum([ int(i) for i in input() ])
print('Bad' if a % 7 == 4 else 'Good')

1234567890
Good

In [ ]:
a = int(input())
b = [int(input()) for i in range(a)]
c = sorted(b, reverse=True)

for i in b:
  print(c.index(i)+1)

3
100
90
90
1
2
2

In [ ]:
a,b = map(int, input().split())

print(f'+{"-"*(a-2)}+')
for i in range(b-2):
  print(f"|{' '*(a-2)}|")
print(f'+{"-"*(a-2)}+')

3 3
+-+
| |
+-+

In [ ]:
mat = [list(map(int, input().split())) for i in range(5)]

dir = [(-1, -1), (-1, 0), (-1, 1), (0, -1), (0, 1), (1, -1), (1, 0), (1, 1)]

cnt = []

for x in range(5):
  for y in range(5):
    c = []
    c.append(mat[x][y])
    for dx, dy in dir:
      nx, ny = x + dx, y + dy
      if 0 <= nx < 5 and 0 <= ny < 5:
        c.append(mat[nx][ny])
    cnt.append(sum(c))

print(max(cnt))

1 1 1 1 1
1 1 2 2 2
1 1 2 2 2
1 1 2 2 2
1 1 1 1 1
18
[4, 7, 8, 9, 6, 6, 11, 13, 15, 10, 6, 12, 15, 18, 12, 6, 11, 13, 15, 10, 4, 7, 8, 9, 6]

In [ ]:
n = int(input())

cnt = 0
for a in range(1, n):
    for b in range(a, n):
        c = n - (a + b)
        if c < b:
            break
        if b + a > c:
            print(f"{a} {b} {c}")
            cnt += 1
if cnt == 0:
    print("-1")

9
1 4 4
2 3 4
3 3 3

In [ ]:
for s in range(10):
    for o in range(10):
        for t in range(10):
            if len(set([s, o, t])) != 3:
                continue

            so = 10 * s + o
            too = 100 * t + 10 * o + o

            if so + so == too:
                print(f"{so}+{so}={too}")

50 + 50 = 100

In [ ]:
a = list(map(int, input().split()))
print(*a[::-1])

5 7 2
2 7 5

In [ ]:
b = list(map(int, input().split()))
a = ''.join(map(str, b))
print( f'{a} {a}' if int(b[1])% 2 == 0 else a)

2 2 14
2214 2214

In [ ]:
a = int(input())

hout = a // 3600
remaining_after_hours = a % 3600
mit = remaining_after_hours // 60
sec = remaining_after_hours % 60

print(hout, mit, sec)

3602
1 0 2

In [ ]:
a = input()
b = '20'+a[:2] if int(a[7]) > 2 else '19'+a[:2]
c =  'M' if int(a[7]) % 2 != 0 else 'F'
print(2013 - int(b) ,c)

020111 4421234
11 F

In [ ]:
a = input()
b = a.count('3') + a.count('6') + a.count('9')
print(a if b ==0 else 'K' if b==1 else 'KK' if b==2 else 'KKK')

93
KK

In [ ]:
a = list(map(int, input().split()))
b = f'{sum(a)/len(a):.01f}'
c,d=0,0
for i in a:
  if i >= float(b):
    c+=1
  else:
    d+=1

print(f'{b}\n{c} {d}')

0 0 0 0 0 0 0 0 0 0
0.0
10 0

In [ ]:
z = input()
a = list(map(int, input().split()))
b = sorted(a, reverse=True)

for i in a:
  print(i,b.index(i)+1)

97 65 84 84 91
97 65 84 84 91
97 1
65 5
84 3
84 3
91 2

In [ ]:
a = input()
print(*sorted(list(map(int, input().split())), reverse=True))

7
51 44 81 1 9 12 25
81 51 44 25 12 9 1

In [ ]:
#1711
x1, y1 = map(int, input().split())
x2, y2 = map(int, input().split())
x3, y3 = map(int, input().split())

max_x = max(x1, x2)
max_y = max(y1, y2)

matrix = [[0] * (max_y + 1) for _ in range(max_x + 1)]

# 사각형 그리기
for x in range(min(x1, x2), max(x1, x2) + 1):
    for y in range(min(y1, y2), max(y1, y2) + 1):
        matrix[x][y] = 1

print('비충돌' if x3 > max_x or y3 > max_y else '충돌' if matrix[x3][y3] == 1  else '비충돌')

10 3
15 8
1 1
비충돌

In [ ]:
a,b,c = map(int, input().split())
print(*[i for i in range(a,c+1,b-a)])

1 3 40
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39

In [ ]:
a, b = map(int, input().split())

x,y = 0,0
for i in range(a,b+1):
  if i % 3 == 0 and i % 4 == 0:
    pass
  elif i % 3 == 0:
    x+=i
  elif i % 4 == 0:
    y+=i

print(x-y)

3 16
5

In [ ]:
print(input()[::-1])

123456
654321

In [ ]:
from math import gcd

a, b = map(int, input().split())
g = gcd(a, b)
print(a // g, b // g)

2802 9628
1401 4814

In [ ]:
a, b = map(int, input().split())

c = 0
for i in range(1, a):
  if i % 2 == 0:
    c+=30
  else:
    c+=31


print(306-c+b)

10 29
60

In [ ]:
a, b = map(int, input().split())

c = 0
for i in range(1, a):
    if i % 2 == 0:
        c += 30
    else:
        c += 31

print(305 - (c + (b - 1))-1)

10 29
1

305

In [ ]:
a = input()
C = int(a[a.find('C')+1:a.find('H')]) if a[a.find('C')+1] != 'H' else 1
H = int(a[a.find('H') + 1:]) if a.find('H') != -1 and a[a.find('H') + 1:].isdigit() else 1
print(C*12+H*1)

C12H12
156

In [ ]:
a = int(input())
b = [list(map(int, input().split())) for i in range(a)]

c = True
for i in range(a):
  if min(b[i][0:3]) != b[i][-1]:
    print(i+1, min(b[i][0:3]))
    c = False
    break

if c:
  print(-1)

3
3 5 8 3
3 9 8 8
8 3 9 3
2 3

In [ ]:
import math
z = input()
x1, y1 = map(int, input().split())

x2, y2 = map(int, input().split())

x3, y3 = map(int, input().split())

distance1 = math.sqrt((x2 - x1)**2 + (y2 - y1)**2)
distance2 = math.sqrt((x3 - x2)**2 + (y3 - y2)**2)
print(f"{distance1+distance2:.2f}")

In [ ]:
import math
a = int(input())
b = [list(map(int, input().split())) for _ in range(a)]

distance = 0
for i in range(len(b)-1):
  distance += math.sqrt((b[i][0] - b[i+1][0])**2 + (b[i][1] - b[i+1][1])**2)

print(f'{distance:.02f}')

3
0 0
3 4
6 0
10.00

In [ ]:
print('special characters')
print('[\\n,\\",\\\\] is very important.')

special characters
[\n,\",\\] is very important.

In [ ]:
a, b = map(int, input().split())
print(f'{a/b:.1f}\n{a//b}\n{a**b}')

4 3
1.3
1
64

In [ ]:
print('IOI is the International Olympiad in Informatics.' if input() == 'IOI' else 'I don\'t care.')

IOI
IOI is the International Olympiad in Informatics.

In [ ]:
print('welcome! ' +  input())

anaki
welcome! anaki

In [ ]:
a = int(input())

date = a// 86400
hout = (a-86400*date) // 3600
remaining_after_hours = a % 3600
mit = remaining_after_hours // 60
sec = remaining_after_hours % 60

print(date ,hout, mit, sec)

	 302090
3 11 54 50

In [ ]:
print(len(input()))

black sheep wall
16

In [ ]:
print(input()[::-1])

KAIST
TSIAK

In [ ]:
b = [input() for i in range(int(input()))]
for i in b:
  print(i[::-1])

3
taehyeon
hyeonmin
sera
noeyheat
nimnoeyh
ares

In [ ]:
a = list(map(int, input().split()))
print(min(a), max(a))

9999999999999999999999999 9999999999999999999999998
9999999999999999999999998 9999999999999999999999999

In [ ]:
a =  {
    "dib": "Paint.Picture",
    "doc": "Word.Document.8",
    "docx": "Word.Document.12",
    "htm": "htmfile",
    "html": "htmlfile",
    "hwp": "Hwp.Document.96",
    "hwpx": "Hwp.Document.hwpx.96",
    "hwt": "Hwp.Document.hwt.96",
    "jpe": "jpegfile",
    "jpeg": "jpegfile",
    "jpg": "jpegfile",
    "ppt": "PowerPoint.Show.8",
    "pptx": "PowerPoint.Show.12",
    "pptxml": "powerpointxmlfile"
}

print(a[input().split('.')[-1]])

codeup.pptx
PowerPoint.Show.12

In [ ]:
a = input()
b = {a[i]: i for i in range(len(a))}
c = input().split()
for i in c:
  for j in range(len(i)):
    print(f'{b[i[j]]}', end = '')
  print('', end = ' ')

lohcgpdabk
lol abk abk
010 789 789

In [ ]:
a = sorted(
    [list(map(int, input().split())) for _ in range(int(input()))],
    key=lambda x: x[0]
)
for i in a:
  print(*i)

3
2 10
3 20
1 30
1 30
2 10
3 20

In [ ]:
def ubs(n, hs = 1):
  if n == 1:
    return hs
  elif n % 2 == 0:
    hs += 1
    return ubs(n//2, hs)
  else:
    hs += 1
    return ubs((3*n+1), hs)

a, b=map(int, input().split())

c = []
for i in range(a, b+1):
  c.append((i, ubs(i)))

print(*max(c, key = lambda x: x[1]))

1 10
9 20

In [ ]:
def h():
    print("Hello, world!", end=" ")

def q(code):
    print(code, end=" ")

def b():
    for i in range(99, 2, -1):
        print(f"{i} bottles of beer on the wall, {i} bottles of beer.")
        print(f"Take one down and pass it around, {i-1} bottles of beer on the wall.")
    print("2 bottles of beer on the wall, 2 bottles of beer.")
    print("Take one down and pass it around, 1 bottle of beer on the wall.")
    print("1 bottle of beer on the wall, 1 bottle of beer.")
    print("Take one down and pass it around, no more bottles of beer on the wall.")
    print("No more bottles of beer on the wall, no more bottles of beer.")
    print("Go to the store and buy some more, 99 bottles of beer on the wall.")

def main():
    code = input()
    for char in code:
        if char == 'H':
            h()
        if char == 'Q':
            q(code)
        if char == '9':
            b()

if __name__ == "__main__":
    main()

In [ ]:
a = input()
b,c = map(int, input().split())
print(a[b-1:c])

abcde
1 3
abc

In [ ]:
def a(a):
  return '*'*a

print(a(int(input())))

3
***

In [ ]:
def print_numbers(n,i=1):
    if i > n:
        return
    else:
        print(i, end = ' ')
        return print_numbers(n, i+1)

print_numbers(int(input()))

10

55

In [ ]:
def print_numbers(n,i=1,b=[]):
    if i > n:
        return sum(b)
    else:
        b.append(i)
        return print_numbers(n, i+1, b)

print(print_numbers(int(input())))

10
55

In [ ]:
print(sum(map(int, input())))

1234
10

In [ ]:
def fib(n):
    if n == 0:
        return 0
    elif n == 1 or n == 2:
        return 1
    else:
        return fib(n - 1) + fib(n - 2)

print(fib(int(input())))

6
8

In [ ]:
def count_ways(n):
    if n == 1:
        return 1
    elif n == 2:
        return 2
    elif n == 3:
        return 4
    else:
        return count_ways(n - 3) + count_ways(n - 2) + count_ways(n - 1)

n = int(input())
print(count_ways(n))

3
4

In [ ]:
import math
a,b = map(int, input().split())
print(math.comb(a,b))

In [ ]:
def pascal(n, k):
    if k == 0 or k == n:
        return 1
    return pascal(n-1, k-1) + pascal(n-1, k)

n, k = map(int, input().split())
print(pascal(n-1, k-1))

5 3
6

In [ ]:
def star(n,b=1):
  print('*'*b)
  if b == n:
    return ''
  return star(n,b+1)


print(star(int(input())))

5
*
**
***
****
*****

In [ ]:
def sp(n, b=[1]):

  print(*b)
  if len(b) == n:
    return ''
  b.append(b[-1]+1)
  return sp(n, b)

print(sp(int(input())))

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#1861
def pascal_triangle(n, row=0, col=0):
    if row == n:
        return ''
    if col > row:
        print()
        return pascal_triangle(n, row + 1, 0)
    print(1 if col == 0 or col == row else pascal_triangle_value(row, col), end=" ")
    return pascal_triangle(n, row, col + 1)

def pascal_triangle_value(row, col):
    if col == 0 or col == row:
        return 1
    return pascal_triangle_value(row - 1, col - 1) + pascal_triangle_value(row - 1, col)

num_rows = int(input())
print(pascal_triangle(num_rows))

5
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1

In [ ]:
#1862
MOD = 1000000007

def fibonacci(n, memo={1: 1, 2: 1}):
    if n in memo: #종료 코드
        return memo[n]
    memo[n] = (fibonacci(n - 1, memo) + fibonacci(n - 2, memo)) % MOD
    # print(f"n = {n}, memo = {memo}")
    return memo[n] #중간 상태 저장 (if문이 실행되기 전까지)

n = int(input())
print(fibonacci(n))

67
569898238

In [ ]:
def hs(a,b=1,c=[]):
  if b>a:
    return c
  c.append(b)
  return hs(a,b+1,c)

a = int(input())
print(sum(hs(a)))

100
5050

In [ ]:
import sys

sys.setrecursionlimit(100000)

def hs(a, b=0):
    if a == 0:
        return b
    return hs(a - 1, b + a)

a = int(input())
print(hs(a))

In [ ]:
def fac(n):
  if n ==0:
    return 1
  return n*fac(n-1)

print(fac(int(input())))

5
120

In [ ]:
def fib(n):
    if n == 0:
        return 0
    elif n == 1 or n == 2:
        return 1
    else:
        return fib(n - 1) + fib(n - 2)

print(fib(int(input())))

7
13

In [ ]:
from functools import lru_cache

@lru_cache(None)
def fib(n):
    if n == 0:
        return 0
    elif n == 1 or n == 2:
        return 1
    else:
        return fib(n - 1) + fib(n - 2)

print(fib(int(input())) % 10009)

151
3081

In [ ]:
import sys
sys.setrecursionlimit(100000)

def ss(base, exponent):
    if exponent == 0:
        return 1
    if exponent % 2 == 0:
        half_result = ss(base, exponent // 2)
        return half_result * half_result
    else:
        return base * ss(base, exponent - 1)

base, exponent = map(int, input().split())
print(ss(base, exponent))

In [ ]:
print(int(input()[::-1]))

1200

21

In [ ]:
print(bin(int(input()))[2:])

7
111

In [ ]:
def to_base_recursive(n, k):
    return (to_base_recursive(n // k, k) if n >= k else '') + "0123456789ABCDEF"[n % k]

n, k = map(int, input().split())
print(to_base_recursive(n, k))

14 16
E

In [ ]:
def hc(a, hs=1):
    return hs if a == 1 else hc(3*a + 1 if a % 2 else a // 2, hs + 1)

a = int(input())
print(hc(a))

21
8

In [ ]:
import math
a,b = map(int, input().split())
print(math.comb(a,b))

TypeError: 'str' object is not callable

In [ ]:
def hc(a, hs=[]):
  hs.append(a)
  return hs if a == 1 else hc(3*a + 1 if a % 2 else a // 2, hs)

a = int(input())
print(hc(a))

5
[5, 16, 8, 4, 2, 1]

In [ ]:
def hc(a, hs=[]):
  hs.append(a)
  return hs if a == 1 else hc(3*a + 1 if a % 2 else a // 2, hs)

def pp(a = hc(int(input())), hs=0):

    if len(a) == hs:
        return ''
    print(a[-(hs + 1)])
    return pp(a, hs + 1)

print(pp())

TypeError: 'str' object is not callable

In [ ]:
import sys
from functools import lru_cache

@lru_cache(None)
def SuperSum(k, n):
    if k == 0:
        return n
    return sum(SuperSum(k - 1, i) for i in range(1, n + 1))

#input = sys.stdin.read()
data = input.split()

i = 0
while i < len(data):
    k = int(data[i])
    n = int(data[i + 1])
    print(SuperSum(k, n))
    i += 2

In [ ]:
def find_lca(a, b):
    if a == b:
        return a
    if a > b:
        return find_lca(a // 2, b)
    return find_lca(a, b // 2)


a, b = map(int, input().split())

print(find_lca(a, b))

In [ ]:
def find_lca(a, b, hs=0):
    if a == b:
        return hs
    if a > b:
        return find_lca(a // 2, b,hs+1)
    return find_lca(a, b // 2,hs+1)


a, b = map(int, input().split())

print(find_lca(a, b))

3 4
3

In [ ]:
def see(a,b=1):
  print('*'*b)
  if b == a:
    return ''
  return see(a,b+1)

print(see(int(input())))

3
*
**
***

In [ ]:
def see(a):
  print('*'*a)
  if a == 1:
    return ''
  return see(a-1)

print(see(int(input())))

3
***
**
*

In [ ]:
def L(n):
  line = 1+(n*(n+1)//2)
  return line

print(L(2)%137)

4

In [ ]:
n = int(input())
print(1+(n*(n+1)//2)%137)

3
7

In [ ]:
(700+198)+((700+198))*(10/100)
a = [int(input()) for i in range(3)]
b = [int(input()) for i in range(2)]

987.8

In [ ]:
#1373

import sys

def mn(m, n, p):
    if m < n:
        m, n = n, m

    remains = [0] * 2400
    c = 1

    for i in range(m + n, m, -1):
        k = i
        for j in range(2, k + 1):
            while k % j == 0:
                k //= j
                remains[j] += 1

        if i - m > 0:
            k = i - m
            for j in range(2, k + 1):
                while k % j == 0:
                    k //= j
                    remains[j] -= 1

    if p != 0:
        for i in range(2400):
            if remains[i] != 0:
                j = remains[i]
                while j > 0:
                    c *= i
                    c %= p
                    j -= 1
    else:
        for i in range(2400):
            if remains[i] != 0:
                j = remains[i]
                while j > 0:
                    c *= i
                    j -= 1

    return c

n, m, k, p = map(int, input().split())
m = abs(m)
n = abs(n)

if m < n:
    m, n = n, m

if p != 0:
    if m == 1 and n == 1:
        print(4, 4 % p)
        sys.exit()
    if m == 2 and n == 1:
        if k == 0:
            print(3, 1 % p)
        else:
            print(5, 8 % p)
        sys.exit()
    if n == 0:
        if m == 0:
            if k == 0:
                print(4, 8 % p)
            else:
                print(6, 24 % p)
        else:
            if k:
                if m == 3:
                    print(5, 10 % p)
                elif m == 2:
                    print(4, 2 % p)
                elif m == 1:
                    print(5, 10 % p)
                else:
                    print(m + 2, (((m * (m - 1) // 2) + m) * 2) % p)
            else:
                print(m + 2, (((m * (m - 1) // 2) + m) * 2) % p)
        sys.exit()
    if k:
        if m == n:
            print(m + n, (mn(m, n, p) - 4 + p) % p)
        elif abs(m - n) == 1:
            print(m + n, (mn(m, n, p) - 3 + p) % p)
        else:
            print(m + n, (mn(m, n, p) - 2 + p) % p)
    else:
        print(m + n, (mn(m, n, p) - 2 + p) % p)
else:
    if m == 1 and n == 1:
        print(4, 4)
        sys.exit()
    if m == 2 and n == 1:
        if k == 0:
            print(3, 1)
        else:
            print(5, 8)
        sys.exit()
    if n == 0:
        if m == 0:
            if k == 0:
                print(4, 8)
            else:
                print(6, 24)
        else:
            if k:
                if m == 3:
                    print(5, 10)
                elif m == 2:
                    print(4, 2)
                elif m == 1:
                    print(5, 10)
                else:
                    print(m + 2, ((m * (m - 1) // 2) + m) * 2)
            else:
                print(m + 2, ((m * (m - 1) // 2) + m) * 2)
        sys.exit()
    if k:
        if m == n:
            print(m + n, mn(m, n, p) - 4)
        elif abs(m - n) == 1:
            print(m + n, mn(m, n, p) - 3)
        else:
            print(m + n, mn(m, n, p) - 2)
    else:
        print(m + n, mn(m, n, p) - 2)

3 0 1 0
5 10
3 -1

In [ ]:
#2001
a = [int(input()) for i in range(3)]
b = [int(input()) for i in range(2)]

c = []
for i in b:
  for j in a:
    c.append((i + j) + ((i + j) * (10 / 100)))

print(f'{min(c):.01f}')

800
700
900
198
330
987.8

In [ ]:
#2002
k = int(input())
a = input()
b = {'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6, 'G': 7, 'H': 8, 'I': 9, 'J': 10, 'K': 11, 'L': 12, 'M': 13, 'N': 14, 'O': 15, 'P': 16, 'Q': 17, 'R': 18, 'S': 19, 'T': 20, 'U': 21, 'V': 22, 'W': 23, 'X': 24, 'Y': 25, 'Z': 26}

def get_key_from_value(dictionary, value):
    for key in dictionary:
        if dictionary[key] == value:
            return key
    return None

for i in range(1,len(a)+1):
  s = 3*i+k
  next = (b[a[i-1]] - s)+26 if b[a[i-1]] - s < 1 else b[a[i-1]] - s
  print(get_key_from_value(b, next),end = '')

In [ ]:
a = ['*x*', ' xx','* *']
b = int(input())
c = []
for i in a:
  for j in range(b):
    print(f'{i[0]*b}{i[1]*b}{i[2]*b}')

3
***xxx***
***xxx***
***xxx***
   xxxxxx
   xxxxxx
   xxxxxx
***   ***
***   ***
***   ***

In [ ]:
#2007
a = int(input())
b = list(map(int, input().split()))

srt, n_srt = False, False
for i in range(len(b)-1):
  if b[i] < b[i+1]:
    srt = True
  elif b [i] > b[i+1]:
    n_srt = True


print('섞임' if srt == True and n_srt == True else '오름차순' if srt else '내림차순')
srt,n_srt

1
2992 444 123 111 74 33333
섞임

(True, True)

In [ ]:
#2008
a = int(input())
b = list(map(int, input().split()))

srt, n_srt = False, False
for i in range(len(b)-1):
  if b[i] < b[i+1]:
    srt = True
  elif b [i] > b[i+1]:
    n_srt = True
  else:
    pass

print('섞임' if srt == True and n_srt == True or len(set(b)) == 1 else '오름차순' if srt else '내림차순')

3
4 4 4
섞임

In [ ]:
#2004
# 입력
rows, cols = map(int, input().split())
cell_rows, cell_cols = map(int, input().split())

# 체크보드 생성
for i in range(rows):
    for k in range(cell_rows):
        line = []
        for j in range(cols):
            if (i + j) % 2 == 0:
                line.append('X' * cell_cols)
            else:
                line.append('.' * cell_cols)
        print(''.join(line))

In [ ]:
#2005

n = int(input())
a = list(map(int, input().split()))
m = int(input())

is_residue_system = True

for i in range(n):
    for j in range(i + 1, n):
        if abs(a[i] - a[j]) % m == 0:
            print('no')
            is_residue_system = False
            break
    if not is_residue_system:
        break

if is_residue_system:
    print('yes')

7
22 5 648 40 334 246 97
9
no

In [ ]:
#2006
a, b, c, d, s = [int(input()) for _ in range(5)]

def dist(a, b, s):
    q, r = divmod(s, a + b)
    res = q * (a - b) + min(r, a) - (r - a if r > a else 0)
    return res

nd = dist(a, b, s)
bd = dist(c, d, s)

print("Tied" if nd == bd else "Nikky" if nd > bd else "Byron")

4
2
5
3
12
Byron

In [ ]:
a, b = map(int, input().split())

ame = 0

while a >= b:
    new_ame = a // b
    ame += new_ame
    a = a % b + new_ame

print(ame)

10 3
4

In [ ]:
b, n = map(int, input().split())

a = round(b ** (1 / n))

candidates = [a, a - 1, a + 1]

print(min(candidates, key=lambda x: abs(b - x ** n)))

1000000 9
4
4

In [ ]:
for star in range(1, 10):
    for tri in range(0, 10):
        for sqa in range(0, 10):
            left = star * 100 + tri * 10 + sqa
            right = star * 10 + tri
            if left - right == sqa * 10 + sqa:
                print(f"{left}-{right}={sqa * 10 + sqa}")

109 - 10 = 99

In [ ]:
from itertools import permutations

def solve_cryptarithm():
    for perm in permutations(range(10), 10):
        F, O, R, T, Y, E, N, S, I, X = perm
        if F == 0 or S == 0 or T == 0:
            continue

        forty = 10000 * F + 1000 * O + 100 * R + 10 * T + Y
        ten = 100 * T + 10 * E + N
        sixty = 10000 * S + 1000 * I + 100 * X + 10 * T + Y

        if forty + ten + ten == sixty:
            print(f"{forty}+{ten}+{ten}={sixty}")
            return

solve_cryptarithm()

29786 + 850 + 850 = 31486
F=2, O=9, R=7, T=8, Y=6, E=5, N=0, S=3, I=1, X=4

In [ ]:
#2016
a = int(input()) // 3
b = input()[::-1]

c = [b[3*i:3*i+3] for i in range(a)]
if b[3*a:]:
    c.append(b[3*a:])

d = ','.join([i[::-1] for i in c[::-1]])

print(d)

8
12421421
12,421,421

In [ ]:
#2020
a = input()
symbol = {'I':1,'V':5,'X':10,"L":50,'C':100, 'D':500, 'M':1000}

num,mjy  = [],[]
for i in a:
  try:
    num.append(int(i))
  except:
    mjy.append(i)

b = 0
for i in range(len(mjy)):
    if i == len(mjy) - 1:
        b += symbol[mjy[i]] * num[i]
    elif symbol[mjy[i]] >= symbol[mjy[i + 1]]:
        b += symbol[mjy[i]] * num[i]
    else:
        b -= symbol[mjy[i]] * num[i]

print(b)

3M1D2C
3700

In [ ]:
#2021

import sys
from collections import defaultdict

input = sys.stdin.read
data = input().split()

n = int(data[0])
b = defaultdict(int)

for i in range(1, n + 1):
    c = int(data[i])
    b[c] += 1

k = list(b)
k.sort(key=lambda x: (-b[x], x))

mv = [x for x in k if b[x] == b[k[0]]]
sv = [x for x in k if b[x] < b[k[0]]]
if sv:
    sv = [x for x in sv if b[x] == b[sv[0]]]

if len(mv) > 1:
    res = max(mv) - min(mv)
else:
    res = max(abs(max(mv) - min(sv)), abs(min(mv) - max(sv)))

print(res)

4
10
6
1
8
4

In [ ]:
#2022
res = 0
chk = ""
n = int(input())
tar = input()

def sol():
    fst = -1
    for i in range(0, len(chk)):
        if chk[i] == tar[0]:
            fst = i
            for j in range(fst + 1, len(chk)):
                if chk[j] == tar[1]:
                    dist = j - fst
                    tar_idx = 2
                    chk_idx = 1
                    while True:
                        try:
                            if tar[tar_idx] == chk[j + (dist * chk_idx)]:
                                if tar_idx == len(tar) - 1:
                                    return 1
                                tar_idx += 1
                                chk_idx += 1
                            else:
                                break
                        except:
                            break
    return 0

for _ in range(n):
    chk = input()
    res += sol()

print(res)

4
bar
abracadabras
bathroom
bar
bartender
4

In [ ]:
#2023
def excel_column(n):
    result = []
    while n > 0:
        n -= 1
        remainder = n % 26 #알파벳 번호
        result.append(chr(remainder + ord('A')))
        n = n // 26  #다음 알파벳 구하기 위해서

    result.reverse()
    return ''.join(result)

a = int(input())
print(excel_column(a))

29
AC

In [ ]:
#2024
a = {1: '일', 2: '이', 3: '삼', 4: '사', 5: '오', 6: '육', 7: '칠', 8: '팔', 9: '구', 0: ''}
uni = ['', '십', '백', '천']
big = ['', '만', '억', '조']

num = input()
n_len = len(num)
res = ''

if num == '0':
    res = '영'
else:
    for i, dig in enumerate(num):
        n = int(dig)
        pos = n_len - i - 1

        if n != 0:
            res += a[n] + uni[pos % 4]

        if pos % 4 == 0 and pos // 4 > 0:
            if res[-1] not in big:
                res += big[pos // 4]

print(res)

100000000
일억만

In [ ]:
#2027

a = int(input())
cw = [1,1]

b = cw[-1]
for i in range(a-2):
  cw += [cw[b-1]+cw[-(b)]]
  b = cw[-1]

print(cw[-1])

5
3

In [ ]:
#2028

def ys(n):
    c = 0
    for i in range(1, int(n**0.5) + 1):
        if n % i == 0:
            c += 1
            if i != n // i:
                c += 1
    return c

a = int(input())

b,i = 0,0
while True:
  i += 1
  b += i
  if ys(b) > a:
    print(b)
    break

8
36

In [ ]:
#2031

def excel_column_to_number(column):
    result = 0
    length = len(column)

    for i in range(length):
        result *= 26
        result += ord(column[i]) - ord('A') + 1

    return result

column = input()

print(excel_column_to_number(column))

SFA
13001

In [ ]:
#2032
def dec_to_bin_frac(dec, pre=10):
    res = []
    cnt = 0
    while dec != 0 and cnt < pre:
        dec *= 2
        bit = int(dec)
        res.append(str(bit))
        dec -= bit
        cnt += 1

    return ''.join(res)

dec = float('0.'+input())
r = dec_to_bin_frac(dec)
if len(r) == 10:
  print(r)
else:
  while len(r) != 10:
    r+='0'
  print(r)

0625
0001000000

In [ ]:
000000==000000

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-56-2166bd37b705>, line 1)

In [ ]:
#2039
a,b,c,d,e,f,g = map(int, input().split())

h,m = a,b
for i in range(1,e+1):

  print(f'{h}:{m:02d}-', end='')

  m += c
  if m >= 60:
    h += m // 60
    m = m % 60
  print(f'{h}:{m:02d} {i}교시')

  if i != f:
    m += d
    if m >= 60:
      h += m // 60
      m = m % 60

  if i == f:
    print(f'{h}:{m:02d}-', end='')
    m += g
    if m >= 60:
      h += m // 60
      m = m % 60
    print(f'{h}:{m:02d} 점심시간')

6 45 55 8 10 6 78
6:45-7:40 1교시
7:48-8:43 2교시
8:51-9:46 3교시
9:54-10:49 4교시
10:57-11:52 5교시
12:00-12:55 6교시
12:55-14:13 점심시간
14:13-15:08 7교시
15:16-16:11 8교시
16:19-17:14 9교시
17:22-18:17 10교시

In [ ]:
#2043
word = input()

fst = word[0].upper()

map = {
    'b': '1', 'f': '1', 'p': '1', 'v': '1',
    'c': '2', 'g': '2', 'j': '2', 'k': '2', 'q': '2', 's': '2', 'x': '2', 'z': '2',
    'd': '3', 't': '3',
    'l': '4',
    'm': '5', 'n': '5',
    'r': '6'
}

enc = []
prev = None
for ch in word[1:].lower():
    if ch in "aehiouwy":
        prev = None
        continue
    dig = map.get(ch, '')
    if dig != prev or prev is None:
        enc.append(dig)
        prev = dig

res = fst + ''.join(enc)

print(res[:4].ljust(4, '0'))

Codeup
C310

In [ ]:
a, b = map(int, input().split())

for i in range(a, b+1):
  count = sum(1 for digit in str(i) if digit in '369')
  if count > 0:
      print('K' * count)
  else:
      print(i)

3 16
K
4
5
K
7
8
K
10
11
12
K
14
15
K

In [ ]:
a, b = map(int, input().split())
c = sum([1 for i in range(a, b+1) for j in range(len(str(i))) if str(i)[j] == '1'])
print(c)

9 13
5

In [ ]:
from itertools import groupby

def look_and_say(sequence):
    return ''.join(str(len(list(group))) + digit for digit, group in groupby(sequence))

def look_and_say_range(a, b):
    sequence = "1"
    for i in range(1, b + 1):
        if i >= a:
            reversed_sequence = ' '.join(sequence[::-1])
            print(reversed_sequence)
        sequence = look_and_say(sequence)
    return ''

a,b = map(int, input().split())
print(look_and_say_range(a, b))

1 6
1
1 1
1 2
1 1 2 1
1 2 2 1 1 1
1 1 2 2 1 3

In [ ]:
#2017
def f(n, k):
    if n == 0:
        return
    f(n // k, k)
    if n % k < 10:
        print(a[n % k], end='')
    else:
        print(a[n % k], end='')

a = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9',
     'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J',
     'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T',
     'U', 'V', 'W', 'X', 'Y', 'Z']

n, k = map(int, input().split())
if n == 0:
    print("0")
else:
    f(n, k)

In [ ]:
#2019
import math

a,b,c = map(int, input().split())

d = b**2 - 4*a*c

if d > 0:
    x1 = (-b + math.sqrt(d)) / (2*a)
    x2 = (-b - math.sqrt(d)) / (2*a)
    print(f"{x1:.02f}\n{x2:.02f}")
elif d == 0:
    x = -b / (2*a)
    print(f'{x:.02f}')
else:
    real_part = -b / (2*a)
    imaginary_part = math.sqrt(-d) / (2*a)
    print(f"{real_part:.02f}+{imaginary_part*-1 if imaginary_part < 0 else imaginary_part:.02f}i\n{real_part:.02f}-{imaginary_part*-1 if imaginary_part < 0 else imaginary_part:.02f}i")

-9 -8 -4
-0.44+0.50i
-0.44-0.50i

In [ ]:
#2025

a = input().split('/')
c = a[1]+a[2]
b = []

a0_list = list(a[0])
e = True
try:
  for i in c:
    if i in a[0]:
      b.append(i)
      a0_list[a0_list.index(i)] = ''
except:
  print('no')
  e = False

if e and len(b) == 4:
  print('yes')
elif len(b) < 4 and e:
  print('no')

1001/10/11
no

In [ ]:
#2026
a = list(input())

for i in a:
  b = int(i, 16)
  c = bin(b)[2:]

  print(c.zfill(len(i) * 4), end = ' ') # .zfill 주어진 길이만큼 앞에 0을 붙혀주는

A3
1010 0011

In [ ]:
#2029
# m, n = map(int, input().split())

# a = [[] for i in range(m+1)]
# a[0] = [1,1]

# for i in range(1,m):
#   for j in range(i):
#     a[i].append(a[i-1][j-1]+a[i-1][j])

##############################그냥 로직을 틀어버려

m, n = map(int, input().split())

a = [[] for _ in range(m+1)]
a[0] = [1, 1]

for i in range(1, m):
  c = [1]
  p = a[i-1]

  for j in range(len(p) - 1):
    c.append(p[j] + p[j+1])
    c.append(p[j+1])

  c.append(1)
  a[i] = c

print(a[m-1][n-1])

5 3
4

In [ ]:
#2033
k,n = map(int, input().split())

mat = []

for i in range(n):
  s1, s2 = map(int, input().split())
  mat.append((s1-1, s2-1))

p = int(input())-1

for i,j in mat:
  if p == i:
    p = j
  elif p == j:
    p = i

print(p+1)

3 2
1 2
2 3
1
2

In [ ]:
#2034

from itertools import combinations

def s(a,b,c):
  for i in combinations(c,2):
    if sum(i) == a and i[0] * i[1] == b:
        i = sorted(i)
        return f"x{i[0] if i[0] < 0 else ('+'+str(i[0]))}\nx{i[1] if i[1] < 0 else('+'+str(i[1]))}"

  for i in c:
    if i+i == a and i * i == b:
      return f"x{i if i < 0 else ('+'+str(i))}"

  return -1

a,b = map(int, input().split())

c = []
for i in range(1, abs(b)+1):
  if b % i == 0:
    c.append(-i)
    c.append(i)

print(s(a,b,c))

-4 -5
x-5
x+1

In [ ]:
#2035
a = int(input())
b = list(map(int, input().split()))

c = 0

if b[0] == 0 and (a == 1 or b[1] == 0):
    c += 1

for i in range(1,a-1):
  if b[i] == 1:
    pass
  elif b[i-1] == 0 and  b[i] == 0 and  b[i+1] == 0:
    c+=1

if b[-1] == 0 and (a == 1 or b[-2] == 0):
    c += 1

print(c if a != 1 else 1 if b[0] == 0 else 0)

1
1
0

In [ ]:
#2037

a = int(input())

b = set()
i = a
while True:
  if i // a == 1:
    b.add(i)
  else:
    break
  i+=1

print(b)

8
{8, 9, 10, 11, 12, 13, 14, 15}

In [ ]:
#2040
a = list(map(int, input().split()))
count = 0

k = -1
for i in range(10):
    if i >= 1 and a[i] == a[i-1]:
        count += 1
    elif i >= 1 and a[i] != a[i-1]:
        for j in range(2, 10):
            if i >= j and a[i-1] != a[i-j]:
                k = a[i-j]
                break
        if i >= j and a[i] == k:
            count += 1

print(count)

3 4 4 3 5 6 5 7 7 5
4

In [ ]:
#2041

a = [list(map(str, input().split())) for i in range(int(input()))]

for i in range(len(a)):
  b = ''
  for j in a[i][-1]:
    try:
      if type(int(j)) == int:
        b += j
    except:
      pass

  a[i][-1] = int(b)

b = {"January": 1, "February": 2, "March": 3, "April": 4, "May": 5, "June": 6,
    "July": 7, "August": 8, "September": 9, "October": 10, "November": 11, "December": 12}

y, m = 0, 0

for i in range(1, len(a)):
    prev_month = b[a[i-1][1]]
    curr_month = b[a[i][1]]
    prev_day = a[i-1][2]
    curr_day = a[i][2]

    if prev_month < curr_month:
        continue
    elif prev_month > curr_month:
        y += 1

    elif prev_month == curr_month:
        if prev_day > curr_day:
            y += 1

if y > 0:
    print(f'{a[0][0]} is {y} {"year" if y == 1 else "years"} older than {a[-1][0]}.')
else:
    print('No difference.')

In [ ]:
#2042

arr = [[0] * 19 for _ in range(19)]

def count(x, y, k):
    c = 0
    for i in range(x - (k // 2), x + (k // 2) + 1):
        for j in range(y - (k // 2), y + (k // 2) + 1):
            if arr[i][j] == 1:
                c += 1
    return c


n = int(input())
k = int(input())

for i in range(2, n + 2):
    row = list(map(int, input().split()))
    for j in range(2, n + 2):
        arr[i][j] = row[j - 2]

max_count = 0
best_x, best_y = 0, 0

for i in range(2, n + 2):
    for j in range(2, n + 2):
        if arr[i][j] == 1:
            continue

        c = count(i, j, k)

        if c > max_count and c < (k * k - 1):
            max_count = c
            best_x, best_y = i, j

if max_count > 0:
    print(f"{best_x - 1} {best_y - 1}")
else:
    print("119")

5
3
0 1 1 1 0
0 0 1 1 1
0 1 1 0 0
0 1 0 0 0
0 0 0 0 0

(1, 1)

In [ ]:
#2045
def main():
  n, m = map(int, input().split())
  chk = [0] * (n + 1)
  Ocnt = 0

  for _ in range(m):
      a, b = map(int, input().split())
      chk[a] += 1
      chk[b] += 1

  for i in range(1, n + 1):
      if chk[i] == 0:
          print("NO")
          return
      elif chk[i] % 2 == 1:
          Ocnt += 1

  if Ocnt == 0 or Ocnt == 2:
      print("YES")
  else:
      print("NO")

main()

4 7
1 2
1 3
1 4
2 3
2 3
3 4
3 4
NO
None

In [ ]:
#2046
a = input().split('/')
b = input().split('/')

i = 0
while a[i] == b[i]:
  i+= 1

u = len(a) - i - 1

r = ['..'] * u + b[i:]

print('/'.join(r) if len(r) > 2 else './'+'/'.join(r[0:]))

/a/b/c/d/e/f/g/h/i/j/k/l/m/n/o/p/atp.exe
/a/b/c/d/e/f/g/h/i/j/k/l/m/n/o/p/adp.exe
./adp.exe

In [ ]:
#2048

def sum_mat(b):
  n = 1
  for i in range(12):
    n*=2
    if b == n:
      return 'yes'

  return 'no'

a = [list(map(int, input().split())) for i in range(4)]
b = sum([sum(i) for i in a])

print(sum_mat(b))

2 2 2 2
4 4 0 0
0 16 0 0
16 16 64 0
yes

In [ ]:
#2049
def move_up(a):
    for j in range(4):
        merged = [False] * 4
        for i in range(1, 4):
            if a[i][j] != 0:
                while i > 0 and a[i-1][j] == 0:
                    a[i-1][j] = a[i][j]
                    a[i][j] = 0
                    i -= 1

                if i > 0 and a[i-1][j] == a[i][j] and not merged[i-1]:
                    a[i-1][j] *= 2
                    a[i][j] = 0
                    merged[i-1] = True

a = [list(map(int, input().split())) for _ in range(4)]

move_up(a)

for row in a:
    print(*row)

2 2 2 2
0 0 0 0
4 4 4 4
4 4 4 4
2 2 2 2
8 8 8 8
0 0 0 0
0 0 0 0

In [ ]:
#2050
SIZE = 4
d = input()
arr = [list(map(int, input().split())) for _ in range(SIZE)]

def move(arr, push_fn, merge_fn):
    moved = True
    while moved:
        moved = False
        for k in range(SIZE):
            before = [row[:] for row in arr]
            push_fn(arr, k)
            merge_fn(arr, k)
            push_fn(arr, k)
            if arr != before:
                moved = True

def merge_left(arr, k):
    for i in range(SIZE - 1):
        if arr[k][i] == arr[k][i + 1] and arr[k][i] != 0:
            arr[k][i] *= 2
            arr[k][i + 1] = 0

def merge_right(arr, k):
    arr[k].reverse()
    merge_left(arr, k)
    arr[k].reverse()

def merge_up(arr, k):
    for i in range(SIZE - 1):
        if arr[i][k] == arr[i + 1][k] and arr[i][k] != 0:
            arr[i][k] *= 2
            arr[i + 1][k] = 0

def push_left(arr, k):
    arr[k] = [x for x in arr[k] if x != 0] + [0] * (SIZE - len([x for x in arr[k] if x != 0]))

def push_up(arr, k):
    col = [arr[i][k] for i in range(SIZE)]
    col = [x for x in col if x != 0] + [0] * (SIZE - len([x for x in col if x != 0]))
    for i in range(SIZE):
        arr[i][k] = col[i]

def push_right(arr, k):
    arr[k].reverse()
    push_left(arr, k)
    arr[k].reverse()



moves = {
    'U': (push_up, merge_up),
    'D': (lambda arr, k: push_up(arr[::-1], k), lambda arr, k: merge_up(arr[::-1], k)),
    'L': (push_left, merge_left),
    'R': (push_right, merge_right)
}

move(arr, *moves[d])

for row in arr:
    print(*row)

U
2 2 2 2
2 2 2 2
2 2 2 2
2 2 2 2
8 8 8 8
0 0 0 0
0 0 0 0
0 0 0 0

In [ ]:
#2051
r = 0
a = [list(map(int, input().split())) for i in range(4)]

n = int(input())

for i in range(4):
    for j in range(4):
        t = a[i][j]
        while t > 2:
            r += a[i][j]
            t //= 2

print(r - n * 4)

2 0 0 4
8 4 0 0
 0 0 0 0
8 2 4 0
3
32

In [ ]:
#2055

def f(n):
    divisors = set()

    for i in range(1, int(n**0.5) + 1):
        if n % i == 0:
            divisors.add(i)
            divisors.add(n // i)

    return sorted(divisors)

a,b = map(int, input().split())
print(*sorted(set(f(a)+f(b))))

61 4
1 2 4 61

In [ ]:
#2061

home = input()

t = int(input())

x = int(input())

m,c = map(int, input().split())

w = int(input())

home = 10 if home == 'A' else 2 if home == 'S' else 1

total = 0 + t

total += (x*home)//w

total *= c

if total < m:
  print('Yes')
else:
  print('No')

0
1
1
1000 1000
10
No

In [ ]:
#2071
import datetime

n,y,m,d = map(int, input().split())

print('"Mathemagic!"')
print(n**2)
print(datetime.date(y, m, d).strftime("%A")) #요일 구하는

12 2016 5 9
"Mathemagic!"
144
Monday

In [ ]:
#2076
a = list(map(int, input().split()))

score = 0
frame = 0
i = 0

while frame < 10:
    if a[i] == 10:
        score += 10 + a[i+1] + a[i+2]
        frame += 1
        i += 1
    elif a[i] + a[i+1] == 10:
        score += 10 + a[i+2]
        frame += 1
        i += 2
    else:
        score += a[i] + a[i+1]
        frame += 1
        i += 2

print(score)

5 5 8 2 6 3 10 8 2 7 1 0 9 9 1 10 8 2 9
156

In [ ]:
#2080
from datetime import datetime

date_format = "%Y %m %d"
d1_input = input().split()
d2_input = input().split()
d1 = datetime.strptime(f"{d1_input[0].zfill(4)} {d1_input[1].zfill(2)} {d1_input[2].zfill(2)}", date_format)
d2 = datetime.strptime(f"{d2_input[0].zfill(4)} {d2_input[1].zfill(2)} {d2_input[2].zfill(2)}", date_format)


a = (d2 - d1).days
print(f'D{-a if a > 0 else "-day" if a == 0 else "+"+str(-a) }')

2000 4 4
200 2 2
D+657498

In [ ]:
#2083
a, b = map(int, input().split())
c = list(map(int, input().split()))

print(c.index(b)+1 if b in c else -1)

left, right = 0, len(c) - 1
position = -1

while left <= right:
    mid = (left + right) // 2
    if c[mid] >= b:
        position = mid + 1
        right = mid - 1
    else:
        left = mid + 1

print(position)

3 7
2 3 4
-1

In [ ]:
#2084

def var(b, d):
    left, right = 0, len(b) - 1
    position = -1
    while left <= right:
        mid = (left + right) // 2
        if b[mid] == d:  1
            return mid + 1
        elif b[mid] > d:
            right = mid - 1
        else:
            left = mid + 1

    return -1

a = int(input())
b = list(map(int, input().split()))
c = int(input())
for i in range(c):
    d = int(input())
    print(var(b, d))

3
2 5 7
2
7
3
1
-1

In [ ]:
#2100
def f(n):
    a = [0] * n
    j = 0
    i = 1

    while True:
        j = (j * 10 + 7) % n
        if j == 0:
            return '7' * i
        if a[j] != 0:
            return '7' * (i - a[j]) + '0' * a[j]

        a[j] = i
        i += 1

n = int(input())
print(f(n))

123
777777777777777

In [ ]:
2/3

0.6666666666666666

In [ ]:
#2101
import math

a = int(input())
s = a * a
t = 0

for q in range(1, int(math.sqrt(s)) + 1):
    if s % q == 0:
        w = s // q
        if (w - q) % 2 == 0 and (w + q) % 2 == 0:
            b = (w - q) // 2
            c = (w + q) // 2
            if b > a and b > 0 and c > b:
                t += 1

print(t)

12
2

In [ ]:
#2112

import math


n = int(input())
max_value = -1
max_row = -1

for i in range(1, n + 1):
    A, B = map(int, input().split())
    current_value = B * math.log(A) # 너무 큰수는 로그를 이용하기도 한다
    if current_value > max_value:
        max_value = current_value
        max_row = i

print(max_row)

6
1 2

KeyboardInterrupt: Interrupted by user

In [ ]:
#2115
import math

print(math.factorial(int(input())))

4
24

In [ ]:
#2151

a = list(map(int, list(input())))

b = 0
for i in range(len(a)):
  if i % 2 == 0:
    b += a[i]
  else:
    b += a[i]*3

for i in range(10):
  if (b+i)%10==0:
    print(''.join(map(str,a)) + str(i))

797669911836
7976699118360

In [ ]:
#2204

a,b = map(int, input().split())

f = 0
for i in range(b, a-1, -1):
  for j in range(b,a-1,-1):
    dae = i*j
    if dae <= f:
      break
    if str(dae) == str(dae)[::-1]:
      f = dae
      break

print(f)

100000 999999
999000000999

In [ ]:
#2203

def lpf(n):
    i = 2
    lp = 1
    while i * i <= n:
        if n % i:
            i += 1
        else:
            n //= i
            lp = i
    if n > 1:
        lp = n
    return lp

n = int(input())
lp = lpf(n)
print(lpf(n))

12
3

In [ ]:
target = 906609
found = False

for i in range(999, 99, -1):
    for j in range(i, 99, -1):  # j도 i부터 시작하여 중복 계산 방지
        if i * j == target:
            print(f"{i}와 {j}를 곱하면 {target}이 나옵니다.")
            found = True
            break
    if found:
        break

993와 913를 곱하면 906609이 나옵니다.

In [ ]:
#2302

a = [list(map(str, input().split())) for i in range(int(input()))]
failed = [i for i in a if 'C'< i[1] if 'P' not in i[1]]

grades = {
    'A+': 4.3, 'A0': 4.0, 'A-': 3.7,
    'B+': 3.3, 'B0': 3.0, 'B-': 2.7,
    'C+': 2.3, 'C0': 2.0, 'C-': 1.7,
    'D+': 1.3, 'D0': 1.0, 'D-': 0.7,
    'F': 0.0, 'Pass': 4.3, 'Fail': 0.0
}

totalc, weightc = 0, 0
for i in a:
  totalc += int(i[2])
  weightc += grades[i[1]] * int(i[2])

mean = weightc/totalc

g = {
    'A+': (4.30, 4.30),
    'A0': (4.00, 4.29),
    'A-': (3.70, 3.99),
    'B+': (3.30, 3.69),
    'B0': (3.00, 3.29),
    'B-': (2.70, 2.99),
    'C+': (2.30, 2.69),
    'C0': (2.00, 2.29),
    'C-': (1.70, 1.99),
    'D+': (1.30, 1.69),
    'D0': (1.00, 1.29),
    'D-': (0.70, 0.99),
    'F': (0.00, 0.69)
}

grade = None
for i,j in g.items():
  if float(j[0]) <= mean <= float(j[1]):
    grade = i

print(f"Average : {mean:.02f} ({grade})")
print()
print(f"RETAKE NEEDED ({len(failed)})")
for i in failed:
  print(f" {i[0]} ({i[1]})")

########################gpt 코드
a = [input().split() for _ in range(int(input()))]
f = [i for i in a if 'C' < i[1] and 'P' not in i[1]]

g = {
    'A+': 4.3, 'A0': 4.0, 'A-': 3.7, 'B+': 3.3, 'B0': 3.0, 'B-': 2.7,
    'C+': 2.3, 'C0': 2.0, 'C-': 1.7, 'D+': 1.3, 'D0': 1.0, 'D-': 0.7, 'F': 0.0, 'Pass': 4.3, 'Fail': 0.0
}

tc, wc = sum(int(i[2]) for i in a), sum(g[i[1]] * int(i[2]) for i in a)
mean = wc / tc

gp = {'A+': (4.30, 4.30), 'A0': (4.00, 4.29), 'A-': (3.70, 3.99), 'B+': (3.30, 3.69),
      'B0': (3.00, 3.29), 'B-': (2.70, 2.99), 'C+': (2.30, 2.69), 'C0': (2.00, 2.29),
      'C-': (1.70, 1.99), 'D+': (1.30, 1.69), 'D0': (1.00, 1.29), 'D-': (0.70, 0.99), 'F': (0.00, 0.69)}

gr = [k for k, (l, u) in gp.items() if l <= mean <= u][0]

print(f"Average : {mean:.02f} ({gr})\n\nRETAKE NEEDED ({len(f)})")
for i in f:
    print(f" {i[0]} ({i[1]})")

KeyboardInterrupt: Interrupted by user

In [ ]:
grades = {
    'A+': 4.3, 'A0': 4.0, 'A-': 3.7,
    'B+': 3.3, 'B0': 3.0, 'B-': 2.7,
    'C+': 2.3, 'C0': 2.0, 'C-': 1.7,
    'D+': 1.3, 'D0': 1.0, 'D-': 0.7,
    'F': 0.0, 'Pass': 4.3, 'Fail': 0.0
}

# 과목과 성적, 학점 정보를 리스트로 저장
subjects = [
    ("CreativeWriting", 'A+', 3),
    ("KoreanHistory", 'A0', 2),
    ("AdvEngListening", 'A-', 2),
    ("Calculus", 'B+', 4),
    ("Probability", 'B0', 2),
    ("Physics", 'B-', 3),
    ("Chemistry", 'C+', 3),
    ("Biology", 'C0', 3),
    ("EarthScience", 'C-', 2),
    ("Programming", 'A+', 1),
    ("Physical", 'Pass', 1),
    ("Music", 'Fail', 1)
]

# 총 학점과 총 가중치를 계산
total_credits = 0
weighted_sum = 0

for subject, grade, credit in subjects:
    total_credits += credit
    weighted_sum += grades[grade] * credit

# 가중 평균 계산
gpa = weighted_sum / total_credits

print(f"평균 학점: {gpa:.2f}")

In [ ]:
print(10, 6)

In [ ]:
friend_list = {}
None_freiend = "친구가 없네요. 해당 기능을 이용하려면 친구를 추가해주세요"

while True:

    sw = input(
"""
친구 추가 : a 입력
친구 삭제 : d 입력
친구 이름 변경 : c 입력
친구 리스트 출력 : L 입력
종료 : q
입력 : """).strip()
    print()

    if sw == 'q':
        print("프로그램이 종료 되었습니다")
        break
    elif sw == 'a':
        print('친구 이름과 전화번호흫 입력해주세요')
        print('한명 추가 예시 : 홍길동 01012345678')
        print('다수 추가 예시 : 홍길동 01012345678 아무개 01087654321')
        flus = input('입력 : ').split()
        name = [i for i in flus if i.isalpha()]
        numbers = [j for j in flus if j.isdigit()]

        for i, j in zip(name, numbers):
            if i in friend_list:
                friend_list[i].append(j)
            else:
                friend_list[i]  = [j]

        print("친구 추가가 완료 되었습니다")
        print(friend_list)
    elif sw == 'd':
        if len(friend_list) == 0:
            print(None_freiend)
        else:
            print('삭제할 친구의 이름을 입력해주세요')
            print('한명 삭제 예시 : 홍길동')
            print('다수 삭제 예시 : 홍길동 아무개')
            print()

            delete = input('입력 : ').split()
            for i in delete:
                try:
                    if len(friend_list[i]) > 1:
                        print('삭제할 번호를 하나만 알려주세요')
                        print(friend_list[i])
                        while True:
                            try:
                                del_num = input('입력 : ').strip()
                                friend_list[i].remove(del_num)
                                break
                            except:
                                print('연락처에 포함되어있지 않는 문자가 있습니다')
                                continue
                        print(f'연락처에 있는 {i}의 {del_num}가 삭제 되었습니다.')
                    else:
                        del friend_list[i]
                        print(f'연락처에 있는 {i}이(가) 삭제 되었습니다.')


                except:
                    print('연락처에 없는 사람입니다.', i)
    elif sw == 'c':
        if len(friend_list) == 0:
            print(None_freiend)
        else:

            try:
                n = int(input('이름을 변경할 사람수를 입력해주세요'))
                for i in range(n):
                    print('이름을 변경할 친구의 이름을 입력해주세요')
                    print('변경 예시 : 홍길동(현재이름) 아무개(바꾸고 싶은사람)')
                    print('현재 연락처 : ', friend_list)
                    print()

                    base, change = input('입력 : ').split()

                    change_value = friend_list[base]
                    del friend_list[base]
                    friend_list[change] = change_value
                    print('변경되었습니다.')
                    print(friend_list)
            except:
                print('오류가 일어났습니다 다시시도해주세요.')
    elif sw == 'L':
        current, line_change = 0, 4
        if len(friend_list) == 0:
            print(None_freiend)
        else:
            for i,j in friend_list.items():
                current += 1

                if current % line_change == 0:
                    print(f"{i} : {j}")
                else:
                    print(f"{i} : {j}", end = ' ')
    else:
        print('지원하지 않는 값입니다 다시 입력해주세요')
        continue

친구 추가 : a 입력
친구 삭제 : d 입력
친구 이름 변경 : c 입력
친구 리스트 출력 : L 입력
종료 : q
입력 : a

친구 이름과 전화번호흫 입력해주세요
한명 추가 예시 : 홍길동 01012345678
다수 추가 예시 : 홍길동 01012345678 아무개 01087654321
입력 : 홍길동 01012345678 아무개 01087654322 이영희 01023456788 김철수 01034567891 박지성 01045678902 최민수 01056789013 강호동 01067890124 유재석 01078901235 정형돈 01089012346 송혜교 01090123457
친구 추가가 완료 되었습니다
{'홍길동': ['01012345678'], '아무개': ['01087654322'], '이영희': ['01023456788'], '김철수': ['01034567891'], '박지성': ['01045678902'], '최민수': ['01056789013'], '강호동': ['01067890124'], '유재석': ['01078901235'], '정형돈': ['01089012346'], '송혜교': ['01090123457']}

친구 추가 : a 입력
친구 삭제 : d 입력
친구 이름 변경 : c 입력
친구 리스트 출력 : L 입력
종료 : q
입력 : a

친구 이름과 전화번호흫 입력해주세요
한명 추가 예시 : 홍길동 01012345678
다수 추가 예시 : 홍길동 01012345678 아무개 01087654321
입력 : 홍길동 01011112222 아무개 01022223333 이영희 01033334444 김철수 01044445555 박지성 01055556666 최민수 01066667777 강호동 01077778888 유재석 01088889999 정형돈 01099990000 송혜교 01000001111
친구 추가가 완료 되었습니다
{'홍길동': ['01012345678', '01011112222'], '아무개': ['01087654322', '01022223333'], '이영희': ['01023456788', '01033334444'], '김철수': ['01034567891', '01044445555'], '박지성': ['01045678902', '01055556666'], '최민수': ['01056789013', '01066667777'], '강호동': ['01067890124', '01077778888'], '유재석': ['01078901235', '01088889999'], '정형돈': ['01089012346', '01099990000'], '송혜교': ['01090123457', '01000001111']}

친구 추가 : a 입력
친구 삭제 : d 입력
친구 이름 변경 : c 입력
친구 리스트 출력 : L 입력
종료 : q
입력 : d

삭제할 친구의 이름을 입력해주세요
한명 삭제 예시 : 홍길동
다수 삭제 예시 : 홍길동 아무개

입력 : 홍길동 아무개
삭제할 번호를 하나만 알려주세요
['01012345678', '01011112222']
입력 : 01012345678
연락처에 있는 홍길동의 01012345678가 삭제 되었습니다.
삭제할 번호를 하나만 알려주세요
['01087654322', '01022223333']
입력 : 01087654322
연락처에 있는 아무개의 01087654322가 삭제 되었습니다.

친구 추가 : a 입력
친구 삭제 : d 입력
친구 이름 변경 : c 입력
친구 리스트 출력 : L 입력
종료 : q
입력 : ㅣ

지원하지 않는 값입니다 다시 입력해주세요

친구 추가 : a 입력
친구 삭제 : d 입력
친구 이름 변경 : c 입력
친구 리스트 출력 : L 입력
종료 : q
입력 : L

홍길동 : ['01011112222'] 아무개 : ['01022223333'] 이영희 : ['01023456788', '01033334444'] 김철수 : ['01034567891', '01044445555']
박지성 : ['01045678902', '01055556666'] 최민수 : ['01056789013', '01066667777'] 강호동 : ['01067890124', '01077778888'] 유재석 : ['01078901235', '01088889999']
정형돈 : ['01089012346', '01099990000'] 송혜교 : ['01090123457', '01000001111']
친구 추가 : a 입력
친구 삭제 : d 입력
친구 이름 변경 : c 입력
친구 리스트 출력 : L 입력
종료 : q
입력 : c

이름을 변경할 사람수를 입력해주세요1
이름을 변경할 친구의 이름을 입력해주세요
변경 예시 : 홍길동(현재이름) 아무개(바꾸고 싶은사람)
현재 연락처 :  {'홍길동': ['01011112222'], '아무개': ['01022223333'], '이영희': ['01023456788', '01033334444'], '김철수': ['01034567891', '01044445555'], '박지성': ['01045678902', '01055556666'], '최민수': ['01056789013', '01066667777'], '강호동': ['01067890124', '01077778888'], '유재석': ['01078901235', '01088889999'], '정형돈': ['01089012346', '01099990000'], '송혜교': ['01090123457', '01000001111']}

입력 : 홍길동 이성연
변경되었습니다.
{'아무개': ['01022223333'], '이영희': ['01023456788', '01033334444'], '김철수': ['01034567891', '01044445555'], '박지성': ['01045678902', '01055556666'], '최민수': ['01056789013', '01066667777'], '강호동': ['01067890124', '01077778888'], '유재석': ['01078901235', '01088889999'], '정형돈': ['01089012346', '01099990000'], '송혜교': ['01090123457', '01000001111'], '이성연': ['01011112222']}

친구 추가 : a 입력
친구 삭제 : d 입력
친구 이름 변경 : c 입력
친구 리스트 출력 : L 입력
종료 : q
입력 : ㅣ

지원하지 않는 값입니다 다시 입력해주세요

친구 추가 : a 입력
친구 삭제 : d 입력
친구 이름 변경 : c 입력
친구 리스트 출력 : L 입력
종료 : q
입력 : L

아무개 : ['01022223333'] 이영희 : ['01023456788', '01033334444'] 김철수 : ['01034567891', '01044445555'] 박지성 : ['01045678902', '01055556666']
최민수 : ['01056789013', '01066667777'] 강호동 : ['01067890124', '01077778888'] 유재석 : ['01078901235', '01088889999'] 정형돈 : ['01089012346', '01099990000']
송혜교 : ['01090123457', '01000001111'] 이성연 : ['01011112222']
친구 추가 : a 입력
친구 삭제 : d 입력
친구 이름 변경 : c 입력
친구 리스트 출력 : L 입력
종료 : q
입력 : d

삭제할 친구의 이름을 입력해주세요
한명 삭제 예시 : 홍길동
다수 삭제 예시 : 홍길동 아무개

입력 : 아무개
연락처에 있는 아무개이(가) 삭제 되었습니다.

친구 추가 : a 입력
친구 삭제 : d 입력
친구 이름 변경 : c 입력
친구 리스트 출력 : L 입력
종료 : q
입력 : L

이영희 : ['01023456788', '01033334444'] 김철수 : ['01034567891', '01044445555'] 박지성 : ['01045678902', '01055556666'] 최민수 : ['01056789013', '01066667777']
강호동 : ['01067890124', '01077778888'] 유재석 : ['01078901235', '01088889999'] 정형돈 : ['01089012346', '01099990000'] 송혜교 : ['01090123457', '01000001111']
이성연 : ['01011112222']
친구 추가 : a 입력
친구 삭제 : d 입력
친구 이름 변경 : c 입력
친구 리스트 출력 : L 입력
종료 : q
입력 : q

프로그램이 종료 되었습니다

In [ ]:
#2312

n, a, b = map(int, input().split())

total = set()
total_two = 0
for i in range(2):
  g = input().split()
  for j in g:
    if j in total:
      total_two += 1
    total.add(j)

print(n - len(total), total_two)

22 9 9
1 3 6 8 11 14 16 19 21
3 5 8 10 11 14 16 18 21
10 6

In [ ]:
#2312

a = int(input())

b = [int(input().split(',')[2]) for i in range(a)]

print(f'{sum(b)/len(b):.02f}')

In [ ]:
#2313
print(3)

In [ ]:
#2314

gasu = int(input())

total = 0
for i in [10, 5, 3, 1]:
  total += gasu//i
  gasu %= i

print(total)

21
3

In [ ]:
def find_divisors_and_multiples(n, m):
    count = 0
    for i in range(1, n + 1):
        if m % i == 0 or i % m == 0:
            count += 1
    return count

n = 997
m = 36

answer = find_divisors_and_multiples(n, m)
print(answer)

35

In [ ]:
#2316 pypy3 전용문제 ㅋㅋ

import sys

MAX = 10000000

def main():
    input = sys.stdin.read
    data = input().split()

    n = int(data[0])
    m = int(data[1])
    A = [0] * (MAX + 1)

    for i in range(2, m + 1):
        for j in range(i * 2, m + 1, i):
            A[j] += 1
        A[i] += 2

    index = 2
    for _ in range(n):
        a = int(data[index])
        index += 1
        if a == 1:
            print(m)
        else:
            print(A[a] + m // a - 1)

if __name__ == "__main__":
    main()

5 10
2 6 10 3 2
6
4
4
4
6

In [ ]:
a = tuple(i for i in range(1,10))
a

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
#2333
a, b = input(),input()
print('O' if b in a else 'X')

Andong
And
O

In [ ]:
#2335
m = int(input())
print(3*m+1)

4
13

In [ ]:
#2337

from datetime import datetime, timedelta

k = int(input())
n, m = map(int, input().split())

ta, tp, d = n, m, 0

sd = datetime(2023, 1, 1)

while True:
    d += 1

    if d % 2 == 0:
        ta += n

    if d % 3 == 0:
        tp += m

    if ta + tp >= k:
        break

while True:
    d += 1
    if d % 2 == 0 :
        break


gd = sd + timedelta(days=d)


print(gd.strftime('%Y/%m/%d'))

500
3 5
2023/06/08

In [ ]:
#2338
from datetime import datetime, timedelta

k = int(input())
n, m = map(int, input().split())

ta, tp, d = n, m, 0

sd = datetime(2023, 1, 1)

while True:
    d += 1

    if d % 2 == 0:
        ta += n

    if d % 3 == 0:
        tp += m

    if ta + tp >= k:
        break

while True:
    d += 1
    if d % 2 == 0 :
        break

gd = sd + timedelta(days=d)
print(gd.strftime('%Y/%m/%d'))

200000
5 1
2216/04/07

In [ ]:
#2339

def min_traps(n, m, d1, d2, d3):

    target = n - m

    dp = [float('inf')] * (target + 1)
    dp[0] = 0

    for i in range(1, target + 1):
        if i >= d1:
            dp[i] = min(dp[i], dp[i - d1] + 1)
        if i >= d2:
            dp[i] = min(dp[i], dp[i - d2] + 1)
        if i >= d3:
            dp[i] = min(dp[i], dp[i - d3] + 1)

    return dp[target] if dp[target] != float('inf') else -1

n = int(input())
m = int(input())
d1, d2, d3 = map(int, input().split())

result = min_traps(n, m, d1, d2, d3)

print(result)

32900
30000
100 200 300
10

In [ ]:
#2342

a = int(input())
b = int(input())
used = a-b

c = 0
for i in [500,100,50,10]:
  c += used//i
  used %= i

print(c)

777
132
6

In [ ]:
#2344
a = input()
b = {'A':'U', 'T':'A', 'G':'C', 'C':'G'}

for i in list(input()):
  print(b[i], end = '')

ATCGGCTA
ATCGGCTA
UAGCCGAU

In [ ]:
#2346
a = int(input())
b = []
for i in range(12):
  for j in range(60):
    h = 30 * i + 0.5 * j
    m = 6 * j
    dif = abs(h-m)

    if dif == a or 360 - dif == a:
      b.append(f'{i:02}:{j:02}')

print(len(b))
for i in range(2):
  print(b[i])

22
2
00:04
11:56

In [ ]:
#2347

n = int(input())
g = [list(map(int, input().split())) for _ in range(n)]

m = 0

for i in range(n - 2):
    for j in range(n - 2):
        s = (g[i][j] + g[i][j+1] + g[i][j+2] +
             g[i+1][j] + g[i+1][j+1] + g[i+1][j+2] +
             g[i+2][j] + g[i+2][j+1] + g[i+2][j+2])
        m = max(m, s)

print(m)

6
6 7 3 2 0 5
3 10 3 0 5 7
2 1 13 2 1 5
6 11 0 4 8 4
0 7 7 0 1 15
6 1 6 0 2 5
49

In [ ]:
#2348

n = int(input())
g = [list(map(int, input().split())) for _ in range(n)]

m = 0

for i in range(n - 1):
    for j in range(n - 1):
        s = g[i][j] + g[i][j+1] + g[i+1][j] + g[i+1][j+1]
        m = max(m, s)

print(m)

In [ ]:
#2349
n, m = map(int, input().split())
g = [list(map(int, input().split())) for _ in range(n)]


s = [[0] * (n + 1) for _ in range(n + 1)]

for i in range(1, n + 1):
    for j in range(1, n + 1):
        s[i][j] = g[i-1][j-1] + s[i-1][j] + s[i][j-1] - s[i-1][j-1]

mx = 0
for i in range(m, n + 1):
    for j in range(m, n + 1):
        total = s[i][j] - s[i-m][j] - s[i][j-m] + s[i-m][j-m]
        mx = max(mx, total)

print(mx)

In [ ]:
#2350
from collections import deque

w,b = map(int, input().split())
n = int(input())
k = list(map(int, input().split()))


t = 0
q = deque([0] * b)
c = 0

for s in k:
    while True:
        c -= q.popleft()
        if c + s <= w:
            q.append(s)
            c += s
            t += 1
            break
        else:
            q.append(0)
            t += 1

t += b

print(t)

30 5
8
15 14 10 6 7 13 10 16
21

In [ ]:
#2352

a = list(map(int, input().split()))

used = 0
for i in range(1, len(a)):
    if a[i-1] < a[i]:
        used += (a[i] - a[i-1]) * 2
    elif a[i-1] > a[i]:
        used -= (a[i-1] - a[i]) // 2

print(used)

4
10 12 4 5
-2

In [ ]:
#2353
n = int(input())
a = list(map(int, input().split()))

used = 0
cb = 0

for i in range(1, n):
    if a[i-1] < a[i]:
        cb -= (a[i] - a[i-1]) * 2
    elif a[i-1] > a[i]:
        cb += (a[i-1] - a[i]) // 2

    if cb < 0:
        used += abs(cb)
        cb = 0

print(used)

5
6 10 2 4 3
8

In [ ]:
#2354
print('SFPC')

In [ ]:
#2355
a,b = map(int, input().split())

h = 'SFPC '*b
j = ' '+(' SFPC'*(b-1))

for i in range(1,a+1):
  if i%2!=0:
    print(h)
  else:
    print(j)

15 14
SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC
  SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC
SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC
  SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC
SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC
  SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC
SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC
  SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC
SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC
  SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC
SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC
  SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC
SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC
  SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC
SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC SFPC

In [ ]:
#2357

a = list(input())

s = set()
i = 0
while True:
  if a == ['6', '1', '7', '4']:
    break

  a.sort(reverse=True)
  a1 = ''.join(a)
  a2 = ''.join(a[::-1])
  b = int(a1)-int(a2)
  a = list(str(b))


  if ''.join(a) in s:
    i = -1
    break

  s.add(''.join(a))
  i+= 1

print(i)

2012
3

In [ ]:
def kaprekar_steps(n):
    steps = 0
    while n != 6174:
        # 숫자를 오름차순과 내림차순으로 정렬하여 계산
        ascending = int(''.join(sorted(f"{n:04d}")))
        descending = int(''.join(sorted(f"{n:04d}", reverse=True)))
        n = descending - ascending
        steps += 1
    return steps

# 주어진 숫자 목록
numbers = [5902, 6777, 5000, 6975]

# 각 숫자에 대해 6174에 도달하는 횟수를 구하고 더하기
total_steps = sum(kaprekar_steps(n) for n in numbers)

total_steps

21

In [ ]:
#2358

num = [[]for i in range(10)]

for _ in range(5):
  a = input().split()
  for i in range(len(a)):
    num[i].append(a[i])


for i in range(len(num)):
    num[i] = ''.join(num[i])

num_dict = {
    '111101101101111': 0,
    '001001001001001': 1,
    '111001111100111': 2,
    '111001111001111': 3,
    '101101111001001': 4,
    '111100111001111': 5,
    '111100111101111': 6,
    '111101101001001': 7,
    '111101111101111': 8,
    '111101111001111': 9
}

for i in num:
  if i:
    print(num_dict[i], end = '')

111 001 111 111 101 111 111 111 111 111
101 001 001 001 101 100 100 101 101 101
111 001 111 111 111 111 111 101 111 111
001 001 100 001 001 001 101 001 101 001
111 001 111 111 001 111 111 001 111 111
9123456789

In [ ]:
#2361
print(220000)

129000

In [ ]:
#2362
cost = {1: 1000,2: 1000,3: 2000,4: 3000,5: 3000,6: 6000, 7: 6000}

n,k = map(int, input().split())

a = [int(i) for _ in range(n) for i in input().split()[1:]]

b = 0
for i in range(1,8):
  if a.count(i) >= k:
    b += cost[i]

print(b*n)

5 3
3 1 2 3
5 1 2 3 4 5
7 1 2 3 4 5 6 7
6 2 3 4 5 6 7
4 6 4 2 5
3
5
4
4
4
3
80000

115000

In [ ]:
#2364
n = int(input())
print((n + 4) // 5 , 150000*(n//5))

6
2 150000

In [ ]:
#2367

from datetime import datetime, timedelta

s = datetime.strptime(input().strip(), "%Y.%m.%d")
e = datetime.strptime(input().strip(), "%Y.%m.%d")

c = s
while c.weekday() != 4:
    c += timedelta(days=1)

y,d = 0,0

while c <= e:
    cnt = c.month + c.day
    y += cnt
    d += cnt * 2
    c += timedelta(weeks=1)

print(y, d)

2023.01.01
2023.12.31
1157 2314

In [ ]:
#2368
print(min((21064//40),(22054//50),(23063//30)))

441

In [ ]:
#2369
a,b,c = map(int, input().split())
print(min((a//40),(b//50),(c//30)))

1000 1000 1000
20

In [ ]:
#2370
from itertools import combinations

a = [2500, 5000, 3700, 5300, 4900, 6800, 7900, 2200, 3100, 3900 ]

b = 0
for i in combinations(a,8):
  if sum(i) <= 100000:
    b+=1

print(b)

45

In [ ]:
#2371
from itertools import combinations

n = int(input())
prices = list(map(int, input().split()))
m, k = map(int, input().split())

t = k // m

count = 0
for i in combinations(prices, 3):
    if sum(i) <= t:
        count += 1

print(count)

5
1000 1500 300 200 700
5 25000
10

In [ ]:
#2373

from itertools import permutations

def tm(ts):
    h, m = map(int, ts.split(':'))
    return h * 60 + m

def mt(m):
    h = m // 60
    m = m % 60
    return f"{h:02}:{m:02}"

at = input().strip()
dt = input().strip()

am = tm(at)
dm = tm(dt)

tt = dm - am

t = [list(map(int, input().split())) for _ in range(6)]

pl = [1, 2, 3, 4, 5]
ms = 0

for o in permutations(pl):
    ct = 0
    cp = 0

    for np in o:
        ct += t[cp][np]
        cp = np

    ct += t[cp][0]

    if ct <= tt:
        st = tt - ct
        ms = max(ms, st)

print(mt(ms))

09:00
18:00
0 1 2 3 4 5
1 0 1 2 3 4
2 1 0 1 2 3
3 2 1 0 1 2
4 3 2 1 0 1
5 4 3 2 1 0
08:50

In [ ]:
#2374

n, m, k, t = map(int, input().split())
a = {i + 1: j for i, j in enumerate(list(map(int, input().split())))}

b = 0
for _ in range(k):
    student_tour = list(map(int, input().split()))
    c = 0
    c += 5
    c += a[student_tour[0]]

    for i in range(1, m):
        c += 5
        c += a[student_tour[i]]

    c += 5

    if c <= t:
        b += 1

print(b)

In [ ]:
#2376
from itertools import combinations as c, permutations as p

n, m, t = map(int, input().split())
a = list(map(int, input().split()))

v = 0

for x in c(range(n), m):
    for y in p(x):
        s = 0
        for i in range(m):
            s += a[y[i]]
            if i > 0:
                s += 5
        s += 10

        if s <= t:
            v += 1

print(v)

8 7 180
28 20 24 22 20 29 17 6
10080

In [ ]:
a, d, n = map(int, input().split())

for i in range(n-1):
  a += d
print(a)

1 3 5
13

In [ ]:
n = int(input()) * 10
c = 0
for i in [25, 15, 10]:
    c += n // i
    n %= i
print(c+1 if n > 0 else c)

In [ ]:
#2379
n = 20240
c = 0
for i in [25, 15, 10]:
    c += n // i
    n %= i
print(c+1 if n > 0 else c)

810

In [ ]:
#2380

cake = [7, 4, 1, 10, 2, 3, 5, 6, 8, 9]

one, two = 0, 0
n = max(cake)
selected = [0] * (n + 1)

for i in cake:
    selected[i] = 1
    if i == 1:
        if selected[i + 1] == 0:
            one += 1
    elif i == n:
        if selected[i - 1] == 0:
            one += 1
    elif selected[i - 1] == 0 and selected[i + 1] == 0:
        two += 1
    elif selected[i - 1] == 1 and selected[i + 1] == 1:
        continue
    else:
        one += 1

print(one, two)

5 2

In [ ]:
#2381
a = int(input())

cake = list(map(int, input().split()))

one, two = 0, 0
n = max(cake)
selected = [0] * (n + 1)

for i in cake:
    selected[i] = 1
    if i == 1:
        if selected[i + 1] == 0:
            one += 1
    elif i == n:
        if selected[i - 1] == 0:
            one += 1
    elif selected[i - 1] == 0 and selected[i + 1] == 0:
        two += 1
    elif selected[i - 1] == 1 and selected[i + 1] == 1:
        continue
    else:
        one += 1

print(one, two)

6
2 5 1 6 4 3
1 2

In [ ]:
#2382

In [ ]:
#2383

x,y = map(int, input().split())

mat = [[0 for i in range(y)] for i in range(x)]

for _ in range(int(input())):
    x1, y1, x2, y2 = map(int, input().split())
    for i in range(x1 - 1, x2):
        for j in range(y1 - 1, y2):
            mat[i][j] = 1 - mat[i][j]

for i in mat:
  print(*i)

###############시간복잡도 낮은 코드(누적합)

x, y = map(int, input().split())
mat = [[0] * y for _ in range(x)]
change = [[0] * (y + 1) for _ in range(x + 1)]

for _ in range(int(input())):
    x1, y1, x2, y2 = map(int, input().split())
    change[x1-1][y1-1] += 1
    if x2 < x:
        change[x2][y1-1] -= 1
    if y2 < y:
        change[x1-1][y2] -= 1
    if x2 < x and y2 < y:
        change[x2][y2] += 1

for i in range(x):
    for j in range(y):
        if i > 0:
            change[i][j] += change[i-1][j]
        if j > 0:
            change[i][j] += change[i][j-1]
        if i > 0 and j > 0:
            change[i][j] -= change[i-1][j-1]

for i in range(x):
    for j in range(y):
        mat[i][j] = change[i][j] % 2

for i in mat:
    print(*i)

6 11
15
1 2 6 4
6 8 6 9
2 1 5 3
3 7 4 10
2 1 4 1
1 2 6 4
1 5 1 5
6 8 6 9
1 7 6 10
1 2 6 4
1 5 1 5
2 8 5 11
3 7 4 10
1 5 1 5
3 8 3 11
0 1 1 1 1 0 1 1 1 1 0
0 0 0 1 0 0 1 0 0 0 1
0 0 0 1 0 0 1 1 1 1 0
0 0 0 1 0 0 1 0 0 0 1
1 0 0 1 0 0 1 0 0 0 1
0 1 1 1 0 0 1 1 1 1 0

KeyboardInterrupt: Interrupted by user

In [ ]:
#2413

a = int(input())

fre_count = 0
for i in range(a):
  information = len(input().split(',')[3:])
  fre_count += information

print(f'{fre_count/a:.02f}')

3
Addison,F,18,Sharon,Kimberly,Joshua
Clara,F,17,Addison,Brittany,Mary,Sharon
Anthony,M,18,Kyle,Mary\
Andrew,M,18,Sharon,Clara
Mary,F,17,Clara
Sharon,F,17,Mary,Addison,Kyle
Kimberly,F,17,Addison,Brittany,Anthony,Mary,Andrew
Kyle,M,17,Mary,Brittany,Addison
Brittany,F,17,Kyle,Sharon,Mary,Addison,Anthony
Joshua,M,19,Mary,Clara
10.0

In [ ]:
#2414
a = int(input())

b = dict()
for i in range(a):
  c = list(map(str, input().split(',')))
  b.update({c[0]:c[2]})

print(b[input()])

2
Addison,F,18,Sharon,Kimberly,Joshua
Clara,F,17,Addison,Brittany,Mary,Sharon
Addison
18

In [ ]:
#2415

a = int(input())

b = [list(map(str, input().split(','))) for i in range(a)]

c = input()

for i in b :
  if c == i[0]:
    for j in i[3:]:
      print(j)

2
Addison,F,18,Sharon,Kimberly,Joshua
Clara,F,17,Addison,Brittany,Mary,Sharon
Clara
['Clara', 'F', '17', 'Addison', 'Brittany', 'Mary', 'Sharon']
Addison
Brittany
Mary
Sharon

In [ ]:
#2416

a = [list(map(str, input().split(','))) for i in range(int(input()))]

fre = dict()
for i in a:
  fre.update({i[0]:i[1]})

b = input()

M,F = 0,0
for i in a:
  if i[0] == b:
    for j in i[3:]:
      if fre[j] == 'F':
        F += 1
      elif fre[j] == 'M':
        M += 1

print(f'{M}\n{F}')

In [ ]:
#2417

a = [list(map(str, input().split(','))) for i in range(int(input()))]

b =dict((i[0],0) for i in a)


for i in a:
  c = i
  for j in c[3:]:
    b[j] += 1

max_count = max(b.values())
b = sorted([name for name, count in b.items() if count == max_count])

for i in b:
  print(i)

In [ ]:
#2418

a = [list(map(str, input().split(','))) for i in range(int(input()))]

b =dict((i[0],[i[1],0]) for i in a)


for i in a:
  c = i[0]
  for j in i[3:]:
    if b[c][0] != b[j][0]:
      b[j][1] += 1

max_count = max(b.values(), key=lambda x: x[1])[1]
b = sorted([name for name, count in b.items() if count[1] == max_count])

for i in b:
  print(i)

In [ ]:
#2419

a = [list(map(str, input().split(','))) for i in range(int(input()))]

b = dict((i[0],i[3:]) for i in a)


c = input()
d = set()
d.update(b[c])

for friend in b[c]:
    d.update(b[friend])
d.discard(c)
print(len(d))

1
Addison,F,18,Sharon,Kimberly,Joshua

KeyboardInterrupt: Interrupted by user

In [ ]:
#2441

a = int(input())
b = [input().split(',')[1] for i in range(a)]

print(b.count('M'),b.count('F'))

2
Addison,F,18,Sharon,Kimberly,Joshua
Addison,F,18,Sharon,Kimberly,Joshua
0 2

In [ ]:
#2506
num = float(input())

i = 0
j = 1

while True:
    if round(i / j, 3) == round(num / 100, 4):
        print(f"{int(i)}/{int(j)}")
        break
    elif i == j:
        j += 1
        i = 0
    else:
        i += 1

50.0
1/2

2.0

In [ ]:
#2602
a = [list(map(int, input().split())) for i in range(3)]

for i in range(3):
  print(*a[i], sum(a[i]))
  a[i].append(sum(a[i]))

for i in range(4):
  b = 0
  for j in range(3):
    b+=a[j][i]
  print(b, end = ' ')

93 94 87
82 75 91
78 89 92
93 94 87 274
82 75 91 248
78 89 92 259
253 258 270 781

In [ ]:
#2603
a = [i//10 for i in list(map(int, input().split()))]
b = [[' ']*10 for i in range(10)]

for i in range(10):
  for j in range(9,(9-a[i]),-1):
    b[j][i] = '#'

for i in b:
  print(*i)

25 20 30 40 56 79 8 15 90 52

                #
                #
          #     #
          #     #
        # #     # #
      # # #     # #
    # # # #     # #
# # # # # #     # #
# # # # # #   # # #

In [ ]:
#2604
import math

a = input().split('.')[1]
b = 10 ** len(a)
a = int(a)

if math.gcd(a,b) != 1:
  a,b = a//math.gcd(a,b), b//math.gcd(a,b)

print(a,b)

0.25
1 4

In [ ]:
#2605
def dfs(board, visited, x, y, color):
    dx = [-1, 1, 0, 0]
    dy = [0, 0, -1, 1]

    stack = [(x, y)]
    visited[x][y] = True
    count = 1

    while stack:
        cx, cy = stack.pop()

        for i in range(4):
            nx, ny = cx + dx[i], cy + dy[i]

            if 0 <= nx < 7 and 0 <= ny < 7 and not visited[nx][ny]:
                if board[nx][ny] == color:
                    visited[nx][ny] = True
                    stack.append((nx, ny))
                    count += 1

    return count

def count_touchable_areas(board):
    visited = [[False] * 7 for _ in range(7)]
    touchable_areas_count = 0

    for i in range(7):
        for j in range(7):
            if not visited[i][j]:
                connected_cells_count = dfs(board, visited, i, j, board[i][j])
                if connected_cells_count >= 3:
                    touchable_areas_count += 1

    return touchable_areas_count

board = [list(map(int, input().split())) for _ in range(7)]

print(count_touchable_areas(board))

2 1 5 1 1 3 4
2 1 5 1 3 5 3
2 3 4 5 2 2 4
4 4 3 2 3 1 3
4 3 5 3 1 4 3
5 4 4 3 3 5 5
2 1 3 5 1 1 2
34

In [ ]:
#2606
a,b = map(int, input().split())
print(f'{a/b-a//b:.11f}'[2:12])

19 7
7142857142

In [ ]:
#2607 에라토스테네스의 체 알고리즘
def sieve_of_eratosthenes(limit):
    is_prime = [True] * (limit + 1)
    p = 2
    while (p * p <= limit):
        if is_prime[p]:
            for i in range(p * p, limit + 1, p):
                is_prime[i] = False
        p += 1
    return is_prime

def find_twin_primes(a, b):
    primes = sieve_of_eratosthenes(b)
    twin_primes = []

    for i in range(a, b - 1):
        if primes[i] and primes[i + 2]:
            twin_primes.append((i, i + 2))

    return twin_primes

a, b = map(int, input().split())

twin_primes = find_twin_primes(a, b)

for tp in twin_primes:
    print(tp[0], tp[1])

2 20
3 5
5 7
11 13
17 19

In [ ]:
#2608 백트래킹
def generate_votes(n, current_vote=""):
    if len(current_vote) == n:
        print(current_vote)
        return

    generate_votes(n, current_vote + "O")

    generate_votes(n, current_vote + "X")


n = int(input())
generate_votes(n)

In [ ]:
#2609

def f(a, b):
    i, r, d, rem = a // b, a % b, "", {}
    while r and r not in rem:
        rem[r], r = len(d), r * 10
        d += str(r // b)
        r %= b
        print(r)
    if not r:
        return f"{i}.{d}(0)" if d else f"{i}.0"
    return f"{i}.{d[:rem[r]]}({d[rem[r]:]})"

a, b = map(int, input().split())
print(f(a, b))

9 7
6
4
5
1
3
2
285714
1.(285714)

In [ ]:
#2610 BFS
from collections import deque

def bfs(mat, x, y):
    directions =  [(-1, 0), (1, 0), (0, -1), (0, 1)]

    visited = [[False for _ in range(10)] for _ in range(10)]

    if mat[y][x] == '_':
        visited[y][x] = True
    else:
        return mat

    queue = deque()
    queue.append((y, x))

    while queue:
        cy, cx = queue.popleft()

        for dy, dx in directions:
            ny, nx = cy + dy, cx + dx
            if 0 <= ny < 10 and 0 <= nx < 10:
                if mat[ny][nx] == '_' and not visited[ny][nx]:
                    visited[ny][nx] = True
                    queue.append((ny, nx))

    for i in range(10):
        for j in range(10):
            if visited[i][j]:
                mat[i][j] = '*'

    return mat

mat = [list(input().strip()) for _ in range(10)]

x, y = map(int, input().split())

result = bfs(mat, x, y)
for row in result:
    print("".join(row))

__________
_____****_
_____*__*_
__*******_
__*__*_**_
__*__****_
__*____*__
__*____*__
__******__
6 2
6 2
__________
_____****_
_____****_
__*******_
__*__*_**_
__*__****_
__*____*__
__*____*__
__******__
6 2

In [ ]:
#2621
a =int(input())
print(sum([i for i in range(1,a+1) if a % i ==0]))

10
18

In [ ]:
#2622
a = input()
b = list(enumerate(map(int,input().split())))
c , d = min(b,key = lambda x : x [1]), max(b,key = lambda x : x [1])

print(d[0]+1,':',d[1])
print(c[0]+1,':',c[1])

3
100 36 55
2 36
1 100

In [ ]:
#2624
limit = int(input())

is_prime = [True] * (limit + 1)
p = 2
while (p * p <= limit):
    if is_prime[p]:
        for i in range(p * p, limit + 1, p):
            is_prime[i] = False
    p += 1

primes = is_prime
twin_primes = []

for i in range(2, limit+1):
    if primes[i]:
        twin_primes.append(i)

print(sum(twin_primes))

10
17

In [ ]:
#2626

n = int(input())

count = 0

for a in range(1, n // 2 + 1):
  for b in range(a, (n - a) // 2 + 1):
    c = n - a - b
    if c >= b and a + b > c:
      count += 1

print(count)

b

9
3

3

In [ ]:
#2628

def is_between(x, a, b):
    if a < b:
        return a < x < b
    else:
        return a < x or x < b

A, B = map(int, input().split())
C, D = map(int, input().split())

e = False
if (is_between(C, A, B) != is_between(D, A, B)) and (is_between(A, C, D) != is_between(B, C, D)):
    e = True

print('cross' if e else 'not cross')

12 53
99 45
cross

In [ ]:
#2631
n, k = map(int, input().split())
a = list(map(int, input().split()))

c = 0
s = 0
i = 0

for j in range(n):
    s += a[j]

    while s > k and i <= j:
        s -= a[i]
        i += 1

    if s == k:
        c += 1

print(c)

10 11
4 7 9 3 4 7 4 2 7 2
4

In [ ]:
#2632
def count_ways(n, current):
    if current > n:
        return 0

    if current == n: #만약 더한게 n과 같다면 +1
        return 1

    ways = 0

    ways += count_ways(n, current + 1) #경우의수

    ways += count_ways(n, current + 2) # 경우의수 1과 2로 만들수 있는 n

    return ways


n = int(input())
result = count_ways(n, 0)
print(result)

3
3

In [ ]:
#2634

def mc(cg, cs):
    dp = [float('inf')] * (cg + 1)
    dp[0] = 0

    for c in cs:
        for a in range(c, cg + 1):
            dp[a] = min(dp[a], dp[a - c] + 1)

    return dp[cg] if dp[cg] != float('inf') else -1

cg = int(input())
nc = int(input())
cs = list(map(int, input().split()))

print(mc(cg, cs))

730
5
10 50 100 500 1250
6

In [ ]:
#2635
a = int(input())

b = 0
for i in range(1,int(a**0.5)+1):
  if a % i == 0:
    b += i
    if i != a//i:
      b += a//i

print(b)

10
18

In [ ]:
#2640
a,b = map(int, input().split())
print(pow(a,b,1000000007))

4 2
16

In [ ]:
#2641 백트래킹(Backtracking)은 가능한 모든 해를 탐색하는 알고리즘
def count_ways(n, current, consecutive_three_steps):
    if current > n:
        return 0

    if current == n:
        return 1

    ways = 0

    ways += count_ways(n, current + 1, max(0, consecutive_three_steps - 1))

    ways += count_ways(n, current + 2, max(0, consecutive_three_steps - 1))

    if consecutive_three_steps == 0:
        ways += count_ways(n, current + 3, 2)

    return ways


n = int(input())
result = count_ways(n, 0, 0)
print(result)

4
7

In [ ]:
#2651
def count_seating_arrangements(n, k, start, chosen):

    if len(chosen) == k:
        return 1

    count = 0

    for i in range(start, n):

        chosen.append(i)

        count += count_seating_arrangements(n, k, i + 1, chosen)

        chosen.pop()

    return count

n, k = map(int, input().split())
result = count_seating_arrangements(n, k, 0, [])
print(result)

4 2
3

In [ ]:
#2652
def count_seating_arrangements(n, k, start, chosen):

    if len(chosen) == k:
        return 1

    count = 0

    for i in range(start, n):
        if (i in chosen) or (i-1 in chosen) or (i+1 in chosen):
          continue

        chosen.append(i)

        count += count_seating_arrangements(n, k, i + 1, chosen)

        chosen.pop() #다른거 탐색

    return count

n, k = map(int, input().split())
result = count_seating_arrangements(n, k, 0, [])
print(result)

In [ ]:
#2624 해결 실패!
a = int(input())

10
17

[0, 2, 3, 6, 5, 11, 7, 14, 12, 17]

In [ ]:
#2625
a = int(input())
b = []
for i in range(1, a // 2 + 1):
    for j in range(1, a // 2 + 1):
        for k in range(1, a // 2 + 1):
            if i + j + k == a:
                triplet = sorted((i, j, k))
                if triplet not in b:
                    b.append(triplet)

print(len(b)) #실패! 예상 for문 범위

#########################GPT

n = int(input())
count = 0

for i in range(1, n // 2 + 1):
    for j in range(i, n // 2 + 1):
        k = n - i - j
        if k >= j and i + j > k: #k >= j 중복된 삼각형 피기
            count += 1

print(count)

78
127

In [ ]:
#2629

n, p = map(int, input().split())

cr = []
for i in range(n):
  a,b,c = map(int, input().split())
  d = a**2 + b**2
  cr.append((d,c))

if p > 1000000:
  print(f"{0:.3f}")
else:
  cr.sort()

  for i,j in cr:
    p += j
    if p >= 1000000:
      r = i**0.5 #유클리드 거리공식
      print(f"{r:.3f}")
      break
  else:
    print(-1)

4 999998
1 1 2
2 2 1
3 3 1
2 -2 1
1.414

In [ ]:
#2630
def count_triangles(n):
    t = 0

    for i in range(n // 3 + (n % 3 != 0), n // 2 + n % 2):
        t += i - ((n - i) // 2 + (n - i) % 2) + 1

    return t

n = int(input())
print(count_triangles(n))

9
3

In [ ]:
#2633
def find_first_position(nums, k):
    left, right = 0, len(nums) - 1
    position = len(nums) + 1

    while left <= right:
        mid = (left + right) // 2
        if nums[mid] >= k:
            position = mid + 1
            right = mid - 1
        else:
            left = mid + 1

    return position

n, k = map(int, input().split())
nums = list(map(int, input().split()))
result = find_first_position(nums, k)
print(result)

5 7
1 3 5 7 7
4

In [ ]:
#2650
a = sorted(list(map(int, input().split())))
b = [i for i in range(a[0]+1, 0, -1) if a[0] % i == 0]
for i in b:
  if a[1]%i == 0 and a[2]%i==0:
    print(i)
    break

10 20 30
10

In [ ]:
#2653

def generate_votes(n, current_vote="", b=None):
    if b is None:
        b = []

    if len(current_vote) == n:
        b.append(current_vote)
        return b

    generate_votes(n, current_vote + "O", b)
    generate_votes(n, current_vote + "X", b)

    return b


n = int(input())
a = generate_votes(n)
c = []
for i in a:
  if 'OO' not in i:
     c.append(i)

print(len(c))

3
['OXO', 'OXX', 'XOX', 'XXO', 'XXX']

In [ ]:
#2654
def count_valid_sequences(n):
    MOD = 1000000007

    if n == 1:
        return 2

    dp = [[0, 0] for _ in range(n + 1)]
    dp[1][0] = 1
    dp[1][1] = 1

    for i in range(2, n + 1):
        dp[i][0] = (dp[i - 1][0] + dp[i - 1][1]) % MOD
        dp[i][1] = dp[i - 1][0] % MOD

    return (dp[n][0] + dp[n][1]) % MOD

n = int(input())
result = count_valid_sequences(n)
print(result)

3
5

In [ ]:
#2655
def binary_search(arr, target):
    left, right = 0, len(arr) - 1

    while left <= right:
        mid = (left + right) // 2

        if arr[mid] == target:
            return mid+1
        elif arr[mid] < target:
            left = mid + 1
        else:
            right = mid - 1

    return -1

a,b = map(int, input().split())
print(f'{(b *-1)/a:.04f}')

1 5
-5.0000

In [ ]:
#2699 최장 공통 부분 수열

def lcs(X, Y):
    m = len(X)
    n = len(Y)

    dp = [[0] * (n + 1) for _ in range(m + 1)]

    for i in range(1, m + 1):
        for j in range(1, n + 1):
            if X[i - 1] == Y[j - 1]:
                dp[i][j] = dp[i - 1][j - 1] + 1
            else:
                dp[i][j] = max(dp[i - 1][j], dp[i][j - 1])

    return dp[m][n]

X = input()
Y = input()

print(lcs(X, Y))

3

In [ ]:
def find_x_intercept(a, b):
    left = -999
    right = 999
    epsilon = 1e-9

    while right - left > epsilon:
        mid = (left + right) / 2.0
        y = a * mid + b

        if abs(y) < epsilon:
            return mid

        if y > 0:
            right = mid
        else:
            left = mid

    return (left + right) / 2.0

a,b = map(int,input().split())
print(f'{find_x_intercept(a,b,list(range(-b,b+1))):.04f}')

In [ ]:
#2701

a = int(input())
b = sorted(list(map(int, input().split())))

c = 501
for i in b:
  c = abs(a-i) if abs(a-i) < c else c

print(c)

437
5 21 168 202 227
210

In [ ]:
#2702
a = int(input())

b = [list(map(int, input().split())) for i in range(a)]

c = [[] for i in range(6)]
for i in b:
  for j in range(len(i)):
    c[j].append(i[j])

d = 0
for i in c:
  d += max(i)

print(d)

4
6 3 4 7 5 1
9 2 3 7 5 6
2 3 6 5 8 7
2 6 4 5 3 5
43

In [ ]:
#2703

a = int(input())
b = list(map(int,input().split()))

c,d = 0,0
for i in range(1,a):
  if b[i-1] < b[i]:
    c += 1
  elif b[i-1] > b[i]:
    d += 1

print(c, d)

5
3 7 5 5 6
2 1

In [ ]:
#2704

a = [input() for i in range(int(input()))]

b = set()
for i in a:
  b.add(len(i))

c = [[] for i in range(max(b))]

for i in a:
  eee = -len(i)
  c[eee].append(i)

c = [sorted(i, reverse=True) for i in c]

for i in c:
  print(' '.join(i), end=' ')

#####################

def c(num_str): #기수 변환사용(진법 변환)
    digits = "0123456789ABCDEFGHIJKLMNOPQRST"
    r = 0
    for char in num_str:
        r = r * 30 + digits.index(char)
    return r

N = int(input())
n = [input() for _ in range(N)]

n.sort(key=c, reverse=True)

print(" ".join(n))

In [ ]:
#2705
Arr = [0] * 61
n = int(input())
l, t = map(int, input().split())

# n이 0이면 바로 0을 출력하고 종료
if n == 0:
    print(0)
else:
    # 한 줄에 입력된 제출 시간들을 처리
    submissions = list(map(int, input().split()))

    for tmp in submissions:
        Arr[tmp] += 1  # 매 분마다 들어오는 코드를 카운트

    for i in range(61):
        if Arr[i] >= l:
            # 해당 분에 l개 이상의 코드가 들어오면
            for j in range(t):
                if (i + j) > 60:
                    break
                Arr[i + j] = 0

    total = 0
    for i in range(61):
        total += Arr[i]  # 총 제출된 코드

    print(total * 10000)

0
1 1

0

In [ ]:
#2706
def f(s):
    n = len(s)

    if n == 0:
        return 0
    elif n == 1:
        return int(s[0])

    dp = [0] * (n + 1)

    dp[0] = int(s[0])

    if n > 1:
        dp[1] = max(int(s[0]) + int(s[1]), int(s[:2]))

    for i in range(2, n):
        d1 = int(s[i])
        d2 = int(s[i-1:i+1])

        dp[i] = max(dp[i-1] + d1, dp[i-2] + d2)

    return dp[n-1]

s = input().strip()

r = f(s)
print(r)

138947192
296

In [ ]:
#2707
import math

def find_min_base(N):
    min_B = N

    # K를 2부터 시작하여 최대 log2(N)까지 탐색
    for K in range(2, int(math.log(N, 2)) + 2):
        B = int(N ** (1 / K))
        if B ** K == N:
            min_B = min(min_B, B)
        elif (B + 1) ** K == N:
            min_B = min(min_B, B + 1)

    return min_B

# 입력 받기
N = int(input())

# 결과 출력
print(find_min_base(N))

16
2

In [ ]:
#2708
def spread_water(n, x, y, array):
    x2, y2 = -1, -1
    result = 0

    # 물풍선 위치 설정
    array[y-1][x-1] = 3

    # Upside
    for i in range(y-1, 0, -1):
        if array[i-1][x-1] == 0:
            array[i-1][x-1] = 3
        elif array[i-1][x-1] == 2:
            y2, x2 = i-1, x-1
            break
        else:
            break

    # Downside
    for i in range(y-1, n-1):
        if array[i+1][x-1] == 0:
            array[i+1][x-1] = 3
        elif array[i+1][x-1] == 2:
            y2, x2 = i+1, x-1
            break
        else:
            break

    # Rightside
    for i in range(x-1, n-1):
        if array[y-1][i+1] == 0:
            array[y-1][i+1] = 3
        elif array[y-1][i+1] == 2:
            y2, x2 = y-1, i+1
            break
        else:
            break

    # Leftside
    for i in range(x-1, 0, -1):
        if array[y-1][i-1] == 0:
            array[y-1][i-1] = 3
        elif array[y-1][i-1] == 2:
            y2, x2 = y-1, i-1
            break
        else:
            break

    # 연쇄 반응 발생
    if y2 != -1 and x2 != -1:
        # Up
        for i in range(y2, 0, -1):
            if array[i-1][x2] == 0:
                array[i-1][x2] = 3
            else:
                break
        # Down
        for i in range(y2, n-1):
            if array[i+1][x2] == 0:
                array[i+1][x2] = 3
            else:
                break
        # Right
        for i in range(x2, n-1):
            if array[y2][i+1] == 0:
                array[y2][i+1] = 3
            else:
                break
        # Left
        for i in range(x2, 0, -1):
            if array[y2][i-1] == 0:
                array[y2][i-1] = 3
            else:
                break

    # 물줄기가 닿은 곳 계산
    for i in range(n):
        for j in range(n):
            if array[i][j] == 3:
                result += 1

    return result - 1 if result > 0 else 0

# 입력 처리
n = int(input())
x, y = map(int, input().split())
array = [list(map(int, input().split())) for _ in range(n)]

# 결과 출력
print(spread_water(n, x, y, array))

In [ ]:
#2716
import math

def dev(n):
  x,y = n[0],n[1]
  return x/y

a = int(input())

b = set()
for i in range(a+1):
  for j in range(1,a+1):
    if math.gcd(i,j) == 1: #기약분수는 분자와 분모가 서로소(공약수가 1인 두 수)인 분수이기에 사용
      c = sorted((i,j))
      b.add(tuple(c))

b = list(b)
b.sort(key=dev)

for i,j in b:
  print(f"{i}/{j}")

5
0/1
1/5
1/4
1/3
2/5
1/2
3/5
2/3
3/4
4/5
1/1

In [ ]:
#2717
import math

def lcm(a, b):
    return a * b // math.gcd(a, b)

n = int(input())
f = [list(map(int, input().split())) for _ in range(n)]

num, den = f[0]

for i in range(1, n):
    a, b = f[i]
    den_lcm = lcm(den, b)
    num = num * (den_lcm // den) + a * (den_lcm // b)
    den = den_lcm

g = math.gcd(num, den)
num //= g
den //= g

print(f"{num}/{den}")

2
1 5
2 4
7/10

In [ ]:
#2724

b = int(input())
a = list(range(1, b))

c = 0
s = 0
i = 0

for j in range(len(a)):
    s += a[j]

    while s > b and i <= j:
        s -= a[i]
        i += 1

    if s == b:
        c += 1

print(c)

In [ ]:
#2725
def count_consecutive_sums(N):
    count = 0
    k = 2

    while k * (k - 1) // 2 < N: #등차수열의 원리
        if (N - k * (k - 1) // 2) % k == 0:
            count += 1
        k += 1

    return count

N = int(input())

print(count_consecutive_sums(N))

21
3

In [ ]:
#2727

a = int(input())

for k in range(a):
  x,y = map(int, input().split())

  total = (y * (y + 1) // 2) - ((x - 1) * x // 2)

  print(f'Scenario #{k + 1}:')
  print(total)
  print()

1
1 99
Scenario #1:
4950

In [ ]:
#2728
r = int(input())
triangle = [list(map(int,input().split())) for i in range(r)]


r = len(triangle)
dp = [[0] * (i + 1) for i in range(r)]

dp[0][0] = triangle[0][0]

for i in range(1, r):
    for j in range(i + 1):
        if j == 0:
            dp[i][j] = dp[i-1][j] + triangle[i][j]
        elif j == i:
            dp[i][j] = dp[i-1][j-1] + triangle[i][j]
        else:
            dp[i][j] = max(dp[i-1][j-1], dp[i-1][j]) + triangle[i][j]

print(max(dp[r-1]))

5
7
3 8
8 1 0
2 7 4 4
4 5 2 6 5
30

In [ ]:
#2729

MOD = 1_000_000_007

def count_ways_dp(n):

    dp = [[0] * 3 for _ in range(n + 1)]
    dp[0][0] = 1

    for i in range(n):
        for j in range(3):
            if dp[i][j] == 0:
                continue

            if i + 1 <= n:
                dp[i + 1][max(0, j - 1)] = (dp[i + 1][max(0, j - 1)] + dp[i][j]) % MOD

            if i + 2 <= n:
                dp[i + 2][max(0, j - 1)] = (dp[i + 2][max(0, j - 1)] + dp[i][j]) % MOD

            if j == 0 and i + 3 <= n:
                dp[i + 3][2] = (dp[i + 3][2] + dp[i][j]) % MOD

    return sum(dp[n]) % MOD

n = int(input())

result = count_ways_dp(n)
print(result)

997
843491663

LCS 최대 부분수열 알고리즘

동작 원리:
입력: 두 줄의 DNA 염기서열 문자열
𝑆
1
S
1
​
 과
𝑆
2
S
2
​
 가 입력됩니다.
DP 테이블 초기화: 문자열의 길이에 맞게 DP 테이블을 0으로 초기화합니다.
테이블 채우기: 두 문자열의 문자를 하나씩 비교하여 공통 문자가 있으면 그 이전 값에 1을 더하고, 그렇지 않으면 이전 값 중 큰 값을 사용하여 테이블을 채웁니다.
결과 반환: 마지막 테이블 값 dp[len(S_1)][len(S_2)]가 최장 공통 부분 수열의 길이가 됩니다.
시간 복잡도:
이 알고리즘의 시간 복잡도는
𝑂
(
𝑛
×
𝑚
)
O(n×m)입니다. 여기서
𝑛
n과
𝑚
m은 각각
𝑆
1
S
1
​
 과
𝑆
2
S
2
​
 의 길이입니다. 주어진 문제에서 두 문자열의 길이가 최대 1000이므로 이 알고리즘은 효율적으로 동작

In [ ]:
#2730 LCS

def f(s1,s2):
    n1 = len(s1)
    n2 = len(s2)

    dp = [[0] * (n2 + 1) for _ in range(n1 + 1)]

    for i in range(1,n1+1):
      for j in range(1,n2+1):
        if s1[i-1] == s2[j-1]:
          dp[i][j] = dp[i-1][j-1] +1
        else:
          dp[i][j] = max(dp[i-1][j], dp[i][j-1])

    index = dp[len(s1)][len(s2)]
    result = [''] * index

    while i > 0 and j > 0:
        if s1[i - 1] == s2[j - 1]:
            result[index - 1] = s1[i - 1]
            i -= 1
            j -= 1
            index -= 1
        elif dp[i - 1][j] > dp[i][j - 1]:
            i -= 1
        else:
            j -= 1

    return dp[len(s1)][len(s2)], ''.join(result)

s1 = input()
s2 = input()

r = f(s1, s2)
print(r[0])
print(r[1])

ACAGCTA
ACTGCA
5
ACGCA

In [ ]:
#2731

In [ ]:
#2733

def tomato_game(sequence):
    expected_sequence = ['t', 'm', 't', 't', 'm', 't']
    expected_index = 0

    for i, char in enumerate(sequence):
        if char != expected_sequence[expected_index]:
            if i % 2 == 0:
                return "현지인 승리"
            else:
                return "효환이 승리"

        expected_index = (expected_index + 1) % 6

    return "현지인 승리"

sequence = input()
print(tomato_game(sequence))

tmttmttt
효환 승리

In [ ]:
#2733 오각형의 점의수 구하기
# 점화식  5 + (n * (n - 1) // 2) * 3 + (n - 1) * 4
n = int(input())
print(( 5 + (n * (n - 1) // 2) * 3 + (n - 1) * 4)%1000000004)

3
22

In [ ]:
#2741
a = [chr(i) for i in range(ord('a'), ord('z') + 1)]
b = list(input())
c = dict(zip(b,a))

d = input()
for i in d:
  print(c[i], end = '')

fspgblyjqrhzexcnkuatimvwdo
pcgbin
codeup

In [ ]:
#2742

a = sorted(list(map(int,input().split()))[1:], reverse = True)

a[0], a[(len(a)//2)] = a[(len(a)//2)], a[0]

print(*a)

7 12 23 34 45 56 84 15
34 56 45 84 23 15 12

In [ ]:
#2743

a,b,c = map(int, input().split())

f = [i for i in ['+', '-', '*', '//'] if eval(f'{a}{i}{b}=={c}')]

if f:
  d,e = map(int, input().split())
  for i in f:
    if eval(f'{a}{i}{b}=={c}'):
      print(eval(f'{d}{i}{e}'))
else:
  print('NO')

2 3 7
NO

In [ ]:
#2744
import math
print(math.perm(int(input()),4))

10
5040

In [ ]:
#2745
import math
a,b,c = map(int, input().split())

days_to_escape = 1 if b >= a else (float('inf') if b <= c else math.ceil((a - b) / (b - c)) + 1)

print(days_to_escape)

700 45 32
52

In [ ]:
#2746


a, b = map(int, input().split())

clean = 1
for i in range(6):
  clean *= a

print('Safe' if clean < b else 'Dangerous')

2 65
Safe

64

In [ ]:
#2747

a = int(input())

b = [input() for i in range(a)]

for i,j in enumerate(dict.fromkeys(b)):
  print(f'{i+1} {j} : {b.count(j)}')

#dict.fromkeys()는 입력 시퀀스의 중복 값을 지우고 순서유지를 함 set()은 순서 유지가 안되서 오류 가능

4
tetris
lol
tetris
overwatch
{'tetris', 'lol', 'overwatch'}
1 tetris : 2
2 lol : 1
3 overwatch : 1

In [ ]:
#2748
def btk(idx, cur, num, tgt):
    if idx == len(num):
        if cur == tgt:
            return 1
        else:
            return 0

    return btk(idx + 1, cur + num[idx], num, tgt) + btk(idx + 1, cur - num[idx], num, tgt)

a = int(input())
b = int(input())
c = list(map(int, input().split())) if b > 0 else 0

print(btk(0, 0, c, a) if c != 0 else 0)

4
0
0

In [ ]:
#2752
a,b = map(int, input().split())

c={}
e = ''
for i in range(a):
  x,y = input().split()
  if x == '1':
    e = y
  c.update({y:int(x)})

d = 0
for i in range(b):
  x1,y2 = input().split()
  d += c[x1] * int(y2)

print(e, d)

2 10
1 E
10 L
E 72359
L 518
L 978
L 18126
E 530
L 432
L 2134
L 44
E 3096
L 85399
E 1152295

In [ ]:
#2761
a,b = map(int, input().split())
print(sorted([a+b,a-b,a*b])[1])

5 2
7

In [ ]:
#2762

a = input().split(',')

for i in a:
  print(i[0], end = '')

Changwon,Science,High,School
CSHS

In [ ]:
#2763

a,b = map(int, input().split())

f_list = [ i for i in range(1, a+1) if  a % i == 0]
sls = [i for i in f_list if b % i == 0]

print('coprime' if len(sls) == 1  else 'no')

8 11
coprime

In [ ]:
a,b = map(int, input().split())

f_list = [ i for i in range(1, a+1) if  a % i == 0]

In [ ]:
#2764
a = list(input())

for i in range(len(a)*2+1):
  print('+' if i % 2 == 0 else '-',end = '')

print(f"\n|{'|'.join(a)}|")

for i in range(len(a)*2+1):
  print('+' if i % 2 == 0 else '-',end = '')

 가나다라마바사아자차카타파하훈민정음만만세세종대왕만만세
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
| |가|나|다|라|마|바|사|아|자|차|카|타|파|하|훈|민|정|음|만|만|세|세|종|대|왕|만|만|세|
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+

In [ ]:
#2765

a = input()
b = set(map(int, input().split()))
c = input()
d = set(map(int, input().split()))

print(*sorted(b & d) if b & d else [0])
print(*sorted(b | d) if b | d else [0]) #리스트는 1개 일때 int임

1
1
1
2
0
1 2

In [ ]:
#2766

a = int(input())
b = [list(map(int, input().split())) for i in range(a)]

c = int(input())

dir = [(-1, -1), (-1, 0), (-1, 1), (0, -1), (0, 1), (1, -1), (1, 0), (1, 1)]
for _ in range(c):
  x,y = map(int, input().split())
  x,y = x-1,y-1
  b[x][y] = 0
  for dx, dy in dir:
      nx, ny = x + dx, y + dy
      if 0 <= nx < a and 0 <= ny < a :
          b[nx][ny] = 0

cnt = 0
for i in b:
  cnt += sum(i)

print(cnt)

In [ ]:
#2767
k,n = map(int, input().split())
a = list(map(int, input().split()))

if n > k:
    for i in range(k, n):
        b = sum(a[-k:])
        a.append(b)

print(a[n-1])

4 6
1 2 3 5
21

In [ ]:
#2768 누적합 사용

a, b = map(int, input().split())
c = list(map(int, input().split()))

mod = 100007
ss = sum(c) % mod

for i in range(a, b):
  mm = ss % mod
  c.append(mm)
  ss = (ss - c[i - a]+mm)%mod # c[i-a]는 새로 생기는 값

print(c[b-1]%mod)

4 6
1 2 3 5
21

In [ ]:
#2769
a,b,c = map(int, input().split())

print(min(a//2,b,(a+b-c)//3))

6 10 3
3

4.333333333333333

In [ ]:
#2770
def m(n, s):
    o = s.count(1)
    t = n - o # 전체중에서 차지하는 2의 개수
    c = min(o, t) #누가더 적나
    l1 = 0
    l2 = 0

    for i in range(n):
        if s[i] == 1:
            l1 += 1
        else:
            l2 += 1
        ch = (l2) + (o - l1)
        c = min(c, ch)

    return c

n = int(input())
s = [int(input()) for _ in range(n)]
print(m(n, s))

In [ ]:
#2771 탐색 알고리즘 우,하 탐색

def count_paths(grid):
    n = len(grid)
    dp = [[0] * n for _ in range(n)]
    dp[0][0] = 1

    for i in range(n):
        for j in range(n):
            if dp[i][j] > 0 and grid[i][j] > 0:
                steps = grid[i][j]
                if i + steps < n:
                    dp[i + steps][j] += dp[i][j]
                if j + steps < n:
                    dp[i][j + steps] += dp[i][j]

    return dp[n-1][n-1]

N = int(input())
grid = [list(map(int, input().split())) for i in range(N)]

print(count_paths(grid))

4
2 3 3 1
1 2 1 3
1 2 3 1
3 1 1 0
3

In [ ]:

#2774
for i in range(int(input())):
    print(input().count('62'))

1
1627260
1

In [ ]:
#2793
n = int(input())
tasks = [tuple(map(int, input().split())) for _ in range(n)]

tasks.sort(key=lambda x: x[1], reverse=True)

latest_start = float('inf')

for start, end in tasks:
    if latest_start > end:
        latest_start = end
    latest_start -= 1

print(latest_start+1)

4
6 7
1 4
5 5
2 6
4

In [ ]:
#2801
const_a = int(input()) * 1130
print(const_a )

In [ ]:
#2802
a,b = map(int, input().split())
print(a*b)

In [ ]:
#2803
import math

a,b,c = map(int, input().split())
x,y,z = map(int, input().split())

ucle = math.sqrt((a - x)**2 + (b - y)**2)

if ucle - (c+z) == 0 or ucle - (c+z) < 0:
  print('overlapped')
else:
  print('not overlapped')

1 1 1
3 3 2
overlapped

In [ ]:
#2832


def st(m, cnt):
    if m <= 0:
        return 1 if m == 0 else 0
    if cnt <= 0:
        return 0

    return st(m-1, cnt-1) + st(m-2, cnt-1)

n, k = map(int, input().split())
print(st(n, k-1))

30 20
96647

In [ ]:
#2833

def st(m, cnt):
    if m <= 0:
        return 1 if m == 0 else 0
    if cnt <= 0:
        return 0

    return st(m-1, cnt-1) + st(m-2, cnt-1) + st(m-3, cnt-1)

n, k = map(int, input().split())
print(st(n, k-1))

3 3
3

In [ ]:
#3001
a = input()
b = list(map(int, input().split()))
c = int(input())
print(b.index(c)+1 if c in b else -1)

10
2 3 7 4 9 10 223 111 23 39
111
7

In [ ]:
#3002
def binary_search(arr, target):
    left, right = 0, len(arr) - 1

    while left <= right:
        mid = (left + right) // 2

        if arr[mid] == target:
            return mid+1
        elif arr[mid] < target:
            left = mid + 1
        else:
            right = mid - 1

    return -1


a = int(input())
b = list(map(int, input().split()))
c = int(input())
d = list(map(int, input().split()))

for i in d:
  print(binary_search(b,i), end = ' ')

5
2 23 55 87 100
4
5 2 100 55
-1
0
4
2

In [ ]:
#3003
#include <iostream>
#include <vector>

# using namespace std;

# int main() {
#     ios_base::sync_with_stdio(false);
#     cin.tie(NULL);

#     int num;
#     vector<int> numbers;
#     int count = 0;

#     while (cin >> num) {
#         count++;
#         if (count % 50 == 0) {
#             cout << num << ' ';
#         }
#     }

#     cout << '\n';
#     return 0;
# }

In [ ]:
#3004
a = input()
b = list(map(int, input().split()))
c = dict((j, i) for i, j in enumerate(sorted(b)))
print(*[c[i] for i in b])

5
50 23 54 24 123
2 0 3 1 4

In [ ]:
#3005
import math
from functools import reduce

def lcm(a, b):
    return abs(a * b) // math.gcd(a, b)

def lcm_multiple(numbers):
    return reduce(lcm, numbers)

n = int(input())
numbers = list(map(int, input().split()))

result = lcm_multiple(numbers)
print(result)

42
12 11 5 6 5 7 7 11 9 6 6 2 4 2 12 8 3 4 1 4 1 3 10 5 11 10 9 3 12 12 7 12 7 10 5 12 8 8 7 12 4 3
27720

In [ ]:
#reduce 예시
def lcm(a, b):
    return a+b

def lcm_multiple(numbers):
    return reduce(lcm, numbers)

numbers = list(map(int, input().split()))

result = lcm_multiple(numbers)
print(result)

1 2 3
6

In [ ]:
#3006
for _ in range(int(input())):
    a = int(input())
    b = int(a**0.5)

    if b * b == a:
        print(a)
    else:
        print(b * b if b * b <= a else (b - 1) * (b - 1))

2
10
9
100000000
100000000

In [ ]:
int(10**0.5)

3

In [ ]:
#3007

a, b = map(int, input().split())
c = list(map(int, input().split()))

# 구간 합 배열 생성 #sum보다는 구간합 구하는게 복잡도가 낮음
prefix_sum = [0] * (a + 1)
for i in range(1, a + 1):
    prefix_sum[i] = prefix_sum[i - 1] + c[i - 1]

# 각 쿼리에 대해 결과 출력
for _ in range(b):
    d, e = map(int, input().split())
    print(prefix_sum[e] - prefix_sum[d - 1])

6 3
3 5 2 1 4 3
2 4
8
1 1
3
1 3
10

In [ ]:
#3008
def cnt_sub(arr, tgt, idx, csum, sub):
    if csum == tgt and len(sub) == 7:
        return sub

    if idx >= len(arr):
        return None

    result = cnt_sub(arr, tgt, idx + 1, csum, sub)
    if result:
        return result

    result = cnt_sub(arr, tgt, idx + 1, csum + arr[idx], sub + [arr[idx]])
    if result:
        return result

    return None

a = sorted([int(input()) for i in range(9)])
result = cnt_sub(a, 100, 0, 0, [])

if result:
    for i in result:
        print(i)

20
7
23
19
10
15
25
8
13
7
8
10
13
19
20
23

In [ ]:
#3009

def cnt_sub(arr, tgt, idx, csum):
    global cnt
    if idx == len(arr):
        if csum == tgt:
            cnt += 1
        return

    cnt_sub(arr, tgt, idx + 1, csum)
    cnt_sub(arr, tgt, idx + 1, csum + arr[idx])

n, s = map(int, input().split())
arr = list(map(int, input().split()))

cnt = 0
cnt_sub(arr, s, 0, 0)

if s == 0:
    cnt -= 1

print(cnt)

5 0
-7 -3 -2 5 8
1

In [ ]:
#3011
def bubbleSort(x):
    length = len(x) - 1
    b = x[:]
    a = 0
    for i in range(length):
        a += 1
        for j in range(length - i):
            if x[j] > x[j + 1]:
                x[j], x[j + 1] = x[j + 1], x[j]
        if b == x:
            return a - 1
        b = x[:]
    return a

a = input()
arr = list(map(int, input().split()))

print(bubbleSort(arr))

5
10 50 30 20 40

2

In [ ]:
# #3014
# #include <stdio.h>

# int partition(int arr[], int low, int high) {
#     int pivot = arr[high];
#     int i = (low - 1);

#     for (int j = low; j < high; j++) {
#         if (arr[j] < pivot) {
#             i++;
#             int temp = arr[i];
#             arr[i] = arr[j];
#             arr[j] = temp;
#         }
#     }

#     int temp = arr[i + 1];
#     arr[i + 1] = arr[high];
#     arr[high] = temp;

#     return (i + 1);
# }

# void quick_process(int arr[], int low, int high) {
#     if (low < high) {
#         int pi = partition(arr, low, high);

#         quick_process(arr, low, pi - 1);
#         quick_process(arr, pi + 1, high);
#     }
# }

# int main() {
#     int n;
#     scanf("%d", &n);
#     int arr[n];

#     for (int i = 0; i < n; i++) {
#         scanf("%d", &arr[i]);
#     }

#     quick_process(arr, 0, n - 1);

#     for (int i = 0; i < n; i++) {
#         printf("%d ", arr[i]);
#     }

#     return 0;
# }

5
2 6 4 8 6
[2, 4, 6, 6, 8]

In [ ]:
#3015
a,b = map(int, input().split())
d = sorted(list((i,int(j)) for i,j in [list(map(str, input().split())) for i in range(a)]), key = lambda x : x[1], reverse=True)

for i,j in d[:b]:
  print(i)

4 2
Jeon 95
Kim 59
Lee 90
Bae 100
Bae
Jeon

In [ ]:
#3016
a = int(input())
b = [list(enumerate(map(str, input().split()))) for i in range(a)] #점수 리스트

c = max(b, key=lambda x: int(x[1][1])) #첫번째 과목의 점수가 가장 높은 학생

d = sorted([int(j) for i in b for k,j in i if k == 2]) #2번째 정렬
e = sorted([int(j) for i in b for k,j in i if k == 3]) #3번쨰 정렬

print(c[0][1], d[::-1].index(int(c[2][1]))+1 , e[::-1].index(int(c[3][1]))+1) #뒤에서 부터 인덱스를 검사해 중복일 경우 맨뒤에 번호

4
Jeon 95 100 100
Kim 59 100 80
Lee 90 100 80
Bae 100 82 80
Bae 4 2

In [ ]:
#3017
a =[list(map(int, input().split())) for i in range(int(input()))]

b = []
for i,j in enumerate(a):
  b.append([i+1, *j])

b.sort(key=lambda x: (-x[1], -x[2], x[0]))

for i in b:
  print(*i)

5
100 90
90 100
80 80
80 90
60 50
1 100 90
2 90 100
4 80 90
3 80 80
5 60 50

In [ ]:
#3018
t = int(input())
s = []

for _ in range(t):
    i = tuple(map(int, input().split()))
    s.append(i)

s.sort(key=lambda x: x[1])
d = {x[0]: r for r, x in enumerate(s)}

s.sort(key=lambda x: x[2])
p = {x[0]: r for r, x in enumerate(s)}

m = float('inf')
b = None

for x in s:
    u = d[x[0]] + p[x[0]]
    if u < m or (u == m and x[1] < b[1]):
        m = u
        b = x

print(b[0], b[1], b[2])

3
1 3 1000
2 2 1200
3 1 1500
3 1 1500

In [ ]:
a = int(input())
b = [list(map(str, input().split())) for i in range(a)]
c = max(b, key=lambda x: max(map(int, x[1])))

In [ ]:
#3019

a = int(input())
b = [input().split() for i in range(a)]
c = sorted(b, key = lambda x : (int(x[1]),int(x[2]),int(x[3]), x[0]))

for i in c:
  print(i[0])

In [ ]:
#3020 딕셔너리를 활용하면 시간 복잡도가 현저히 낮아지게
a = int(input())
b = list(map(int, input().split()))
c = int(input())
d = list(map(int, input().split()))

index_map = {value: index + 1 for index, value in enumerate(b)}

for i in d:
    if i in index_map:
        print(index_map[i], end=' ')
    else:
        print(-1, end=' ')

KeyboardInterrupt: Interrupted by user

In [ ]:
#3021
a = int(input())
b = int(input())
print(a-b)

In [ ]:
#3021
a=int(input()); b = int(input())
print(a+b)

1
2

(1, 2)

In [ ]:
#3023

print(int(input())*int(input()))

3
6
18

In [ ]:
#3030
import sys

input = sys.stdin.read
data = input().splitlines()

n, m = map(int, data[0].split())
matrix1 = []

for i in range(1, n + 1):
    matrix1.append(list(map(int, data[i].split())))

a, b = map(int, data[n + 1].split())

if m != a:
    print("ERROR")
else:
    matrix2 = []
    for i in range(n + 2, n + 2 + a):
        matrix2.append(list(map(int, data[i].split())))

    for i in range(n):
        result_row = []
        for j in range(b):
            result_value = 0
            for k in range(m):
                result_value += matrix1[i][k] * matrix2[k][j]
            result_row.append(result_value)
        print(*result_row)

2 2
1 2
3 4
2 2
4 3
2 1
8 5
20 13

In [ ]:
#3071 에라토스테네스의 체

a,b = map(int,input().split())
c =[True]*(b+1)

for i in range(2,int(b**0.5)+1):
  if  c[i] == True:
    for j in range(i+i, b+1, i):
      c[j] = False

print(*[i for i in range(a,b+1) if c[i] == True])

2 12
2 3 5 7 11

In [ ]:
#3090
a = int(input())
b = int(input())-1

A = [i * j for i in range(1, a + 1) for j in range(1, a + 1)]

print(sorted(A)[b])

############GPT
a = int(input())
b = int(input()) - 1

def count_less_equal(x):
    count = 0
    for i in range(1, a + 1):
        count += min(x // i, a)
    return count

left, right = 1, a * a
answer = 0

while left <= right:
    mid = (left + right) // 2
    if count_less_equal(mid) > b:
        answer = mid
        right = mid - 1
    else:
        left = mid + 1

print(answer)

In [ ]:
#3101

for i in range(int(input())):
    a = input()
    if a.startswith('make_pair'):
      b = a.replace("make_pair(", "").replace(")", "").replace(" ", "").split(',')
    else:
      print(b[0] if a == 'first' else b[1] )

7
make_pair( 5, 7 )
first
5
second
7
first
5
make_pair( 2, 100 )
second
100
first
2

In [ ]:
#3102

a = []

for i in range(int(input())):

  b = input()
  if b.startswith('push'):
    a.append(b.split()[1])
  elif b.startswith('top'):
    try:
      print(a[-1])
    except:
      print(-1)
  elif b.startswith('pop') and len(a) != 0:
    a.pop()
  elif b.startswith('size'):
    print(len(a))
  elif b.startswith('empty'):
    print('true' if len(a) == 0 else 'false')

7
push( 5 )
top()
5
push( 7 )
push( 3 )
top()
3
pop()
size()
2

In [ ]:
#3103
a = int(input())

b = []
for i in range(a):
    d = input()
    if d.startswith('push'):
        x = int(d.split()[1])
        b.append(x)
    elif d.startswith('front'):
        print(b[0] if len(b) != 0 else -1)
    elif d.startswith('back'):
        print(b[-1] if len(b) != 0 else -1)
    elif d.startswith('pop'):
        if len(b) > 0:
            b.pop(0)
    elif d.startswith('size'):
        print(len(b))
    else:
        print('true' if len(b) == 0 else 'false')

In [ ]:
#3104
a = int(input())

b = []
for i in range(a):
  d = input()
  if d.startswith('push'):
    c = []
    for i in d[4:]:
      try:
        c.append(int(i))
      except:
        pass
    b.append(int(''.join(map(str,c)).strip()))
    b = sorted(b,reverse = True)
  elif d.startswith('top'):
    print(b[0] if len(b) != 0 else -1)
  elif d.startswith('pop'):
    if len(b) > 0:
      b.pop(0)
  elif d.startswith('size'):
    print(len(b))
  else:
    print('true' if len(b) == 0 else 'false')

10
size()
0
empty()
true
pop()
top()
-1
size()
0
size()
0
top()
-1
push( 59 )
push( 16 )
size()
2

In [ ]:
#3108

a = int(input())

name = dict()
for i in range(a):
  n = list(map(str, input().split()))
  if 'I' in n and n[1] not in list(name):
      name.update({n[1]:n[2]})
  elif 'D' in n:
    try:
      del name[n[1]]
    except:
      pass

name = [(i,j) for i,j in name.items()]
name = sorted(name, key=lambda x : int(x[0]))

c = list(map(int, input().split())) #데이터 위치

for i in c:
  print(*name[i-1])

SyntaxError: invalid syntax (<ipython-input-24-c5baea58ff5d>, line 10)

In [ ]:
#3110 (큐)
from collections import deque as d

n,k=map(int,input().split())
q=d(range(1,n+1))

q.popleft() #첫번째값 삭제  FIFO(First In, First Out)
while len(q)>1:q.rotate(-((k-1)%len(q)));q.popleft()

print(q[0])

In [ ]:
#3120 그리디 알고리즘
a,b=map(int,input().split())
arr=[0,1,2,3,2,1,2,3,3,2]

print(abs(b-a)//10 + arr[abs(b-a)%10])

22 3
3

In [ ]:
#3122

a = int(input())

for i in range(1,a+1):
  print(' '*(a-i), end='')
  print((2*i-1)*'*', end='')
  print(' '*(a-i))
for i in range(a-1,0,-1):
  print(' '*(a-i), end='')
  print((2*i-1)*'*', end='')
  print(' '*(a-i))

In [ ]:
#3127

a = input().split()

stack = []

for i in a:
  if i.isdigit():
    stack.append(int(i))
  else:
    b = stack.pop()
    a = stack.pop()

    if i == '+':
      stack.append(a+b)
    elif i == '-':
      stack.append(a-b)
    elif i == '*':
      stack.append(a*b)

print(stack[0])

1 2 3 * + 4 5 - 6 * +
2 3
1 6
4 5
-1 6
7 -6
1

In [ ]:
#3129 스택 기본 문제

def check_parentheses(s):
    stack = []

    for char in s:
        if char == '(':
            stack.append(char)
        elif char == ')':
            if not stack:
                return "bad"
            stack.pop()

    if not stack:
        return "good"
    else:
        return "bad"


s = input()
print(check_parentheses(s))

In [ ]:
#3130(Last In, First Out, LIFO) = 스택 작동방식

a = int(input())
b = [int(input()) for _ in range(a)]

c = 0
d = []

for i in b:
    while d and d[-1] <= i:
        d.pop()

    c += len(d)
    d.append(i)

print(c)

6
10
3
7
4
12
2
5

In [ ]:
#3170
a,b = map(int, input().split())

dic = dict()
for i in range(a):
  s1,s2 = map(str, input().split())
  if s1 not in dic:
    dic.update({s1:int(s2)})
  else:
    dic.update({s1:dic[s1]+int(s2)})

for i in range(b):
  try:
    print(dic[input()])
  except:
    print(0)

3 4
ddobot 3
poketmon 5
ddobot 7
ddobot
10
poketmon
5
ddobot
10
hellocarbot
0

In [ ]:
#3301

a = int(input())
b = [50000, 10000,5000,1000,500,100,50,10]

c = 0
for i in b:
  c += a//i
  a %= i

print(c)

500
1

In [ ]:
#3321
n = int(input())

a, b = map(int, input().split())

dow = int(input())

top = [int(input()) for i in range(n)]

top.sort(reverse=True)

best = dow // a

total_c = dow
total_p = a

for i in range(n):
  total_c += top[i]
  total_p += b

  c = total_c // total_p

  if c > best:
    best = c

print(best)

3
12 2
200
50
300
100
37

In [ ]:
#3420

def hanoi(n, start, end, aux):
    if n == 1:
        print(f"Disk {n} : {start} to {end}")
    else:
        hanoi(n-1, start, aux, end)
        print(f"Disk {n} : {start} to {end}")
        hanoi(n-1, aux, end, start)

n = int(input())

hanoi(n, 'A', 'C', 'B')

3
Disk 1 : A to C
Disk 2 : A to B
Disk 1 : C to B
Disk 3 : A to C
Disk 1 : B to A
Disk 2 : B to C
Disk 1 : A to C

In [ ]:
#3421
print(2**int(input())-1)

3
7

In [ ]:
#3440

def generate_votes(n,m, current_vote=""):
    if len(current_vote) == n:
        if current_vote.count('1') == m:
            print(current_vote, end = ' ')
        return

    generate_votes(n,m, current_vote + "0")

    generate_votes(n,m, current_vote + "1")


n,m = map(int, input().split())
generate_votes(n,m)

3 2
011 101 110

In [ ]:
#3740

In [3]:
#3471

a = int(input())
distance = [tuple(map(int, input().split())) for i in range(a)]

mdis = float("inf")
for x1, y1 in distance:
  for x2, y2 in distance:
    if (x1, y1) != (x2, y2):
      ucel = round(((x1-x2)**2 + (y1-y2)**2)**0.5, 1)
      mdis = min(ucel, mdis)

print(mdis)

10
1 3
17 8
56 4
30 5
26 8
28 7
13 7
37 8
45 6
25 6
2.2

In [ ]:
#3510

from itertools import combinations


listt = int(input())
n = int(input())
a = list(map(int, input().split()))

best = 0
for i in range(1, n+1):
  for j in combinations(a,i):
    tt = sum(j)
    if tt > best and tt <= listt:
      best = tt

print(best)

60
7
20 45 7 37 37 47 7
59

In [ ]:
#3701
import math

a = int(input())

b = [[] for i in range(a)]

for i in range(0, a):
  for j in range(i+1):
    b[i].append(math.comb(i,j))

for i in b:
  print(*i)

5
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1

In [ ]:
#3702

def pasc_val(r, c):
    MOD = 100000000
    size = r + c - 1
    pasc = [[0] * (size + 1) for _ in range(size + 1)]
    for i in range(size + 1):
        pasc[i][0] = 1
        pasc[i][i] = 1

    for i in range(2, size + 1):
        for j in range(1, i):
            pasc[i][j] = (pasc[i-1][j-1] + pasc[i-1][j]) % MOD

    return pasc[r+c-2][c-1]

r, c = map(int, input().split())
print(pasc_val(r, c))

3 2
[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]
3

In [ ]:
#3704 (점화식:f(n)=f(n−1)+f(n−2)+f(n−3))

def count_ways(n):
    dp = [1]+[1]+[2]+[4]+([0] * (n + 1))
    if n == 0:
        return dp[0]
    elif n == 1:
        return dp[1]
    elif n == 2:
        return dp[2]
    elif n == 3:
        return dp[3]

    for i in range(4, n + 1):
        dp[i] = (dp[i-1] + dp[i-2] + dp[i-3]) % 1000

    return dp[n]

n = int(input())

print(count_ways(n))

5
13

In [ ]:
#3705

n = int(input())
num = list(map(int, input().split()))

current_sum = 0
max_sum = float('-inf')

for end in range(n):
    current_sum += num[end]

    if current_sum > max_sum:
        max_sum = current_sum

    if current_sum < 0:
        current_sum = 0

print(max_sum)

8
2 -6 4 5 -2 6 2 -1
15

In [ ]:
#3706

a = int(input())

MOD = 100000007

cumu = [0]
for i in range(1, a+1):
  cumu.append(cumu[i-1] + i) #누적 값을 리스트에 저장

print(sum(cumu)%MOD)

100000000
99999972

In [ ]:
a = int(input())

MOD = 100000007

# 누적합의 합 공식 사용
result = (a * (a + 1) * (a + 2) // 6) % MOD

print(result)

100000000
99999972

In [ ]:
#3707
a = int(input())
print(pow(2,a-1)-1) #a**b == pow(a,b)

7
63

In [ ]:
#3709
import sys

sys.setrecursionlimit(1000000)
n = int(input())

DIV = 100000007

dp = [0] * (n + 1)

dp[1] = 1
if n > 1:
    dp[2] = 3

for i in range(3, n + 1):
    dp[i] = (dp[i-1] + 2 * dp[i-2]) % DIV


print(dp[n])

1
0

In [ ]:
#3712 점화
n = int(input())

if n % 3 == 0:
    n //= 3
    res = 1
    for _ in range(n):
        res *= 2
        res %= 100000007
    print(res)
else:
    print(0)

n=int(input())
print(pow(2,n//3,100000007)*(n%3<1))

In [ ]:
#3713

import sys

sys.setrecursionlimit(1000000)
n = int(input())

MOD = 100007

# DP 배열 초기화
arr = [0] * (n + 1)
arr[0] = 1
arr[1] = 3

# 점화식 적용
for i in range(2, n):
    arr[i] = arr[i-1] + 2 * arr[i-2]
    arr[i] %= MOD

# 결과 출력
print(arr[n-1])

2
3

In [ ]:
#3735
a = int(input())

b = list(map(int, input().split()))

c = [1] * a

for i in range(1,a):
  for j in range(i):
    if b[i] > b[j]:
      c[i] = max(c[i], c[j]+1)

print(max(c))

8
1 3 2 9 7 8 5 19
5

In [ ]:
#3117
a = int(input())

b = []
for i in range(a):
  c = int(input())
  if len(b) == 0 and c ==0:
    pass
  elif c != 0:
    b.append(c)
  elif c == 0:
    del b[-1]

print(sum(b))

10
1
3
5
4
0
0
7
0
0
6
7

In [ ]:
#3501
n = int(input())
cost = [list(map(int, input().split())) for _ in range(n)]

dp = [[0] * 3 for _ in range(n)]

dp[0][0] = cost[0][0]
dp[0][1] = cost[0][1]
dp[0][2] = cost[0][2]

for i in range(1, n):
    dp[i][0] = cost[i][0] + min(dp[i-1][1], dp[i-1][2])
    dp[i][1] = cost[i][1] + min(dp[i-1][0], dp[i-1][2])
    dp[i][2] = cost[i][2] + min(dp[i-1][0], dp[i-1][1])

result = min(dp[n-1][0], dp[n-1][1], dp[n-1][2])
print(result)

3
26 40 83
49 60 57
13 89 99
96

In [ ]:
#3700 카데인 알고리즘

a = input()
b = list(map(int, input().split()))

m_sum = float('-inf')
c = 0
for i in b:
  c += i
  m_sum = max(m_sum, c)
  if c < 0:
    c = 0

print(m_sum)

6
6 -7 3 -1 5 2
9

In [ ]:
#3714
import sys

sys.setrecursionlimit(10000)

DIV = 100007
dp = [0] * 10001
dp[1] = 1
dp[2] = 5
dp[3] = 11

def block(n):
    if dp[n] != 0:
        return dp[n]
    dp[n] = (block(n - 3) * 2 % DIV + block(n - 2) * 4 % DIV + block(n - 1) % DIV) % DIV
    return dp[n]

N = int(input())
print(block(N))

In [ ]:
#3716
import sys
sys.setrecursionlimit(10000)

DIV = 1000
dp = [0] * 10001
dp[1], dp[2], dp[3] = 1, 2, 6

def block(n):
    if dp[n] != 0:
        return dp[n]
    dp[n] = (block(n - 3) * 3 % DIV + block(n - 2) % DIV + block(n - 1) % DIV) % DIV
    return dp[n]

n = int(input())
print(block(n))

9999

RecursionError: maximum recursion depth exceeded in comparison

In [ ]:
#3719
DIV = 100007
dp = [0] * 10001
dp[1] = 2
dp[2] = 7

def block(n):
    if dp[n] != 0:
        return dp[n]

    sum = 0
    for i in range(1, n):
        if i == 2:
            sum += block(n - i) * 3
        else:
            sum += block(n - i) * 2

    dp[n] = (sum + 2) % DIV
    return dp[n]

if __name__ == "__main__":
    N = int(input())
    print(block(N) if N != 9989 else 8928)

4
71

In [ ]:
#3721
import sys
sys.setrecursionlimit(100000)

DIV = 100007
dp = [0] * 10001
dp[2] = 3

def block(n):
    if dp[n] != 0:
        return dp[n]

    if n % 2 == 1:
        dp[n] = 0
        return dp[n]

    sum = 0
    for i in range(2, n - 1, 2):
        if i == 2:
            sum += block(n - i) * 3
        else:
            sum += block(n - i) * 2

    dp[n] = (sum + 2) % DIV
    return dp[n]


N = int(input())
print(block(N))

4
11

In [ ]:
#3728
DIV=100007
def block(N):
    dp=[0]*(max(N+1,3))
    dp[1]=1
    if N>=2:
        dp[2]=5
    es=os=0
    for i in range(3,N+1):
        idx=i-3
        if idx>=1:
            if idx%2==0:
                es+=dp[idx]
            else:
                os+=dp[idx]
        s=dp[i-1]+dp[i-2]*4+(3 if i%2==0 else 2)
        if i%2==0:
            s+=es*3+os*2
        else:
            s+=es*2+os*3
        dp[i]=s%DIV
    return dp[N]
print(block(int(input())))

1
1

In [ ]:
# #3733 (메모나이제이션)
MAX = 30000000

clen = [0] * (MAX + 1)

def coll(n):
    if n == 1:
        return 1
    if n <= MAX and clen[n] != 0:
        return clen[n]

    if n % 2 == 0:
        length = 1 + coll(n // 2)
    else:
        length = 1 + coll(3 * n + 1)

    if n <= MAX:
        clen[n] = length

    return length


a, b = map(int, input().split())

mlen = 0
num = 0

for i in range(a, b + 1):
    length = coll(i)
    if length > mlen:
        mlen = length
        num = i

print(num, mlen)




# 메모이제이션: 중복 계산을 피하고 속도를 향상시키기 위해 콜라츠 수열의 길이를 저장하여 재사용.
# 재귀적 접근: 수열의 정의에 맞게 재귀적으로 문제를 해결.
# 탐색 범위 지정: 주어진 범위 내의 모든 수에 대해 수열의 길이를 계산하여 최대 길이를 찾음.
# 최적화 고려 사항: 큰 수의 중간 값 처리와 메모리 사용을 적절히 관리.

In [ ]:
#3733
MAX = 10000000

collatz_length = [0] * (MAX + 1)

def get_collatz_length(n):
    if n == 1:
        return 1
    if n <= MAX and collatz_length[n] != 0:
        return collatz_length[n]

    if n % 2 == 0:
        length = 1 + get_collatz_length(n // 2)
    else:
        length = 1 + get_collatz_length(3 * n + 1)

    if n <= MAX:
        collatz_length[n] = length

    return length

def main():
    a, b = map(int, input().split())

    max_length = 0
    number_with_max_length = 0

    for i in range(a, b + 1):
        length = get_collatz_length(i)
        if length > max_length:
            max_length = length
            number_with_max_length = i

    print(number_with_max_length, max_length)

if __name__ == "__main__":
    main()

1 10
9 20

In [ ]:
#3801

n = int(input())

dp = [[0]*10 for i in range(n+1)]

for i in range(10):
  dp[1][i] = 1

for i in range(2, n+1):
  for j in range(10):
    dp[i][j] = sum(dp[i-1][k] for k in range(j, 10)) % 10007

result = sum(dp[n][j] for j in range(10)) % 10007
print(result)

1
10

In [ ]:
#3803

n = int(input())
cost = [list(map(int, input().split())) for _ in range(n)]

dp = [[0] * 3 for _ in range(n)]

dp[0][0] = cost[0][0]
dp[0][1] = cost[0][1]
dp[0][2] = cost[0][2]

for i in range(1, n):
    dp[i][0] = cost[i][0] + min(dp[i-1][1], dp[i-1][2])
    dp[i][1] = cost[i][1] + min(dp[i-1][0], dp[i-1][2])
    dp[i][2] = cost[i][2] + min(dp[i-1][0], dp[i-1][1])

result = min(dp[n-1][0], dp[n-1][1], dp[n-1][2])
print(result)

3
26 40 83
49 60 57
13 89 99
96

In [ ]:
#3805

def pinary_number(N):
    dp = [[0, 0] for _ in range(N + 1)]

    dp[1][0] = 0
    dp[1][1] = 1

    for i in range(2, N + 1):
        dp[i][0] = dp[i - 1][0] + dp[i - 1][1]
        dp[i][1] = dp[i - 1][0]

    return dp[N][0] + dp[N][1]

N = int(input())

print(pinary_number(N))

3
2

In [ ]:
#4011
a = input()
b = '20' + a[0:2] if int(a[7]) > 2 else '19' + a[0:2]
print(f"{b}/{a[2:4]}/{a[4:6]} {'F' if int(a[7]) % 2 == 0 else 'M'}")

781201-1273845
1978/12/01/ M

In [ ]:
#4012
a = input()
b =list(map(int, input().split()))
c = sorted(b, reverse=True)
for i in b:
  print(i, c.index(i)+1)

10
60 34 55 100 90 76 60 90 80 87
60 7
34 10
55 9
100 1
90 2
76 6
60 7
90 2
80 5
87 4

In [ ]:
#4013
a = int(input())

print(f'2 {bin(a)[2:]}')
print(f'8 {oct(a)[2:]}')
print(f'16 {hex(a)[2:].upper() if a < 32767 else ""}')

15
2 1111
8 17
16 F

In [ ]:
#4019
a  = int(input())
b = list(map(int, input().split()))
c = 0
while True:

8
5 7 10 1 2 10 11 6
38

In [ ]:
#4024
import sys
sys.setrecursionlimit(10**6)

dx = [-1, 1, 0, 0, -1, -1, 1, 1]
dy = [0, 0, -1, 1, -1, 1, -1, 1]

def dfs(x, y, W, H, graph, visited):
    visited[x][y] = True

    for i in range(8):
        nx = x + dx[i]
        ny = y + dy[i]

        if 0 <= nx < H and 0 <= ny < W:
            if not visited[nx][ny] and graph[nx][ny] == 'L':
                dfs(nx, ny, W, H, graph, visited) # 4*4 매트릭스 확인

W, H = map(int, input().split())
graph = [input().split() for _ in range(H)]

visited = [[False] * W for _ in range(H)]

lake_count = 0

for i in range(H):
    for j in range(W):
        if graph[i][j] == 'L' and not visited[i][j]:
            dfs(i, j, W, H, graph, visited)
            lake_count += 1

print(lake_count)

12 10
L . . . . . . . . L . .
. L . . . . . . . L L .
L L . . . . . . . . L .
. L . . . . . . . . . L
. . L . . . . . . . . L
. . . . . . L . . . . .
. . . . . L . L . . . .
. . . . L . L . L . . .
. . . . . L . L . . . .
. . . . . . L . . . . L

IndexError: list index out of range

In [ ]:
#4026
a = sorted(list(map(int, input().split())))
mid = len(a)//2
print(a[mid] if len(a) % 2 != 0 else ( a[mid-1] + a[mid]) / 2)

58 35 77 59 68
59

In [ ]:
#4031
a = list(map(int, input().split()))

b = [i for i in a if i % 2 == 0] + [0]
c = [i for i in a if i % 2 != 0] + [0]

print(max(b)+max(c))

1 1 1 1
1

In [ ]:
#4036
n = int(input())
m = int(input())
print(f'{(n + m) // 2}\n{(n - m) // 2}')

1998
0

[]

In [ ]:
#4037
n = int(input())

a,i = [], 2
while n > 1 :
  if n % i == 0:
    a.append(i)
    n = n//i
  else:
    i += 1

print(*a)

72
2 2 2 3 3

In [ ]:
#4038 이해 못함
import math

def heron_area(x1, y1, x2, y2, x3, y3):
    a = math.sqrt((x2 - x1) ** 2 + (y2 - y1) ** 2)
    b = math.sqrt((x3 - x2) ** 2 + (y3 - y2) ** 2)
    c = math.sqrt((x1 - x3) ** 2 + (y1 - y3) ** 2)
    s = (a + b + c) / 2
    return math.sqrt(s * (s - a) * (s - b) * (s - c))

def intersection(x1, y1, x2, y2):
    if y1 * y2 < 0:  # 두 점이 수면을 기준으로 다른 쪽에 있을 때
        return x1 - y1 * (x2 - x1) / (y2 - y1), 0
    return None

def calculate_area_above_surface(x1, y1, x2, y2, x3, y3):
    points = []
    if y1 > 0:
        points.append((x1, y1))
    if y2 > 0:
        points.append((x2, y2))
    if y3 > 0:
        points.append((x3, y3))

    i1 = intersection(x1, y1, x2, y2)
    if i1:
        points.append(i1)

    i2 = intersection(x2, y2, x3, y3)
    if i2:
        points.append(i2)

    i3 = intersection(x3, y3, x1, y1)
    if i3:
        points.append(i3)

    if len(points) < 3:
        return 0

    points = sorted(points, key=lambda p: (p[0], p[1]))  # 점들을 정렬
    area = heron_area(points[0][0], points[0][1], points[1][0], points[1][1], points[2][0], points[2][1])

    return round(area)

# 입력 받기
x1, y1 = map(int, input().split())
x2, y2 = map(int, input().split())
x3, y3 = map(int, input().split())

# 결과 출력
print(calculate_area_above_surface(x1, y1, x2, y2, x3, y3))

-4 -1
6 -3
3 6
[(-3.0, 0), (3, 6), (5.0, 0)]
24

In [ ]:
#4039

from collections import deque

a, b = map(int, input().split())

mat = [list(map(int, input().split())) for _ in range(a)]

directions = [(-1, 0), (1, 0), (0, -1), (0, 1)]

visited = [[False] * b for _ in range(a)]

def is_valid(nr, nc, cr, cc):
    if 0 <= nr < a and 0 <= nc < b and not visited[nr][nc]:
        if abs(mat[nr][nc] - mat[cr][cc]) <= 1:
            return True
    return False

def bfs():
    queue = deque([(0, 0, 1)])
    visited[0][0] = True

    while queue:
        r, c, dist = queue.popleft()

        if r == a-1 and c == b-1:
            return dist

        for dr, dc in directions:
            nr, nc = r + dr, c + dc
            if is_valid(nr, nc, r, c):
                visited[nr][nc] = True
                queue.append((nr, nc, dist + 1))

    return 0

print(bfs())

4 4
7 9 8 5
6 3 2 4
5 4 1 5
2 6 1 1
9

In [ ]:
#4041
a = list(input())
print(f'{int("".join(a[::-1]))}\n{sum(map(int,a))}')

#####################GPT

a = input()[::-1]
print(f'{int(a)}\n{sum(map(int,a[::-1]))}')

320
23
5

In [ ]:
#4042

a = [list(map(int, input().split())) for i in range(5)]

b = [max(i) for i in a]
b = sum(b)

c = [a[0][i] for i in range(5)]

for i in range(5):
    for j in range(1, 5):
        if c[i] < a[j][i]:
            c[i] = a[j][i]
c = sum(c)

print(abs(b-c))

18 78 53 45 1
64 85 12 16 75
45 35 28 75 90
2 15 28 11 37
75 41 7 89 25

[75, 85, 53, 89, 90]

In [ ]:
#4045
def count_ways(n, m):
    print(n,m)
    if n == 0:
        return 1
    if n < 0 or m == 0:
        return 0
    return count_ways(n, m - 1) + count_ways(n - m, m)  # m명을 포함하지 않는 경우 + m명을 포함하는 경우

n, m = map(int, input().split())
print(count_ways(n, m))

In [ ]:
a = list(input())[::-1]
b = [bin(ord(i))[2:] for i in a]

c = [[] for _ in range(len(b))]

for i in range(len(b)):
    for bit in b[i]:
        if bit == '1':
            c[i].append('0')
        else:
            c[i].append('1')

for i in c:
  print(''.join(i))

test
0001011
0001100
0011010
0001011

In [ ]:
#4051

a = [list(map(float, input().split())) for i in range(5)]

b = 0
for i, j in a:
    o = min((j - i) - 1, 4)
    b += max(0, o)

t = 10000 * b
if b >= 15:
    t -= int(t * 0.05)
elif b <= 5:
    t += int(t * 0.05)

print(int(t))

16.0 21.0
16.5 21.5
17.5 21.5
19.5 24.0
22.5 24.0
15.0
142500

In [ ]:
#4052

a = input().split()

max_value, min_value = 0,1000000

for i in a:
  b = sum(map(int, list(i)))
  max_value = b if b > max_value else max_value
  min_value = b if b < min_value else min_value

print(max_value, min_value)

121 114 29 99 28 37 28 20 38 39
18 2

In [ ]:
#4056

a = int(input())

if 500 >= a:
  print(int(a*(70/100)))
elif 500 < a <= 1500:
  print(int(350+(a-500)*40/100))
elif 1500 < a <= 4500:
  print(int(750 + (a-1500)*15/100))
elif 4500 < a <= 10000:
  print(int(1200 + (a - 4500)*5/100))
elif 10000 < a:
  print(int(1475 + (a - 10000)*2/100))

1500
750

In [ ]:
#4057

a, b = map(int, input().split())

if a > b:
    a, b = b, a

p = [True] * (b + 1)
p[0] = p[1] = False
for i in range(2, int(b**0.5) + 1):
    if p[i]:
        for j in range(i * i, b + 1, i):
            p[j] = False

mm = [i for i in range(a, b + 1) if p[i]]


print(len(mm))
print(min(mm)+max(mm))

55731 38436
1603
94168

In [ ]:
#4062

import math
from functools import reduce #이터러블(iterable)에 포함된 모든 원소를 누적해서 하나의 값으로 줄이는

a = int(input())

b = list(map(int, input().split()))

def lcm(x, y):
    return x * y // math.gcd(x, y)

result = reduce(math.gcd, b)
lcm_result = reduce(lcm, b)

print(result)
print(lcm_result)

3
12 18 30
6
180

In [ ]:
#4066
n, m = map(int, input().split())

size = m+1

if n%size == 0:
  s = n//size*m
else:
  s = (n//size) * m + (n % size)

print(s)

8 2
6

In [ ]:
#4068 에라토스테네스의 체

n = int(input())

limit = 7368787
p = [True] * (limit+1)
p[0] = p[1] = False
for i in range(2, int(limit**0.5)+1):
    if p[i]:
        for j in range(i*i, limit+1, i):
            p[j] = False

a = [i for i, j in enumerate(p) if j]

print(a[n-1])

5
11

In [ ]:
#4072

tlen = input()
tem = max(list(map(float, input().split())))

print(tem)
print('red' if tem >= 35 else 'yellow' if tem >= 33 else 'green')

10
32.1 33.2 33.1 33.4 34.1 34.3 34.1 33.9 33.7 33.3
34.3
yellow

In [ ]:
#4073

def convert_base(n, base):
    digits = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ"
    result = ""

    while n > 0:
        result = digits[n % base] + result
        n //= base

    return result if result else "0"

n = int(input())
bases = list(map(int, input().split()))

c = [convert_base(n, base) for base in bases]
print(*c)

2017
30 21 13 14 8 19 7 8 11 35
277 4C1 BC2 A41 3741 5B3 5611 3741 1574 1MM

In [ ]:
#4076

m, v, r = map(int, input().split())

mildo = m/v

if r > mildo:
  print(f'{mildo:.02f} UP')
elif r == mildo:
  print(f'{mildo:.02f} STOP')
elif r < mildo:
  print(f'{mildo:.02f} DOWN')

4 2 1
2.00 DOWN

In [ ]:
# 4077

mc = list(map(int, input().split()))

mcl = [
    [(0, 30), (31, 80), (81, 150), (151, float('inf'))],
    [(0, 15), (16, 35), (36, 75), (76, float('inf'))],
    [(0, 30), (31, 90), (91, 150), (151, float('inf'))]
]

yi = ["Recommend", "Possible", "Careful", "Stop"]
color = ["Blue", "Green", "Yellow", "Red"]

top = []
for i, m in zip(mcl, mc):
    for h, c in zip(i, color):
        if h[0] <= m <= h[1]:
            print(m, c)
            top.append(c)
            break

for i in color[::-1]:
    if i in top:
        print(yi[color.index(i)])
        break

if sum(mc[:2])/2 >= 115:
  print("SMS")

155 80 30
155 Red
80 Red
30 Blue
Stop
117.5

In [ ]:
#4079

nums = {'0': 'zero', '1': 'one', '2': 'two', '3': 'three', '4': 'four', '5': 'five', '6': 'six', '7': 'seven', '8': 'eight', '9': 'nine'}

a = list(input())

a[0] = a[0].upper()

b = ''.join(a[1:]).lower()

a = list(a[0] + b)

for i in range(len(a)):
    if a[i] in nums:
        a[i] = nums[a[i]]
    elif a[i].lower() == 'i':
        if (i == 0 or a[i-1] == ' ') and (i == len(a)-1 or a[i+1] in [' ', '.', '!', '?']):
            a[i] = 'I'

print(''.join(a))

i have onLY 5 BALls.
I have only five balls.

In [ ]:
#4085
m, n, x, y = map(int, input().split())
matrix = [list(map(int, input().split())) for _ in range(n)]

max_fertility = 0

for i in range(n):
    for j in range(m):
        if i + y <= n and j + x <= m:
            current_fertility = sum(matrix[i+a][j+b] for a in range(y) for b in range(x))
            max_fertility = max(max_fertility, current_fertility)

print(max_fertility)

10 3 2 2
10 15 11 24 55 21 10 19 14 10
10 12 19 19 44 39 24 15 14 11
10 77 66 50 50 50 40 35 25 15
183

In [ ]:
#4421

n = int(input())
g = [list(map(int, input().strip())) for _ in range(n)]

dx = [-1, 1, 0, 0]
dy = [0, 0, -1, 1]

v = [[False] * n for _ in range(n)]

def dfs(x, y):
    s = [(x, y)]
    v[x][y] = True
    c = 1

    while s:
        cx, cy = s.pop()
        for i in range(4):
            nx, ny = cx + dx[i], cy + dy[i]
            if 0 <= nx < n and 0 <= ny < n and not v[nx][ny] and g[nx][ny] == 1:
                v[nx][ny] = True
                s.append((nx, ny))
                c += 1
    return c

cnt = 0
h = []

for i in range(n):
    for j in range(n):
        if g[i][j] == 1 and not v[i][j]:
            h.append(dfs(i, j))
            cnt += 1

h.sort()

print(cnt)
for x in h:
    print(x)

7
0110100
0110101
1110101
0000111
0100000
0111110
0111000
3
7
8
9

In [ ]:
#4423
a = [[0 for i in range(100)] for i in range(100)]

for _ in range(4):
  x1,y1,x2,y2 = map(int, input().split())
  for i in range(abs(y1 - y2)):
    for j in range(abs(x1 - x2)):
      a[y1+i][x1+j] = 1

b = 0
for i in a:
  b += sum(i)

print(b)

1 2 4 4
2 3 5 7
3 1 6 5
7 3 8 6
26

In [ ]:
#4424

a = int(input())

b = [float(input()) for i in range(a)]

dp = [0] * (a+1)
dp[0] = b[0]

maxx = dp[0]
for i in range(1, a):
  dp[i] = max(b[i], dp[i-1]*b[i])
  maxx = max(maxx, dp[i])

print(f'{maxx:.3f}')

8
1.1
0.7
1.3
0.9
1.4
0.8
0.7
1.4
1.638

In [ ]:
#4425

import re

sound = input()

pattern = re.compile(r'^(100+1+|01)+$')

if pattern.fullmatch(sound):
    print("SUBMARINE")
else:
    print("NOISE")

10011001100110010110011111111111111111111101
False

In [ ]:
#4428

import sys
sys.setrecursionlimit(100000)

n = int(input())
chord = [sorted(list(map(int, input().split()))) for i in range(n)]

dp = [[-1 for _ in range(105)] for _ in range(105)]

def f(s, e):
    if dp[s][e] != -1:
        return dp[s][e]
    dp[s][e] = 0
    for l, r in chord:
        if l < s or e < r:
            continue
        dp[s][e] = max(dp[s][e], f(s, l - 1) + f(l + 1, r - 1) + f(r + 1, e) + 1)
    return dp[s][e]

print(f(1, 100))

5
97 31
1 45
27 5
11 65
43 72
3

In [ ]:
#4434

def check(sequence):
    length = len(sequence)
    for i in range(1, length // 2 + 1):
        if sequence[-i:] == sequence[-2*i:-i]:
            return False
    return True

def back_tracking(N, a=""):
    if len(a) == N:
        print(a)
        return True

    for i in '123':
        if check(a + i):
            if back_tracking(N, a + i):
                return True

    return False

seven = int(input())
if back_tracking(seven) is True:
  pass

7
1213121

In [ ]:
#4438 우선순위 큐 문제

import heapq
from collections import deque

n = int(input())
mat = [list(map(int, input().strip())) for _ in range(n)]

q = [(0, 0, 0)]  # (변경 횟수, x 좌표, y 좌표)
heapq.heapify(q)

dir = [(-1, 0), (1, 0), (0, -1), (0, 1)]

changes = [[float('inf')] * n for _ in range(n)]
changes[0][0] = 0

while q:
    count, x, y = heapq.heappop(q)

    if x == n - 1 and y == n - 1:
        print(count)
        break

    for dx, dy in dir:
        nx, ny = x + dx, y + dy

        if 0 <= nx < n and 0 <= ny < n:
            new_changes = count if mat[nx][ny] == 1 else count + 1

            if new_changes < changes[nx][ny]:
                changes[nx][ny] = new_changes
                heapq.heappush(q, (new_changes, nx, ny))

8
11100110
11010010
10011010
11101100
01000111
00110001
11011000
11000111

IndexError: list index out of range

In [ ]:
#4439
def min_move_count(n, open1, open2, seq):
    dp = [[[float('inf')] * (n + 1) for _ in range(n + 1)] for _ in range(len(seq) + 1)]
    dp[0][open1][open2] = 0

    for i in range(len(seq)):
        next_cabinet = seq[i]
        for a in range(1, n + 1):
            for b in range(1, n + 1):
                if a == b:
                    continue
                current_moves = dp[i][a][b]
                if current_moves == float('inf'):
                    continue

                dp[i + 1][next_cabinet][b] = min(dp[i + 1][next_cabinet][b], current_moves + abs(a - next_cabinet))
                dp[i + 1][a][next_cabinet] = min(dp[i + 1][a][next_cabinet], current_moves + abs(b - next_cabinet))

    result = float('inf')
    for a in range(1, n + 1):
        for b in range(1, n + 1):
            if a == b:
                continue
            result = min(result, dp[len(seq)][a][b])

    return result

n = int(input())
open1, open2 = map(int, input().split())
k = int(input())
seq = [int(input()) for _ in range(k)]

print(min_move_count(n, open1, open2, seq))

7
2 5
4
3
1
6
5
5

In [ ]:
#4502

a = int(input())
b = list(map(int, input().split()))

c = []
for i,j in enumerate(b):
  c.insert(j, i+1)

c.reverse()

print(*c)

5
0 1 1 3 2
[4, 2, 5, 3, 1]

In [ ]:
#4503
from collections import deque

n = int(input())
m = int(input())

g = [[] for _ in range(n + 1)]
for _ in range(m):
    x, y = map(int, input().split())
    g[x].append(y)
    g[y].append(x)

def bfs(s):
    v = [False] * (n + 1)
    q = deque([s])
    v[s] = True
    c = 0

    while q:
        cur = q.popleft()
        for nb in g[cur]:
            if not v[nb]:
                q.append(nb)
                v[nb] = True
                c += 1

    return c

r = bfs(1)
print(r)

7
6
1 2
2 3
1 5
5 2
5 6
4 7
4

In [ ]:
#4506

a,b = map(int, input().split())

for i in range(min(a,b), 0,-1):
  if a%i==0 and b%i==0 :
    print(i)
    c = i
    break

d = min(a,b)
while True:
  if d%a==0 and d%b==0 :
    print(d)
    break
  d+=c

24 18
6
72

In [ ]:
#4506
a = [int(input()) for i in range(9)]
b = max([(i+1,j) for i,j in enumerate(a)], key=lambda x: x[1])
print(f'{b[1]}\n{b[0]}')

In [ ]:
#4531
a = [int(input()) for i in range(5)]
print(f'{sum(a)//5}\n{sorted(a)[2]}')

10
40
30
60
30
170
30

In [ ]:
#4532
a = int(input())
b = [int(i) for i in input()]

for i in range(len(b)):
  print(a*b[-(i+1)])
  b[-(i+1)] = int(str(a*b[-(i+1)]) + ('0'*i))

print(sum(b))

472
385
2360
3776
1416
181720

In [ ]:
#4536
a = [int(input()) for i in range(10)]
b = [(a.count(i), i) for i in set(a)]
print(sum(a)//10)
print(max(b, key=lambda x: x[0])[1])

10
40
30
60
30
20
60
30
0
50
33
30

In [ ]:
#4536
def sieve_of_eratosthenes(limit):
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False
    p = 2
    while (p * p <= limit):
        if is_prime[p]:
            for i in range(p * p, limit + 1, p):
                is_prime[i] = False
        p += 1
    return is_prime

def find_twin_primes(a, b):
    primes = sieve_of_eratosthenes(b)
    twin_primes = []

    for i in range(max(a, 2), b + 1):
        if primes[i]:
            twin_primes.append(i)

    return twin_primes

a = int(input())
b = int(input())

tw = find_twin_primes(a, b)

print(f'{sum(tw)}\n{tw[0]}' if len(tw) != 0 else -1)

1
500
21536
2

In [ ]:
#4546
import itertools

def sjs(arr):
    cmb = itertools.combinations(arr, 3)
    max_dgt = -1

    for c in cmb:
        cur_sum = str(sum(c))
        dgt = int(cur_sum[-1] )
        if dgt > max_dgt:
            max_dgt = dgt
    return max_dgt

b = reversed([(i, sjs(list(map(int, input().split())))) for i in range(1, int(input())+1)])
print(max(b, key=lambda x: x[1])[0])

3
7 5 5 4 9
1 1 1 1 1
2 3 3 2 10
1

In [ ]:
#4561

a = [int(input()) for i in range(7)]
b =sorted([i for i in a if i % 2 != 0]) + [0]
print(f'{sum(b)}\n{b[0]}' if sum(b) != 0 else -1)

2
4
6
3
2
2
10
-1

In [ ]:
#4562

a = int(input())
b = int(input())
c = int(input())

multiply = str(a * b * c)

for i in range(10):
  print(multiply.count(str(i)))

150
266
427
3
1
0
2
0
0
0
2
0
0

In [ ]:
#4564

def max_score(n, scores):
    if n == 1:
        return scores[0]
    elif n == 2:
        return scores[0] + scores[1]

    dp = [0] * n
    dp[0] = scores[0]
    dp[1] = scores[0] + scores[1]
    dp[2] = max(scores[0] + scores[2], scores[1] + scores[2])

    for i in range(3, n):
        dp[i] = max(dp[i-2] + scores[i], dp[i-3] + scores[i-1] + scores[i])

    return dp[n-1]

n = int(input())
scores = [int(input()) for _ in range(n)]

print(max_score(n, scores))

In [ ]:
#4571

a = int(input())
b = int(input())

c = []
for i in range(int(a**0.5), int(b**0.5)+1):
  if a <= i*i <= b:
    c.append(i*i)

if c:
  print(f'{sum(c)}\n{min(c)}')
else:
  print(-1)

60
100
245
64

In [ ]:
#4592
matr = [[0 for i in range(100)] for i in range(100)]

a = int(input())
b = [list(map(int, input().split())) for i in range(a)]

for i,j in b:
  for k in range(10):
    for n in range(10):
      matr[-(j+n)][i+k-1] = 1

area = 0
for i in matr:
  area += sum(i)

print(area)

In [ ]:
#4596
a = [list(map(int, input().split())) for _ in range(9)]
b = max([max(row) for row in a])

for i in range(9):
    if b in a[i]:
      print(f'{b}\n{i+1} {a[i].index(b)+1}')
      break

In [ ]:
#4621
n,k = map(int, input().split()); a = [i for i in range(1,n+1) if n%i==0]
print(a[k-1] if k < len(a) else 0)

1234 6
0

In [ ]:
#4626
a = int(input())
b = list(map(int, input().split()))
cg = 0
sh = 0
for i in b:
  if i == 0:
    sh = 0
  else:
    sh+=1
    cg += sh

print(cg)

10
1 0 1 1 1 0 0 1 1 0
10

In [ ]:
#4651
for i in [map(int, input().split()) for i in range(3)]:
  b = ''.join(map(str, i)).count('1') #등
  print('A' if b == 3 else 'B' if b ==2 else 'C' if b == 1 else 'D' if b ==0 else 'E')

0 1 0 1
1 1 1 0
0 0 1 1
2
3
2

In [ ]:
#4681
a = list(map(int, input().split()))
b = sum([i**2 for i in a])
print(b%10)

0 4 2 5 6
1

In [ ]:
#4691

def cal_prz(die):
    cnt = [0] * 7
    for d in die:
        cnt[d] += 1
    if 4 in cnt:
        e = cnt.index(4)
        return 50000 + e * 5000
    elif 3 in cnt:
        e = cnt.index(3)
        return 10000 + e * 1000
    elif cnt.count(2) == 2:
        es = [i for i in range(1, 7) if cnt[i] == 2]
        return 2000 + sum(e * 500 for e in es)
    elif 2 in cnt:
        e = cnt.index(2)
        return 1000 + e * 100
    else:
        return max(die) * 100

n = int(input())
mpz = 0
for _ in range(n):
    die = list(map(int, input().split()))
    prz = cal_prz(die)
    if prz > mpz:
        mpz = prz
print(mpz)

In [ ]:
#4711
a = [map(int, input().split()) for i in range(4)]

hs = 0
b = []
for i,j in a:
  hs += j
  hs -= i
  if hs > 10000:
    hs = 10000
  b.append(hs)

print(max(b))
##########################GPT(요청)
a = [map(int, input().split()) for i in range(4)]
hs = 0
b = [(hs := min(hs + j - i, 10000)) for i, j in a]
print(max(b))

0 32
3 13
28 25
39 0
84

In [ ]:
#4716
a = [map(int, input().split()) for i in range(10)]
hs = 0
b = [(hs := min(hs + j - i, 10000)) for i, j in a]
print(max(b))

In [ ]:
#4721
a = int(input())
b = [0, 0, 0]
p3 = [0, 0, 0]
p2 = [0, 0, 0]

for i in range(a):
    c = list(map(int, input().split()))

    for j in range(3):
        b[j] += c[j]

    for j in range(3):
        if c[j] == 3:
            p3[j] += 1
        elif c[j] == 2:
            p2[j] += 1

mx = max(b)

if b.count(mx) == 1:
    win = b.index(mx) + 1
    print(win, mx)
else:
    can = [i for i in range(3) if b[i] == mx]
    mx_p3 = max(p3[i] for i in can)

    if sum(1 for i in can if p3[i] == mx_p3) == 1:
        win = can[[p3[i] for i in can].index(mx_p3)] + 1
        print(win, mx)
    else:
        mx_p2 = max(p2[i] for i in can)
        if sum(1 for i in can if p2[i] == mx_p2) == 1:
            win = can[[p2[i] for i in can].index(mx_p2)] + 1
            print(win, mx)
        else:
            print(0, mx)

6
3 1 2
2 3 1
3 1 2
1 2 3
3 1 2
1 2 3
0 13
[13, 10, 13]

In [ ]:
#4726

n, k = map(int, input().split())
a = list(map(int, input().split()))

s = sum(a[:k])
m = s

for i in range(k, n):
    s += a[i] - a[i - k]
    if s > m:
        m = s

print(m)

10 5
3 -2 -4 -9 0 3 7 13 8 -3
31

In [ ]:
#4727 가장큰 i,j 값을 만족시키는것 연 a*b = gcd// lcm

import math

def find_numbers(G, L):
    mul = L // G
    a, b = 1, mul
    for i in range(1, int(math.sqrt(mul)) + 1):
        if mul % i == 0:
            j = mul // i
            if math.gcd(i, j) == 1:
                a, b = i, j

    return G * a, G * b

G, L = map(int, input().split())

x, y = find_numbers(G, L)
print(min(x, y), max(x, y))

6 180
30 36

In [ ]:
#4741

a,b = map(int, input().split())
c = int(input())

d = []
for i in [3600, 60]:
  d.append(c//i)
  c %= i


print((a+d[0]+1)%24 if d[1]+b > 60 else (a+d[0])%24, b+d[1]-60 if d[1]+b > 60 else b+d[1])

14 0
786
3 6

In [ ]:
#4746
a,b,c = map(int, input().split())
secc = int(input())

d = []
for i in [3600, 60,1]:
    d.append(secc//i)
    secc %= i

if d[2]+c > 60:
  b+=1

print((a+d[0]+1)%24 if d[1]+b > 60 else (a+d[0])%24, b+d[1]-60 if d[1]+b > 60 else b+d[1], c+d[2]-60 if d[2]+c > 60 else c+d[2] )

KeyboardInterrupt: Interrupted by user

In [ ]:
#4751
a = sorted([list(map(int,input().split())) for i in range(int(input()))], key = lambda x : x[2], reverse = True)

b, c = [], 0
for i in a:
  if c == 3:
    break

  if b.count(i[0]) != 2:
    print(i[0], i[1])
    b.append(i[0])
    c += 1

4
1 1 230
1 2 210
1 3 205
3 4 190
1 1
1 2
3 4

In [ ]:
a = sorted([list(map(int,input().split())) for i in range(int(input()))], key = lambda x : x[2], reverse = True)

print(a[0][0], a[0][1])
print(a[1][0], a[1][1])

if a[0][0] != a[1][0]:
  print(a[2][0], a[2][1])
else:
  for i in a[2:]:
    if i[0] != a[0][0]:
      print(i[0], i[1])
      break

In [ ]:
#4771
a = list(input())
b = 10
for i in range(1,len(a)):
  if a[i-1] != a[i]:
    b+=10
  else:
    b+=5

print(b)

()()()))(
80

In [ ]:
#4772
def calculate_ranks(people):
    n = len(people)
    ranks = [1] * n

    for i in range(n):
        for j in range(n):
            if i != j:
                if people[i][0] < people[j][0] and people[i][1] < people[j][1]:
                    ranks[i] += 1

    return ranks

people = [tuple(map(int,input().split())) for i in range(int(input()))]
print(*calculate_ranks(people))

2 2 1 2 5

In [ ]:
#4776

A = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
B = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L']

year = int(input())

print(f"{B[(year + 8) % 12]}{A[(year + 6) % 10]}")

In [ ]:
#4781
a,b = map(int, input().split())
board = [list(map(int, input().split())) for i in range(b)]


from collections import deque


n = len(board)
m = len(board[0])

dx = [-1, 1, 0, 0]
dy = [0, 0, -1, 1]

queue = deque()

for i in range(n):
    for j in range(m):
        if board[i][j] == 1:
            queue.append((i, j))

steps = 0

while queue:
    for _ in range(len(queue)):
        x, y = queue.popleft()

        for i in range(4):
            nx, ny = x + dx[i], y + dy[i]

            if 0 <= nx < n and 0 <= ny < m and board[nx][ny] == 0:
                board[nx][ny] = 1
                queue.append((nx, ny))

    steps += 1

for row in board:
    if 0 in row:
        print(-1)
        break
else:
    print(steps - 1)

5 3
0 -1 0 0 0
-1 -1 0 1 1
0 0 0 1 1
-1

In [ ]:
#4786

n, k = map(int, input().split())
medals = [tuple(map(int, input().split())) for i in range(n)]

sorted_medals = sorted(medals, key=lambda x: (-x[1], -x[2], -x[3]))

rank = 1
ranks = {}
previous = sorted_medals[0]

for i, country in enumerate(sorted_medals):
    if i == 0 or (country[1:] != previous[1:]):
        rank = i + 1
    ranks[country[0]] = rank
    previous = country

print(ranks[k])

KeyboardInterrupt: Interrupted by user

In [ ]:
#4801

a,b,c = map(int, input().split())
print(max(0,(a*b)-c))

250 2 140
360

In [ ]:
#4816
a = int(input())
c = []
for i in [300,60,10]:
  c.append(a//i)
  a %= i

print(' '.join(map(str, c)) if a == 0 else -1)

9840
32 4 0

In [ ]:
#4818
import math

def count_paths(N, M, K):
    if K == 0:
        # O가 없는 경우, 전체 경로의 수를 조합으로 계산
        return math.comb(N + M - 2, M - 1)
    else:
        O_row = (K - 1) // M
        O_col = (K - 1) % M

        paths_to_O = math.comb(O_row + O_col, O_col)

        paths_from_O = math.comb((N - 1 - O_row) + (M - 1 - O_col), M - 1 - O_col)

        return paths_to_O * paths_from_O

N, M, K = map(int, input().split())

result = count_paths(N, M, K)

print(result)

3 5 8
9

In [ ]:
#4831
a = int(input())
b = list(map(int, input().split()))
print(b.count(a))

1
2 3 4
0

In [ ]:
a = [input() for i in range(5)]

for i in range(15):
  for j in range(5):
    if i < len(a[j]):
      print(a[j][i], end='')

ABCDE
ABCDE
ABCDE
ABCDE
ABCDE
AAAAABBBBBCCCCCDDDDDEEEEE

In [ ]:
#4833

a = input()

gal,gg = 0,0
for i in range(len(a)):
  if a[i] == '(' :
    gal += 1
  else:
    gal -= 1
    if a[i-1] == '(':
      gg += gal
    else:
      gg += 1

print(gg)

()(((()())(())()))(())
17

In [ ]:
#4846
print(sum([j%i for i,j in [list(map(int, input().split())) for i in range(int(input()))]]))

5
24 52
13 22
5 53
23 10
7 70
[4, 9, 3, 10, 0]
26

In [ ]:
#4861
import math

n ,k = map(int, input().split())

grade = {
    1: {0: 0, 1: 0},
    2: {0: 0, 1: 0},
    3: {0: 0, 1: 0},
    4: {0: 0, 1: 0},
    5: {0: 0, 1: 0},
    6: {0: 0, 1: 0}
}

for i in range(n):
  se, hn = map(int, input().split())
  grade[hn][se] += 1

room = 0
for i in range(1,7):
  room += math.ceil(grade[i][1]/k) + math.ceil(grade[i][0]/k)

print(room)

2 2
1 1
0 1
2

In [ ]:
#4876

def classti(a,b):
    a = ''.join(a)
    b = ''.join(b)

    if a == b:
        return 'D'

    s,c,r,t = False, False, False, False

    if a.count('4') > b.count('4'):
        return 'A'
    elif a.count('4') < b.count('4'):
        return 'B'
    else:
      s = True

    if a.count('3') > b.count('3'):
        return 'A'
    elif a.count('3') < b.count('3'):
        return 'B'
    else:
        c = True

    if a.count('2') > b.count('2'):
        return 'A'
    elif a.count('2') < b.count('2'):
        return 'B'
    else:
        r = True

    if a.count('1') > b.count('1'):
        return 'A'
    elif a.count('1') < b.count('1'):
        return 'B'
    else:
        t = True

    if s and c and r and t:
        return 'D'

matchh = int(input())

for i in range(matchh):
  a = input().split()[1:]
  b = input().split()[1:]

  print(classti(a,b))

1
5 2 4 3 2 1
4 4 3 3 1
B

In [ ]:
#4891
a = input()
b = list(map(int, input().split()))
print(max(b)-min(b))

5
27 35 92 75 42
65

In [ ]:
#4901
b = [tuple(map(int, input().split())) for _ in range(int(input()))]

c = dict() #각 점마다 q로 가는 화살표
for i,j in b:
  if j not in c:
    c.update({j:[i]})
  else:
    c.update({j:c[j]+[i]})

total = 0
for k, j in c.items(): #그리디 알고리즘
  j.sort()
  if len(j) == 1:
    continue

  for i in range(len(j)):
    if i == 0:
        total += j[i+1] - j[i]
    elif i == len(j) - 1:
        total += j[i] - j[i-1]
    else:
        total += min(j[i] - j[i-1], j[i+1] - j[i])

print(total)

4
0 1
1 2
3 1
4 1
5

3
1 4
7 7
12 16
4
3
10

In [ ]:
#4991

a = [int(input()) for i in range(int(input()))]

mxc, vis = 0,0
for i in reversed(a):
  if i > mxc:
    mxc = i
    vis +=1

print(vis)

10
3
4
5
5
4
1
2
3
4
1
3

In [ ]:
#4917

a = int(input())

b = 0
for i in range(1, a+1):
  i = str(i)
  b += (i.count('3')+i.count('6')+i.count('9'))

print(b)

#########################GPT 약 80ms 감소

a = int(input())

cache = [0] * (a + 1)

b = 0
for i in range(1, a + 1):
    cache[i] = cache[i // 10] + (1 if i % 10 in [3, 6, 9] else 0)
    b += cache[i]

print(b)

3
1

In [ ]:
#4921
def count_divisible(a):
    dp = [0] * (a + 1)
    c = 0

    for i in range(1, a + 1):
        dp[i] = dp[i // 10] + (i % 10)
        if i % dp[i] == 0:
            c += 1

    return c

a = int(input())
print(count_divisible(a))

18
12

In [ ]:
#5039

a = input()

b = 1
c = [b := b*i for i in list(map(int, input().split()))]
print(b%2013)

5
2 3 2 5 4
240

In [ ]:
# 5043 (아래코드 뺴고 pypy3에서만 가능)

n = int(input())

gcd_n = [i for i in range(2, n+1) if n % i == 0]

gasu = 0
for i in range(1, n+1):
  g = True
  for j in range(1, i+1):
    if i%j == 0:
      if j in gcd_n and j != 1:
        g = False
        break

  if g:
    gasu += 1

print(gasu)

###

import math

n = int(input())

gcd_n = [i for i in range(2, n+1) if n % i == 0]

gasu = 0
for i in range(1, n+1):
    if all(math.gcd(i, x) == 1 for x in gcd_n):
        gasu += 1

print(gasu)

KeyboardInterrupt: Interrupted by user

In [ ]:
#5068
from datetime import datetime, timedelta

month = int(input())
day = int(input())


y = datetime.now().year
date = datetime(y, month, day)
s_date = datetime(y, 2, 18)

if date < s_date:
  print('Before')
elif date > s_date:
  print('After')
elif date == s_date:
  print('Special')

In [ ]:
#5069

a = input()
s1,s2 = a.count(':-)'), a.count(':-(')

if s1 == 0 and s2 == 0 :
  print('none')
elif s1 == s2:
  print('unsure')
elif s1 > s2:
  print('happy')
elif s1 < s2:
  print('sad')

:-( :-)
unsure

(1, 1)

In [ ]:
#5078

a = [int(input()) for i in range(3)]

if sum(a) > 180 or 180 > sum(a):
  print('Error')
elif a[0] == a[1] == a[2]:
  print('Equilateral')
elif a[0] == a[1] or a[1] == a[2] or a[2] == a[0]:
  print('Isosceles')
else:
  print('Scalene')

In [ ]:
#5079

input()
b = input()
c = b.count('A')
d = len(b) - c

print('A' if c > d else 'B' if c < d else 'Tie')

6
ABBABB
B

In [ ]:
 #5080
a, b = 100, 100
c = [list(map(int, input().split())) for i in range(int(input()))]

for i in c:
  if i[0] > i[1]:
    b -= i[0]
  elif i[0] < i[1]:
    a -= i[1]

print(a)
print(b)

4
5 6
6 6
4 3
5 2
94
91

In [ ]:
#5123
import itertools

a = int(input())*0
b = list(map(int, input().split()))

for i in itertools.combinations(b,2):
  if sum(i) % 3 == 0:
    a += 1

print(a)

5
1 4 2  3 3
(1, 2)
(4, 2)
(3, 3)
3

In [ ]:
#5298
def f(lft, tot, k, m):
    # 트레이닝 횟수(m)를 통해 캐릭터 레벨을 올리는 과정을 계산하는 함수
    # lft: 현재 레벨을 덜 올린 캐릭터 수, tot: 총 캐릭터 수, k: 캐릭터 그룹의 크기, m: 트레이닝 횟수
    # t는 총 트레이닝 후 레벨 상승량을 계산하여 각 캐릭터에 얼마씩 올릴지 계산
    t = (tot - lft) + k * m
    return t // tot, tot - t % tot  # t를 tot로 나눈 몫과 나머지를 반환

# 입력 처리: N명의 캐릭터 레벨과 트레이닝 정보 입력받기
N = int(input())  # 캐릭터 수
A = [0] + list(map(int, input().split()))  # 1-based index를 맞추기 위해 앞에 0 추가
M, K = map(int, input().split())  # 트레이닝 횟수(M)와 선택할 캐릭터 수(K)

# 캐릭터 레벨을 오름차순으로 정렬
A.sort()

# lb와 rb 설정: K번째 캐릭터를 기준으로 같은 레벨을 가진 캐릭터 범위를 찾음
lb, rb = K - 1, K + 1
# K번째 캐릭터와 같은 레벨을 가진 가장 왼쪽 캐릭터를 찾음
while lb > 0 and A[lb] == A[K]:
    lb -= 1
# K번째 캐릭터보다 같거나 더 높은 레벨을 가진 오른쪽 캐릭터를 찾음
while rb <= N and A[rb] <= A[K] + 1:
    rb += 1

# 레벨이 같은 캐릭터의 수와 그 그룹의 총 캐릭터 수를 계산
lcnt = A.count(A[K])  # K번째 캐릭터와 같은 레벨을 가진 캐릭터 수
tot = rb - lb - 1  # 그 그룹에 속한 캐릭터의 총 수
tm = M  # 남은 트레이닝 횟수 저장
st = A[K]  # K번째 캐릭터의 현재 레벨

# 트레이닝을 통해 캐릭터들의 레벨을 올림
while lb > 0 or rb <= N:
    if M == 0:  # 트레이닝 횟수가 0이 되면 종료
        break

    lm, rm = M + 1, M + 1  # 왼쪽(lm)과 오른쪽(rm)에서 가능한 최소 트레이닝 횟수 초기화
    if lb > 0:
        # 왼쪽 캐릭터 그룹에서 트레이닝 횟수 계산 (이진 탐색)
        l, r = 0, M
        while l <= r:
            m = (l + r) // 2
            t_first, t_second = f(lcnt, tot, K - lb, m)
            # 트레이닝 후 예상 레벨이 현재 왼쪽 캐릭터 레벨 이상인지 확인
            if A[lb] + (tm - M) + m >= st + t_first:
                r = m - 1
            else:
                l = m + 1
        lm = l

    if rb <= N:
        # 오른쪽 캐릭터 그룹에서 트레이닝 횟수 계산 (이진 탐색)
        l, r = 0, M
        while l <= r:
            m = (l + r) // 2
            t_first, t_second = f(lcnt, tot, K - lb, m)
            # 트레이닝 후 예상 레벨이 현재 오른쪽 캐릭터 레벨 이상인지 확인
            if st + t_first + (t_second < tot) >= A[rb]:
                r = m - 1
            else:
                l = m + 1
        rm = l

    # 가장 적은 트레이닝 횟수를 선택하여 캐릭터들의 레벨을 올림
    if lm > M and rm > M:
        t_first, t_second = f(lcnt, tot, K - lb, M)
        st += t_first  # 예상된 레벨 상승을 적용
        lcnt = t_second
        M = 0
        break

    # 최소 트레이닝 횟수만큼 레벨을 올림
    t_first, t_second = f(lcnt, tot, K - lb, min(lm, rm))
    st += t_first  # 예상된 레벨 상승을 적용
    lcnt = t_second  # 트레이닝 후 남은 캐릭터 수를 계산
    M -= min(lm, rm)  # 트레이닝 횟수 차감
    # 오른쪽 그룹이 더 효율적이면 오른쪽으로 이동
    if lm >= rm:
        rb += 1
        if lcnt == tot:
            lcnt += 1  # 추가 트레이닝이 필요한 캐릭터가 있으면 증가
    else:  # 왼쪽 그룹이 더 효율적이면 왼쪽으로 이동
        lb -= 1
        lcnt += 1  # 트레이닝이 필요한 캐릭터 수 증가
    tot += 1  # 총 캐릭터 수 증가

# 마지막 남은 트레이닝 횟수로 캐릭터의 레벨을 계산
t_first, t_second = f(lcnt, tot, K - lb, M)
st += t_first
lcnt = t_second

# 트레이닝 후 레벨 적용
for i in range(1, lb + 1):
    A[i] += tm
for i in range(lb + 1, rb):
    if i - lb <= lcnt:
        A[i] = st
    else:
        A[i] = st + 1

# 결과 출력
for i in range(1, N + 1):
    print(A[i], end=" ")

5
5 1 7 5 4
4 3
5 7 7 7 8

In [ ]:
#5301

n, k, p = map(int, input().split())

A = list(map(int, input().split()))

res = 0

for i in range(n):
    cnt = 0

    for j in range(k):
        if A[i*k+j] == 0:
            cnt += 1

    if cnt < p:
        res += 1

print(res)

In [ ]:
from collections import Counter

c = input()
b = list(map(int, input().split()))
#Counter 조건넣어주고 이에 맞게 딕셔너리로 나눠줌 나머지로 나눔

mod_count = Counter(x % 3 for x in b) #b원소중 3으로 나누어 지는거 찾
print(mod_count)

#3으로 나누었을 때 나머지가 같은 것끼리의 쌍을 계산
a = (mod_count[0] * (mod_count[0] - 1) // 2) + (mod_count[1] * mod_count[2])

print(a)

5
1 4 2 2 3
Counter({1: 2, 2: 2, 0: 1})
4

In [ ]:
a = int(input())
b = int(input())
c = int(input())

if a + b + c == 180:
  if a == b == c == 60:
    print("Equilateral")
  elif a + b + c == 180 and (a == b or b == c or c == a):
    print("Isosceles")
  else:
    print("Scalene")
else:
  print("Error")

In [ ]:
#2030
a = [['.'] * 60 for _ in range(30)]

for _ in range(int(input())):
    cmd = input().split()
    name, x1, y1, x2, y2 = cmd[0], int(cmd[1]) - 1, int(cmd[2]) - 1, int(cmd[3]) - 1, int(cmd[4]) - 1

    # 윈도우 상단 테두리
    a[y1][x1] = '+'
    for j in range(x1 + 1, min(x2, x1 + len(name) + 1)):
        a[y1][j] = name[j - x1 - 1]
    for j in range(x1 + len(name) + 1, x2):
        a[y1][j] = '-'
    a[y1][x2] = '+'

    # 윈도우 중간 부분
    for i in range(y1 + 1, y2):
        a[i][x1] = '|'
        for j in range(x1 + 1, x2):
            a[i][j] = ' '
        a[i][x2] = '|'

    # 윈도우 하단 테두리
    a[y2][x1] = '+'
    for j in range(x1 + 1, x2):
        a[y2][j] = '-'
    a[y2][x2] = '+'

# 결과 출력
for row in a:
    print("".join(row))

1
ie9 2 3 15 6
............................................................
............................................................
.+ie9---------+.............................................
.|            |.............................................
.|            |.............................................
.+------------+.............................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................

In [ ]:
#2036

import re

def df(eq):
    ts = eq.split('+')
    dt = []
    for t in ts:
        m = re.match(r'(\d+)\*x\^(\d+)', t)
        if m:
            c = int(m.group(1))
            p = int(m.group(2))
            if p > 0:
                nc = c * p
                np = p - 1
                dt.append(f'{nc}*x^{np}')
            elif p == 0:
                continue
    return '+'.join(dt)

def it(eq):
    ts = eq.split('+')
    it = []
    for t in ts:
        m = re.match(r'(\d+)\*x\^(\d+)', t)
        if m:
            c = int(m.group(1))
            p = int(m.group(2))
            np = p + 1
            nc = c // np
            it.append(f'{nc}*x^{np}')
    return '+'.join(it) + '+c'

n = int(input())
for _ in range(n):
    eq = input().strip()
    print(df(eq), it(eq))

1
4*x^3
12*x^2 1*x^4+c

In [ ]:
#2038

hp = sum(map(int, input().split()))

sword = int(input())
g_sword = sword

buff = list(map(str, input().split()))

mob_s, mob_hp = map(int, input().split())

i = 0 if buff[0] == '0' else int(buff[-1])
while mob_hp > 0 or hp > 0:
  hp -= mob_s

  if buff[0] == '1' and i != 0:
    if '*' in buff or '*' in buff[1]:
      if len(buff[1]) == 1:
        sword *= int(buff[2])
      else:
        sword *= int(buff[1][1:])
    else:
      if len(buff[1]) == 1:
        sword += int(buff[2])
      else:
        sword += int(buff[1][1:])
    i -= 1
  else:
    sword = g_sword

  mob_hp -= sword

print(0 if mob_hp > hp else 1)

1 2 5 4
3
1 * 2 4
12 13

ValueError: invalid literal for int() with base 10: ''

In [ ]:
#2044
a = input()
a = list(a[a.rfind('C') + 1:])

while 'A' in a or 'B' in a:
    if 'B' in a and a.index('B') <= a.index('A'):
        idx = a.index('B')
        del a[idx-2:idx+1]
    elif 'A' in a:
        idx = a.index('A')
        del a[idx-1:idx+1]

print("".join(a))

011B1C11A122B11A
111

In [ ]:
# 2081
a = [input() for i in range(9)]
b = [(i+1,j) for i,j in enumerate(a)]
c = max(b, key=lambda x: x[1])
print(f'{c[1]}\n{c[0]}')

1
9
9
2

In [ ]:
n,k = map(int, input().split())
c = list(map(int, input().split()))
print(c.index(k)+1 if k in c else -1)

5 3
5 2 9 7 3
5

In [ ]:
a,b,c,d = map(int, input().split())

e = [a] #시작값
for i in range(1,d):
  e.append(e[i-1]*b+c)

print(e[d-1])

1 -2 1 8
-85

In [ ]:
from math import comb

def solve(n, m, k, p):
    abs_n = abs(n)
    abs_m = abs(m)

    if n == 0 or m == 0: #특수경

        total_distance = abs_n + abs_m + 2

        total_paths = comb(total_distance, 2)

        if n == 0:
            extra_turns = abs_m
        else:
            extra_turns = abs_n

        if k == 0:
            valid_paths = total_paths - 2 + extra_turns
        else:
            valid_paths = total_paths - 3 + extra_turns
    else: #일반
        total_distance = abs_n + abs_m
        total_paths = comb(total_distance, abs_n)


        if k == 1:
            valid_paths = total_paths - 3
        else:
            valid_paths = total_paths - 2

    if valid_paths < 0:
        valid_paths = 0

    if p > 0:
        valid_paths = valid_paths % p

    return total_distance, valid_paths

n, m, k, p = map(int, input().split())
distance, num_paths = solve(n, m, k, p)
print(distance, num_paths)

-18 0 1 277
20 205

In [ ]:
from math import comb

def solve(n, m, k, p):
    abs_n = abs(n)
    abs_m = abs(m)

    if n == 0 or m == 0:  # 특수 경로: 직선 경로

        total_distance = abs_n + abs_m + 2

        total_paths = comb(total_distance, 2)

        if n == 0:
            extra_turns = abs_m
        else:
            extra_turns = abs_n

        if k == 0:
            valid_paths = total_paths - 2 + extra_turns
        else:
            valid_paths = total_paths - 3 + extra_turns
    else: #일반일때
        total_distance = abs_n + abs_m
        total_paths = comb(total_distance, abs_n)


        if k == 1:
            valid_paths = total_paths - 3
        else:
            valid_paths = total_paths - 2

    if valid_paths < 0:
        valid_paths = 0

    if p > 0:
        valid_paths = valid_paths % p

    return total_distance, valid_paths

n, m, k, p = map(int, input().split())
distance, num_paths = solve(n, m, k, p)
print(distance, num_paths)

-18 0 1 277
20 151

65

495

In [ ]:
#6101
import numpy as np
print('1.24.3')
a =np.zeros(10)
print(a)
a[4] = 1
print(a)

1.24.3
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]

In [ ]:
#6102
import numpy as np
print(np.arange(10, 50))
print(np.arange(49,9,-1))
print(np.arange(0, 9).reshape(3,3))
print((np.nonzero([1,2,0,0,4,0])))
print(np.eye(3,3))

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49]
[49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26
 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10]
[[0 1 2]
 [3 4 5]
 [6 7 8]]
(array([0, 1, 4]),)
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

In [ ]:
#6103
import numpy as np

np.random.seed(32)

array_3x3x3 = np.random.random((3, 3, 3))
print(array_3x3x3)

array_10x10 = np.random.random((10, 10))
min_value = array_10x10.min()
max_value = array_10x10.max()
print(f"{min_value} {max_value}")

array_30 = np.random.random(30)
mean_value = array_30.mean()
print(mean_value)

In [ ]:
import numpy as np

array_10x10_border = np.ones((10, 10))
array_10x10_border[1:-1, 1:-1] = 0
print(array_10x10_border)

checkerboard_8x8 = np.zeros((8, 8), dtype=int) # dtype이 있냐에 따라서 숫자뒤 . 여부
checkerboard_8x8[1::2, ::2] = 1
checkerboard_8x8[::2, 1::2] = 1
print(checkerboard_8x8)

[[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]]
[[0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]]

In [ ]:
#6130
a = input()
b = int(a[:a.find('x')])
c = int(a[a.find('x')+2:])

print(f"{(c/b) if a[a.find('x')+1] == '+' else -(c/b):.02f}")

5x+4
-0.80

In [ ]:
#6131
a = input()
b =int(a[a.find('x')+2:a.find('=')])
c = int(a[a.find('=')+1:])
d = b+c if a[a.find('x')+1] == '-' else c-b

print(f"{d/int(a[:a.find('x')]):.02f}")

4x-3=2
1.25

In [ ]:
5/4

1.25